$font-size-title-18: calc(18px + (23 - 13) * ((100vw - 480px) / (1600 - 480)));
$font-size-title-20: calc(20px + (25 - 15) * ((100vw - 480px) / (1600 - 480)));
$font-size-title-21: calc(21px + (26 - 16) * ((100vw - 480px) / (1600 - 480)));
$font-size-title-22: calc(22px + (27 - 17) * ((100vw - 480px) / (1600 - 480)));

open-cita {
  // .android {
  //   .citamed-cita-slot {
  //     font-family: 'Roboto', sans-serif;
  //     font-size  : 20px;
  //     font-weight: 900;
  //   }
  // }
  //
  // .ios {
  //   .citamed-cita-slot {
  //     font-family: 'Roboto', sans-serif;
  //     font-size  : 20px;
  //     font-weight: 900;
  //   }
  // }


  .slot-date {
    font-family  : 'Proxima Nova', sans-serif;
    font-size    : $font-size-title-21;
    font-weight  : 200;
    margin-bottom: 0;
    margin-top   : 0;
    // margin-left: 8px;
  }
}
