<ion-label text-wrap style="margin: 0px;">
  <span class="citamed-cita-slot">{{cita.getHour() | number :'2.0-0'}}:{{cita.getMinutes() | number :'2.0-0'}}</span>
  <span class="slot-date">{{getAppointmentDateDisplay()}}</span><br />
  <div class="slot-date">
    Cita en {{getMinutes2Expire()}}
  </div>
</ion-label>
