<!-- H E A D E R -->
<app-header id="app-header"></app-header>
<!-- C I T A C I O N E S   P A G E -->
<div class="page-container page-container-row">
  <div class="page-container-column">
    <!-- P A T I E N T   A P P O I N T M E N T   C O L L E C T I O N -->
    <div *ngIf="phase === '-PATIENT-DATA-'" class="page-card">
      <c-patient-appointments-panel id="c-patient-appointments-panel" [container]="self" [title]="'Orígenes de Citas'"
                                    [patientData]="transferPatientData()" (selectedOrigin)="onActivateSelected($event)"></c-patient-appointments-panel>
    </div>
    <!-- P A T I E N T   D A T A   P A N E L-->
    <c-patient-panelv2 id="c-patient-panelv2" [title]="'Datos del Paciente'" [container]="self"
                       (patientDataOutput)="onPatientData($event)"></c-patient-panelv2>
  </div>

  <!-- E S P E C I A L I D A D E S -->
  <div class="page-card page-container-column">
    <div *ngIf="phase === '-PATIENT-DATA-'">
      <c-specialities-panel id="c-specialities-panel" [title]="'Especialidades'"></c-specialities-panel>
    </div>
    <!-- A C T O S   M E D I C O S -->
    <div *ngIf="phase === '-PATIENT-DATA-'">
      <medical-acts-panel id="medical-acts-panel" [title]="'Actos Médicos'"></medical-acts-panel>
    </div>
  </div>

  <div *ngIf="phase === '-PATIENT-DATA-'" class="page-card">
    <c-calendar-free-slots-panel id="c-calendar-free-slots-panel" [container]="self" [show]="showCalendar"
                                 [source]="transferSelectedOrigin()" [title]="'Selector de Fecha'"></c-calendar-free-slots-panel>
  </div>
  <div *ngIf="phase === '-PATIENT-DATA-'" class="page-card">
    <c-appointment-list-panel id="c-appointment-list-panel" [container]="self" [show]="showAppointments"
                              [source]="transferSelectedOrigin()" [title]="'Huecos Libres'"
                              [variant]="'-CITACIONES-PAGE-'"></c-appointment-list-panel>
  </div>
</div>
<!-- M E N U B A R -->
<ui-menu-bar id="ui-menu-bar"></ui-menu-bar>
