.cm-calendar-inline-panel {
  margin-left     : 16px;
  display         : inline-block;
  width           : auto;
  background-color: white;
  opacity         : 0.95;
}

.tabset-header {
  background-color: white;
  opacity         : 0.80;
  border-radius   : 8px;
  font-family     : 'Roboto';
  font-size       : 14px;
  font-weight     : 400;
}
ul {
  background-color: white;
  opacity         : 0.80;
  border-radius   : 8px;
  font-family     : 'Roboto';
  font-size       : 14px;
  font-weight     : 400;
}

li.active {
  color      : blue;
  font-weight: 800;
}
