<!-- T O O L B A R -->
<div class="cc-toolbar-panel">
  <div>
    <ion-card>
      <ion-card-header>
        <ion-label text-wrap class="cc-toolbal-title">
          <i class="fas fa-bars toolbar-bars" aria-hidden="true"></i>
          <span style="margin-left: 6px;">Herramientas</span>
        </ion-label>
      </ion-card-header>

      <ion-list class="cc-toolbar-horizontal" style="padding: 4px;">
        <div class="toolbar-dropable-tool">
          <div droppable [dropScope]="'-MEDICO-'" (onDrop)="onDrop2DisableService($event)" class="cc-tooltip">
            <i class="fas fa-trash-alt toolbar-icon" aria-hidden="true"></i><span class="toolbar-label">Desactivar</span>
            <span class="tooltiptext tooltip-right">Herramienta para desactivar un
              Medico/Servicio. ¡Atención!. Una vez desactivado no es posible volver a
              activarlo.</span>
          </div>
        </div>
        <div class="toolbar-tool" (click)="createNewService()">
          <div class="cc-tooltip">
            <i class="fa fa-plus-square toolbar-icon" aria-hidden="true"></i><span class="toolbar-label">Nuevo</span>
            <span class="tooltiptext tooltip-right">Click en esta herramienta para crear un
              nuevo
              servicio.</span>
          </div>
        </div>
        <div *ngIf="editingService" class="toolbar-tool" (click)="createNewMedicalAct()">
          <div class="cc-tooltip">
            <i class="fa fa-plus-square toolbar-icon" aria-hidden="true"></i>
            <i class="fa fa-tasks toolbar-icon" aria-hidden="true"></i><span class="toolbar-label">Nuevo
              Acto Médico</span>
            <span class="tooltiptext tooltip-right">Click en esta herramienta para añadir un
              acto
              médico al servicio qeu se encuentra en edición.</span>
          </div>
        </div>
      </ion-list>
    </ion-card>
  </div>
</div>
<!-- D I A L O G S -->
<jw-modal id="deactivate-service">
  <ion-card>
    <ion-card-header>
      <ion-label text-wrap class="cc-container-title">
        <span>Desactivar Médico/Servicio</span>
      </ion-label>
    </ion-card-header>
    <div style="font-size: 16px; margin: 16px;">Recuerde que esta accion no se puede deshacer.
      Una
      vez desactivado un
      médico o servicio solamente es
      posible
      volver a recuperar el identificador a través de los servicios de mantenimiento del
      aplicativo.</div>
    <div style="font-size: 16px; margin: 16px; margin-bottom: 32px;">Por ello se requiere validar
      la operación con una
      credencial que
      disponga del privilegio de administración.</div>
    <ion-card-header>
      <ion-label text-wrap class="cc-container-title" id="ts20">
        <span>Datos del Médico/Servicio</span>
      </ion-label>
    </ion-card-header>
    <ion-label class="service-data">
      {{targetService.tratamiento}} {{targetService.nombre}} {{targetService.apellidos}}<br>
      <span id="ts18">ESPECIALIDAD</span><br>
      {{targetService.especialidad}}
    </ion-label>

    <ion-card-content style="margin: 8px;">
      <ion-card>
        <ion-card-header>
          <ion-label text-wrap class="cc-container-title">
            <span>Intruduzca credenciales de desactivación</span>
          </ion-label>
        </ion-card-header>
        <form #validationForm="ngForm" autocomplete="off">
          <!-- C O N T R A S E Ñ A -->
          <div *ngIf="!validated; else validatedIsOk" class="citamed-form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control citamed-form-control" style="font-family: Roboto;"
                   required minlenght="4" [ngClass]="{'citamed-form-input-green': password.valid}"
                   [(ngModel)]="passwordValidacion" name="password" #password="ngModel" #spy>
            <div [hidden]="password.valid" class="alert alert-danger input-error-message">
              <div *ngIf="password.errors?.required">
                Contraseña es un campo requerido.
              </div>
              <div *ngIf="password.errors?.minlength">
                Contraseña debe tener al menos 4 caracteres.
              </div>
            </div>
            <div *ngIf="development">
              Field Class: {{spy.className}}<br>
            </div>
          </div>
          <ng-template #validatedIsOk class="citamed-form-group">
            <label for="password">Contraseña</label>
            <div class="form-control untouchable-form-item" style="margin-bottom: 16px;">
              ************
            </div>
          </ng-template>

          <!-- V A L I D A T E   P A S S W O R D   B U T T O N -->
          <div *ngIf="!validated" id="centered-container">
            <button type="submit" class="btn validate-button" (click)="validateCredential()"
                    [disabled]="!validationForm.form.valid">
              <span *ngIf="!validating"><i class="fa fa-check" aria-hidden="true"></i>
                &nbsp;&nbsp;Validar Password</span>
              <span *ngIf="validating"><i class="fa fa-cog fa-spin" id="ts24" aria-hidden="true"></i>
                &nbsp;&nbsp;Validando...</span>
            </button>
          </div>

          <div id="centered-container">
            <button type="submit" class="btn deactivate-button" (click)="disableService()"
                    [disabled]="!validated">
              <span *ngIf="!deactivating"><i class="fas fa-times" aria-hidden="true"></i>
                &nbsp;&nbsp;Desactivar Servicio</span>
              <span *ngIf="deactivating"><i class="fa fa-cog fa-spin" aria-hidden="true"></i>
                &nbsp;&nbsp;Desactivando...</span>
            </button>
          </div>

          <div id="centered-container">
            <button type="submit" class="btn cancel-button" (click)="cancelDisable()">
              <i class="fas fa-times" aria-hidden="true"></i>
              &nbsp;&nbsp;Cancelar Desactivación
            </button>
          </div>
        </form>
      </ion-card>
    </ion-card-content>
  </ion-card>
</jw-modal>
