.info-message {
  background   : white;
  border-radius: 8px;
  color        : black;
  font-family  : 'Proxima Nova';
  font-size    : 30px;
  margin       : 16px auto 32px;
  opacity      : 0.7;
  padding      : 16px;
  text-align   : center;
}
