<!-- H E A D E R -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="menu-title">Inicio</ion-title>
  </ion-navbar>
</ion-header>

<!-- P A G E   C O N T E N T -->
<ion-content padding style="background: transparent;">
  <!-- <div *ngIf="!processing"> -->
  <!-- C R E D E N T I A L   E M P T Y -->
  <div *ngIf="!isCredentialValid()">
    <h2 class="info-message">Se necesitan algunos datos del paciente para poder reservar citas. Por
      favor rellene el formulario.</h2>
    <button ion-button class="cp-button button-color-green" id="bt-height4" (click)='openCredentialForm()'>Ir
      a Datos de Paciente</button>
  </div>
  <!-- C R E D E N T I A L   V A L I D -->
  <div *ngIf="isCredentialValid()">
    <ion-card class="cp-card">
      <ion-card-header>
        <span class="container-title">Datos Paciente</span>
      </ion-card-header>

      <ion-card-content>
        <ion-label class="citamed-label">IDENTIFICADOR</ion-label>
        <ion-label class="patient-data">{{credential.getIdentificador()}}</ion-label>
        <ion-label class="citamed-label">NOMBRE</ion-label>
        <ion-label class="patient-data">{{credential.getNombre()}}</ion-label>
        <ion-label class="citamed-label">TELÉFONO DE CONTACTO</ion-label>
        <ion-label class="patient-data">{{credential.getTelefonoContacto()}}</ion-label>
        <ion-label class="citamed-label proxima-black-ff">CORREO ELECTRÓNICO</ion-label>
        <ion-label class="patient-data">{{credential.getEmail()}}</ion-label>
        <div *ngIf="credential.hasInsurance()">
          <ion-label class="citamed-label">ASEGURADORA</ion-label>
          <ion-label class="patient-data">{{credential.getInsuranceName()}}</ion-label>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="citamed-block">
      <button ion-button class="cp-button button-color-green" id="bt-height3" (click)='newAppointment();'>Buscar
        por Especialidad</button>
      <button ion-button class="cp-button button-color-orange" id="bt-height3" (click)="clearCredential();">Borrar
        Datos Paciente</button>
    </div>
  </div>
  <!-- </div> -->
</ion-content>
