$border-radius: 8px;
$acto-medico-item-color: #aa00ff; // 50%
$acto-medico-item-background: #eeccff; // 90%
$tiemporequerido-color: orange;

.acto-medico-item {
  border       : 2px solid $acto-medico-item-color;
  border-radius: 8px;
  cursor       : pointer;
  margin       : 4px;
}

.acto-medico-item:hover {
  background-color: $acto-medico-item-background;
}

.acto-medico-label {
  border        : 3px solid blue;
  border-radius : $border-radius;
  display       : inline-block;
  font-family   : 'Prototype', sans-serif;
  font-size     : 21px;
  margin        : 2px;
  padding       : 2px 0;
  text-align    : center;
  vertical-align: middle;
  width         : 39px;
}

.acto-medico-nombre {
  font-family   : 'Proxima Nova', sans-serif;
  font-size     : 15px;
  font-weight   : 200;
  text-transform: uppercase;
  vertical-align: middle;
}

.acto-medico-tiempoRequerido {
  color      : $tiemporequerido-color;
  display    : inline-block;
  font-family: 'Prototype', sans-serif;
  font-size  : 15px;
  margin     : 4px;
}

// - PANEL COLORS
$panel-red: #FF0000; // Red 50%
$panel-red-90: #FFCCCC; // Red 90%
$panel-red-10: #330000; // Red 10%
$panel-pink: #ff00ff; // Red 50%
$panel-pink-90: #FFCCFF; // Red 90%
$panel-pink-10: #660033; // Red 10%
$panel-orange: #FF3300; // Orange 50%
$panel-orange-90: #FFD6CC; // Orange 90%
$panel-orange-10: #4D0D00; // Orange 15%
$panel-yellow: #FFFF00; // Yellow 50%
$panel-yellow-90: #ffff99; // Yellow 80%
$panel-yellow-10: #333300; // Yellow 10%
$panel-lime: #99FF33; // Lime 50%
$panel-lime-90: #E6FFCC; // Lime 80%
$panel-lime-10: #1A3300; // Lime 10%
$panel-green: #009900; // Lime 50%
$panel-green-90: #B3FFB3; // Lime 80%
$panel-green-10: #003300; // Lime 10%
$panel-lightblue: #00ffcc; // Lime 50%
$panel-lightblue-90: #ccfff5; // Lime 80%
$panel-lightblue-10: #003329; // Lime 10%
$panel-blue: #0066cc; // Lime 50%
$panel-blue-90: #cce6ff; // Lime 80%
$panel-blue-10: #001a33; // Lime 10%
$panel-violet: #cc33ff; // Lime 50%
$panel-violet-90: #f2ccff; // Lime 80%
$panel-violet-10: #4D004D; // Lime 10%

$panel-white: #FFFFFF; // Lime 50%
$panel-white-90: #e6e6e6; // Lime 80%
$panel-white-10: #262626; // Lime 10%
$panel-darkgrey: #808080; // Lime 50%
$panel-darkgrey-90: #cccccc; // Lime 80%
$panel-darkgrey-10: #1a1a1a; // Lime 10%


.rojo {
  background-color: $panel-red;
  opacity: 0.5;
}
.rosa {
  background-color: $panel-pink;
  opacity: 0.5;
}
.naranja {
  background-color: $panel-orange;
  opacity: 0.5;
}
.amarillo {
  background-color: $panel-yellow;
  opacity: 0.5;
}
.lima {
  background-color: $panel-lime;
  opacity: 0.5;
}
.verde {
  background-color: $panel-green;
  opacity: 0.5;
}
.azulclaro {
  background-color: $panel-lightblue;
  opacity: 0.5;
}
.azul {
  background-color: $panel-blue;
  opacity: 0.5;
}
.violeta {
  background-color: $panel-violet;
  opacity: 0.5;
}
