<!-- P A G E   C O N T E N T -->
<div *ngIf="show">
  <div>
    <ion-card class="citamed-card">
      <ion-card-header class="card-header-margin">
        <span class="container-title">{{title}}</span>
      </ion-card-header>

      <ion-card-content style="margin: 8px;">
        <div draggable [dragScope]="'-ALLOWED-'" [dragData]="node" class="limiting-rule-available"
             *ngFor="let node of renderNodeList">
          <limitador-blocking *ngIf="node.tipo === '-BLOCKING-'" style="min-height: 50px;" [viewer]="getViewer()"
                              [node]="node" [variant]="'-AVALABLE-'"></limitador-blocking>
          <limitador-percentage *ngIf="node.tipo === '-PERCENT-'" style="min-height: 50px;"
                                [viewer]="getViewer()" [node]="node" [variant]="'-AVALABLE-'"></limitador-percentage>
        </div>
      </ion-card-content>
    </ion-card>
</div>
</div>
