$border-radius-base: 4px;

.limit-box{
  border-radius: $border-radius-base;
  border: 1px solid black;
}
// .limiting-rule-available{
//   border: 1px solid black;
//   border-radius: $border-radius-base;
// // column-count: 2;
// }
