<div class="cc-flex">
  <!-- T A R G E T   P L A C E H O L D E R -->
  <div *ngIf="getNodeClass() == 'ActoMedicoCentro'" style="display: inline-block; vertical-align: top;">
    <cc-acto-medico-centro [node]="getNode()" [container]="self" [variant]="'-PENDING-'"></cc-acto-medico-centro>
  </div>
  <div *ngIf="getNodeClass() == 'Especialidad'" style="display: inline-block; vertical-align: top;">
    <cc-especialidad [node]="getNode()" [container]="self" [variant]="'-PENDING-'"></cc-especialidad>
  </div>
  <div *ngIf="getNodeClass() == 'Medico'" style="display: inline-block; vertical-align: top;">
    <cc-medico [node]="getNode()" [container]="self" [variant]="'-PENDING-'"></cc-medico>
  </div>

  <!-- A P P O I N T M E N T S   A S S I G N E D -->
  <div>
    <div *ngFor="let cita of getAssignedAppointments()" class="assigned-container">
      <appointment-assigned [node]="cita" [container]="self"></appointment-assigned>
    </div>
    <div *ngIf="isDropAllowed()" class="drop-appointment">
      <div droppable [dropScope]="dropScope()" (onDrop)="onDropCita($event)" style="min-height: 30px;">
        &nbsp;
      </div>
    </div>
  </div>
</div>
