.drop-appointment {
  margin-left   : 4px;
  margin-right  : 4px;
  border        : 2px dotted orange;
  min-height    : 35px;
  min-width     : 150px;
  vertical-align: middle;
  display       : inline-block;
}
$medico-item-color: #0099ff; // 50%
$medico-item-background: #ccebff; // 90%

.medico-item {
  border       : 2px solid $medico-item-color;
  border-radius: 8px;
  cursor       : pointer;
  margin       : 4px;
}

.assigned-container {
  padding-top: 4px;
}
