<div class="page-container page-container-column" style="margin-top: -2px; display: inline-flex;">
  <!-- S C E N A R Y - 0 1 -->
  <ion-card>
    <ion-card-header>
      SERVICE/DOCTOR SELECTION
    </ion-card-header>
    <ion-card-content style="position: relative; height: 10vh; padding: 10px;">
      <div>This is the previous element where to anchor the service</div>
      <gs-service-selection-panel [activeService]="getActiveService()" (serviceSelected)="onServiceSelected($event)"></gs-service-selection-panel>
      <div>This is the last element after the service</div>
    </ion-card-content>
  </ion-card>
  <!-- S C E N A R Y - 0 2 -->
  <ion-card>
    <ion-card-header>
      CONTROL UNMOVED CARD
    </ion-card-header>
    <ion-card-content>
      <!-- <gs-service-selection-panel></gs-service-selection-panel> -->
    </ion-card-content>
  </ion-card>
</div>
<!-- M E N U B A R -->
<ui-menu-bar></ui-menu-bar>
