// - PANEL COLORS
$panel-red: #FF0000; // Red 50%
$panel-red-90: #FFCCCC; // Red 90%
$panel-red-10: #330000; // Red 10%
$panel-pink: #ff00ff; // Red 50%
$panel-pink-90: #FFCCFF; // Red 90%
$panel-pink-10: #660033; // Red 10%
$panel-orange: #FF3300; // Orange 50%
$panel-orange-90: #FFD6CC; // Orange 90%
$panel-orange-10: #4D0D00; // Orange 15%
$panel-yellow: #FFFF00; // Yellow 50%
$panel-yellow-90: #ffff99; // Yellow 80%
$panel-yellow-10: #333300; // Yellow 10%
$panel-lime: #99FF33; // Lime 50%
$panel-lime-90: #E6FFCC; // Lime 80%
$panel-lime-10: #1A3300; // Lime 10%
$panel-green: #009900; // Lime 50%
$panel-green-90: #B3FFB3; // Lime 80%
$panel-green-10: #003300; // Lime 10%
$panel-lightblue: #00ffcc; // Lime 50%
$panel-lightblue-90: #ccfff5; // Lime 80%
$panel-lightblue-10: #003329; // Lime 10%
$panel-blue: #0066cc; // Lime 50%
$panel-blue-90: #cce6ff; // Lime 80%
$panel-blue-10: #001a33; // Lime 10%
$panel-violet: #cc33ff; // Lime 50%
$panel-violet-90: #f2ccff; // Lime 80%
$panel-violet-10: #4D004D; // Lime 10%
$panel-white: #FFFFFF; // Lime 50%
$panel-white-90: #e6e6e6; // Lime 80%
$panel-white-10: #262626; // Lime 10%
$panel-darkgrey: #808080; // Lime 50%
$panel-darkgrey-90: #cccccc; // Lime 80%
$panel-darkgrey-10: #1a1a1a; // Lime 10%
.rojo {
  color: $panel-red;
  opacity: 0.5;
}

.rosa {
  color: $panel-pink;
  opacity: 0.5;
}

.naranja {
  color: $panel-orange;
  opacity: 0.5;
}

.amarillo {
  color: $panel-yellow;
  opacity: 0.5;
}

.lima {
  color: $panel-lime;
  opacity: 0.5;
}

.verde {
  color: $panel-green;
  opacity: 0.5;
}

.azulclaro {
  color: $panel-lightblue;
  opacity: 0.5;
}

.azul {
  color: $panel-blue;
  opacity: 0.5;
}

.violeta {
  color: $panel-violet;
  opacity: 0.5;
}

.open-appointment-cita-icon .descanso {
  color: $panel-darkgrey;
}

.open-appointment-cita-icon {
  font-size: 18px;
}

.open-appointment-item {
  border: 1px solid black;
  border-radius: 5px;
  display: table;
  margin-bottom: 2px;
  padding: 4px;
  width: 100%;
  color: black;
  cursor: pointer;
}

.open-appointment-slot {
  font-size: 18px;
  line-height: 18px;
  margin-left: 4px;
  font-family: 'Prototype', sans-serif;
}

.open-appointment-medico-name {
  font-size: 18px;
  margin-left: 4px;
}

.open-appointment-entry {
  font-size: 13px;
  margin-top: 2px;
}

.open-appointment-especialidad {
  float: right;
  font-size: 14px;
  font-weight: 900;
  color: #9999FF;
}