<div class="open-appointment-item page-container-row">
  <span class="open-appointment-cita-icon" [ngClass]="getCitaTypeColor()"><i class="fas fa-calendar-alt"
       aria-hidden="true"></i></span>
  <span class="">
    <span class="open-appointment-slot">{{cita.getHour() | number :'2.0-0'}}:{{cita.getMinutes() |
      number :'2.0-0'}}</span>
    <span *ngIf="medico.isService(); else servicename" class="open-appointment-medico-name">{{medico.nombre}}</span>
    <ng-template #servicename>
      <span class="open-appointment-medico-name">{{medico.apellidos}},
        {{medico.nombre}}</span>
    </ng-template>
    <br><span class="open-appointment-entry">{{getAppointmentDateDisplay()}}</span>
    <span class="open-appointment-especialidad">{{medico.especialidad}}</span>
  </span>
</div>
