<div class="cm-appointment" (mouseenter)="mouseHovering()" (mouseleave)="mouseLeft()">
  <span class="appointment-cita-icon">
    <i class="fa fa-calendar" aria-hidden="true"></i>
  </span>
  <span class="cm-appointment-slot">{{cita.getHour() | number :'2.0-0'}}:{{cita.getMinutes() |
    number :'2.0-0'}}</span>
  <span class="appointment-entry">{{getAppointmentDateDisplay()}}</span>
  <span class="appointment-entry">{{cita.pacienteLocalizador}}</span>
  <div *ngIf="hovering">
    <span>{{pacienteData()}}</span>
  </div>
</div>
