.appointment {
  border       : 1px solid black;
  border-radius: 5px;
  padding      : 5px;
  margin-bottom: 3px;
  display      : table;
  width        : 100%;
}

.appointment-cita-icon {
  color       : blue;
  margin-right: 8px;
  margin-left : 4px;
  font-size   : 18px;
}

.appointment-centro {
  font-size   : 18px;
  line-height : 18px;
  margin-right: 4px;
}

.appointment-entry {
  font-size : 13px;
  margin-top: 2px;
}

.appointment-slot {
  font-size   : 18px;
  line-height : 18px;
  margin-left : 4px;
  margin-right: 4px;
  font-family : 'Prototype';
}

.appointment-patient {
  font-size  : 18px;
  font-weight: 600;
  margin-left: 10px;
}

.cita-libre {
  background-color: white;
}

.cita-bloqueada {
  background-color: #FFFF4D;
}

.cita-reservada {
  background-color: #A6FF4D;
}
