gdpr-rights-page{
  .toolbar-background-md {
    background-color: #1A1AFF;
  }
  #centered-container {
    display: flex;
    justify-content: center;
  }
  .menu-title {
    color: white;
  }
  .toolbar-title-md {
    color: white;
  }
  .gdpr-title {
    font-size: 22px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 900;
    color: #1A1AFF;
    margin-top: 16px;
  }
  .gdpr-content {
    font-size: 17px;
    margin: 32px 40px;
    line-height: 1.1;
  }
}