<!--  C A L E N D A R   C E L L   C U S T O M   T E M P L A T E . C I T A C I O N E S -->
<ng-template #customCellCitaciones let-day="day" let-locale="locale">
  <div class="cal-cell-top" [class.cell-past]="day.isPast" [class.cell-today]="day.isToday"
       [class.cell-hasfree]="day.badgeTotal > 0">
    <div *ngIf="downloading" style="display: inline-block;">
      <i class="fa fa-cog fa-spin" style="font-size:14px; color: orange;" aria-hidden="true"></i>
    </div>
    <div class="cal-day-number cell-daynumber">{{ day.date |
      calendarDate:'monthViewDayNumber':locale }}</div>
  </div>
</ng-template>

<!--  C A L E N D A R   C E L L   C U S T O M   T E M P L A T E . S T A T U S -->
<ng-template #customCellStatus let-day="day" let-locale="locale">
  <div style="min-width: 74px;" class="cal-cell-top" [class.cell-past]="day.isPast"
       [class.cell-today]="day.isToday" [class.cell-hasfree]="day.badgeTotal > 0" draggable
       [dragScope]="'-CITA-'" [dragData]="day">
    <div *ngIf="day.badgeTotal > 0" style=" margin-bottom: 5px;">Res./Citas</div>
    <div>
      <span *ngIf="day.badgeTotal > 0" class="citamed-reserved">{{day.events[0].title}}</span>
    </div>
    <div class="cal-day-number calendar-daynumber">{{ day.date |
      calendarDate:'monthViewDayNumber':locale }}</div>
  </div>
</ng-template>

<!-- C A L E N D A R   C E L L   C U S T O M   T E M P L A T E . M A N A G E M E N T -->
<ng-template #customManagementCellTemplate let-day="day" let-locale="locale">
  <div style="min-width: 74px; min-height: 78px;" class="cal-cell-top" [class.cell-today]="day.isToday"
       [class.cell-selected]="isCellSelected(day)" draggable [dragScope]="'-CITA-'" [dragData]="day">
    <div *ngIf="downloading" style="display: inline-block;">
      <i class="fa fa-cog fa-spin" style="font-size:14px; color: #661AFF;" aria-hidden="true"></i>
    </div>
    <div *ngIf="day.badgeTotal > 0" style=" margin-bottom: 5px;">Res./Citas</div>
    <div>
      <div *ngIf="day.badgeTotal > 0" class="cell-reserved"><span></span>{{day.events[0].title}}</div>
    </div>
    <div class="cal-day-number cell-daynumber">{{ day.date |
      calendarDate:'monthViewDayNumber':locale }}</div>
  </div>
</ng-template>
<!-- C A L E N D A R   C E L L   C U S T O M   T E M P L A T E . M A N A G E M E N T I N F O -->
<ng-template #customManagementInfoCellTemplate let-day="day" let-locale="locale">
  <div style="min-width: 74px; min-height: 78px;" class="cal-cell-top" [class.cell-today]="day.isToday"
       [class.cell-selected]="isCellSelected(day)" [class.cell-vacancy]="hasVacancies(day)"
       draggable [dragScope]="'-CITA-'" [dragData]="day">
    <div *ngIf="downloading" style="display: inline-block;">
      <i class="fa fa-cog fa-spin" style="font-size:14px; color: #661AFF;" aria-hidden="true"></i>
    </div>
    <div *ngIf="day.badgeTotal > 0" style=" margin-bottom: 5px;">T / R / V</div>
    <div>
      <div *ngIf="day.badgeTotal > 0" class="cell-reserved">
        {{day.events[0].total}}/{{day.events[0].reserved}}/{{day.events[0].vacancy}}
      </div>
    </div>
    <div class="cal-day-number cell-daynumber">{{ day.date |
      calendarDate:'monthViewDayNumber':locale }}</div>
  </div>
</ng-template>

<!-- P A G E   C O N T E N T -->
<div *ngIf="show">
  <div>
    <ion-card>
      <ion-card-header>
        <span class="cc-container-title">{{title}}</span>
        <span *ngIf="canBeClosed" (click)="closePanel()">
          <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
        </span>
        <span *ngIf="downloading" style="float: right;">
          <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
        </span>
        <span class="cc-container-title-left-content">{{leftContent}}</span>
      </ion-card-header>

      <ion-card-content style="margin: 8px;">
        <!-- T A R G E T   S E L E C T E D -->
        <div *ngIf="null != getTarget()" style="display: table-row;">
          <span class="label-target-selected">Medico/servicio<br>Activo</span>
          <div *ngIf="getTargetClass() == 'ActoMedicoCentro'" style="width: 100%; display: table-cell;">
            <cc-acto-medico style="width: 100%;" [container]="self" [node]="getTarget()" [variant]="'-TARGET-HEADER-'"></cc-acto-medico>
          </div>
          <div *ngIf="getTargetClass() == 'Especialidad'" style="width: 100%; display: table-cell;">
            <cc-especialidad style="width: 100%;" [container]="self" [node]="getTarget()" [variant]="'-TARGET-HEADER-'"></cc-especialidad>
          </div>
          <div *ngIf="getTargetClass() == 'Medico'" style="width: 100%; display: table-cell;">
            <cc-medico style="width: 100%;" [container]="self" [node]="getTarget()" [variant]="'-TARGET-HEADER-'"></cc-medico>
          </div>
        </div>

        <!-- M O N T H   S E L E C T O R -->
        <div id="centered-container" style="margin-top: 6px; margin-bottom: 6px;">
          <button class="btn btn-primary calendar-button" mwlCalendarPreviousView [view]="view"
                  [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
            Anterior
          </button>
          <button class="btn btn-light calendar-button" mwlCalendarToday [(viewDate)]="viewDate">
            HOY
          </button>
          <button class="btn btn-primary calendar-button" mwlCalendarNextView [view]="view"
                  [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
            Siguiente
          </button>
          <span *ngIf="!downloading" (click)="activateRefresh()" class="refresh-button"><i class="fa fa-refresh"
               aria-hidden="true"></i></span>
          <span *ngIf="downloading" class="refresh-button"><i class="fa fa-refresh fa-spin"
               aria-hidden="true"></i></span>
        </div>
        <div class="row text-center" style="display: block;">
          <span class="calendar-monthname">{{ viewDate | calendarDate:(view +
            'ViewTitle'):'es' }}</span>
        </div>

        <!-- C A L E N D A R   C O M P O N E N T -->
        <!-- <div *ngIf="variant === '-CITACIONES-PAGE-'">
          <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                                   [locale]="'es'" (dayClicked)="dayClicked($event)" [cellTemplate]="customCellCitaciones"
                                   [weekStartsOn]="1">
          </mwl-calendar-month-view>
        </div> -->
        <div *ngIf="variant === '-GESTION-SERVICIO-'">
          <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                                   [locale]="'es'" (dayClicked)="dayClicked($event)" [cellTemplate]="customManagementInfoCellTemplate"
                                   [weekStartsOn]="1">
          </mwl-calendar-month-view>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>
