aceptacioncondiciones-page {
  .aceptacion-parrafo {
    font-family: 'Proxima Nova', sans-serif;
    font-size     : 19px;
    font-weight: 200;
    // margin        : 16px 6px;
    padding: 16px;
  }
}
