<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="menu-title">Aceptacion Compartición Datos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: transparent;" *ngIf="showAceptacionPage">
  <ion-card class="citamed-card">
    <ion-card-header class="card-header-margin">
      <ion-label text-wrap class="container-title">Normas de almacenamiento de los datos del
        Cliente</ion-label>
    </ion-card-header>

    <ion-card-content>
      <ion-label text-wrap class="aceptacion-parrafo">
        Esta aplicación require una serie de datos al usuario como son el teléfono o su email.
        Estos datos son exclusivamente utilizados durante el proceso de reserva de citas para
        informar al médico de datos que permitan localizar al paciente para informar de incidencias
        respecto a su reserva.
      </ion-label>
      <ion-label text-wrap class="aceptacion-parrafo">
        Introducir estos datos no es obligatorio pero su ausencia puede impedir recibir
        notificaciones sobre la posible cancelación de una cita.
      </ion-label>
      <ion-label text-wrap class="aceptacion-parrafo">
        El aceptar esta petición supone el consentimiento a SIP a almacenar estos datos de acuerdo
        con las normas RGPD. El usuario puede realizar su derecho de consulta, modificacion y
        cancelación a través de esta misma aplicación o poneindose en contacto con la empresa
        depositaria de los datos.
      </ion-label>
      <ion-label text-wrap class="aceptacion-parrafo">
        Los datos suministrados solamente se mantienen durante un periodo de 30 días. Al cabo de
        este tiempo las citas ya pasadas se eliminan del sistema.
      </ion-label>
    </ion-card-content>
   </ion-card>
  <div class="citamed-block">
    <button ion-button class="citamed-button button-color-green" id="bt-height4" (click)="acceptAceptacion()">Aceptar
      Condiciones</button>
  </div>
  <div class="citamed-block">
    <button ion-button class="citamed-button button-color-red" id="bt-height4" (click)="cancelAceptacion();">Rechazar</button>
  </div>
</ion-content>
