<div>
  <ion-card class="citamed-card">
    <ion-card-header>
      <ion-label text-wrap class="cc-container-title">
        <span>{{title}}</span>
        <i *ngIf="downloading" class="fa fa-clog fa-spin ui-leftmargin"aria-hidden="true"></i>
      </ion-label>
    </ion-card-header>
    <!-- N E W   S E R V I C E   F O R M -->
    <form (ngSubmit)="onSubmit()" #serviceForm="ngForm" class="cc-form" autocomplete="off">
      <span *ngIf="development">Service: {{diagnostic}}</span>
      <!-- R E F E R E N C I A -->
      <label for="referencia">Identificador</label>
      <div class="form-group untouchable-form-item">
        {{service.referencia}}
      </div>

      <!-- T R A T A M I E N T O -->
      <label for="tratamiento">Tratamiento</label>
      <div class="form-group untouchable-form-item">
        {{service.tratamiento}}
      </div>

      <!-- N O M B R E -->
      <div class="form-group">
        <div class="cc-tooltip">
          <label for="nombre">Nombre</label>
          <span class="tooltiptext tooltip-right">El nombre el el caso del servicio debe ser lo más
            descriptivo
            posible.</span>
        </div>

        <input type="text" class="form-control cc-form-control service-referencia" required
               minlength="3" maxlength="50" [ngClass]="{'citamed-form-input-green': nombre.valid}"
               [(ngModel)]="service.nombre" name="nombre" #nombre="ngModel" #spy>
        <div *ngIf="development">
          Field Class: {{spy.className}}<br>
        </div>
        <div [hidden]="nombre.valid || !nombre.dirty" class="alert alert-danger citamed-form-referencia"
             style="font-weight: 100;">
          <div *ngIf="nombre.errors?.required">
            Nombre es un campo requerido.
          </div>
          <div *ngIf="nombre.errors?.minlength">
            Nombre debe tener al menos 3 caracteres.
          </div>
        </div>
      </div>

      <!-- A P E L L I D O S -->
      <div class="form-group" *ngIf="!isService()">
        <div class="cc-tooltip">
          <label for="apellidos">Apellidos</label>
          <span class="tooltiptext tooltip-right">Los apellidos son sólo aplicables a los médicos.</span>
        </div>

        <input type="text" class="form-control cc-form-control service-apellidos" required
               minlength="3" maxlength="100" [ngClass]="{'citamed-form-input-green': apellidos.valid}"
               [(ngModel)]="service.apellidos" name="apellidos" #apellidos="ngModel" #spy>
        <div *ngIf="development">
          Field Class: {{spy.className}}<br>
        </div>
        <div [hidden]="apellidos.valid || !apellidos.dirty" class="alert alert-danger citamed-form-referencia"
             style="font-weight: 100;">
          <div *ngIf="apellidos.errors?.required">
            Apellidos es un campo requerido.
          </div>
          <div *ngIf="apellidos.errors?.minlength">
            Apellidos debe tener al menos 8 caracteres.
          </div>
        </div>
      </div>

      <!-- E S P E C I A L I D A D -->
      <div class="form-group" *ngIf="!isService()">
        <!-- <div class="cc-tooltip"> -->
        <label for="especialidad">Especialidad</label>
        <!-- <span class="tooltiptext tooltip-right">Selecciona una sola especialidad.</span>
          </div> -->

        <select class="form-control cc-form-control service-especialidad" id="especialidad"
                [(ngModel)]="service.especialidad" name="especialidad" #especialidad="ngModel" #spy>
          <option *ngFor="let espec of especialidades" [value]="espec">{{espec}}</option>
        </select>
        <div *ngIf="development">
          Field Class: {{spy.className}}<br>
          Field Value: {{service.referencia}}<br>
          <!-- Field Flags: valid:{{service.referencia.valid?}} dirty:{{service.referencia.dirty?}}<br> -->
          <!-- Field Errors: valid:{{service.referencia.errors?}} -->
        </div>
      </div>

      <hr />

      <div id="centered-container">
        <button type="submit" class="btn submit-button" [disabled]="!serviceForm.form.valid">
          <i class="fa fa-check" aria-hidden="true"></i>
          &nbsp;&nbsp;Guardar Cambios
        </button>
      </div>
      <div id="centered-container">
        <button type="button" class="btn clearform-button" (click)="cancelChanges()">
          <i class="fas fa-times"aria-hidden="true"></i>
          &nbsp;&nbsp;Cancelar Modificaciones
        </button>
      </div>
    </form>
  </ion-card>
</div>
