open-appointment {
  .open-title {
    display      : inline-block;
    font-family  : 'Proxima Nova', sans-serif;
    font-size    : $citamed-font-size-18;
    font-weight  : 400;
    margin-bottom: 0;
    margin-top   : 0;
  }

  .consulta-direccion,
  .consulta-tef-centralita,
  .medico-nombre {
    font-family  : 'Proxima Nova', sans-serif;
    font-size    : $citamed-font-size-21;
    font-weight  : 200;
    margin-bottom: 8px;
    margin-top   : 0;
  }

  .open-button-cancelar {
    border-radius: 4px;
    float        : right;
    height       : auto;
    line-height  : 2.0;
    margin-bottom: 0;
  }

  .open-today {
    background-color: #CCFF99; // Light green for today open appointment
  }
  // .ios {    .open-title {
  //     display      : inline-block;
  //     font-family  : 'Roboto', sans-serif;
  //     font-size    : $font-size-title-18;
  //     font-weight  : 400;
  //     margin-bottom: 0;
  //     margin-top   : 0;
  //   }
}
// .consulta-direccion {
//   font-family  : 'Proxima Nova', sans-serif;
//   font-size    : $font-size-title-21;
//   font-weight  : 200;
//   margin-bottom: 8px;
//   margin-top   : 0;
// }
//
// .consulta-tef-centralita {
//   font-family  : 'Proxima Nova', sans-serif;
//   font-size    : $font-size-title-21;
//   font-weight  : 200;
//   margin-bottom: 8px;
//   margin-top   : 0;
// }
