<!-- O P E N A P P O I N T M E N T -->
<ion-card class="citamed-card citamed-card-margin">
  <ion-card-header class="card-header-margin">
    <span class="container-title">{{open.getMedico().especialidad}}</span>
  </ion-card-header>

  <ion-card-content [ngClass]="{'open-today': open.isToday()}">
    <ion-label class="open-title">CITA</ion-label>
    <button ion-button class="open-button-cancelar button-color-green" (click)='cancelOpenAppointment()'>CANCELAR CITA</button>
    <ion-label class="citamed-label">FECHA</ion-label>
    <open-cita [cita]="open.getCita()"></open-cita>
    <hr />
    <div class="open-title">MÉDICO SELECCIONADO</div>
    <ion-label class="citamed-label">NOMBRE</ion-label>
    <ion-label text-wrap class="medico-nombre">{{open.getMedico().tratamiento}} {{open.getMedico().nombre}} {{open.getMedico().apellidos}}</ion-label>
    <hr />
    <ion-label class="open-title">CONSULTA</ion-label>
    <ion-label class="citamed-label">DIRECCION DE CONSULTA</ion-label>
    <ion-label text-wrap class="consulta-direccion">{{open.getConsulta().localidad}} - {{open.getConsulta().direccion}}</ion-label>
    <ion-label text-wrap class="citamed-label">TELEFONO DE CONSULTA</ion-label>
    <ion-label text-wrap class="consulta-tef-centralita">{{open.getConsulta().telefono}}</ion-label>
  </ion-card-content>
</ion-card>
