available-medico {
  .node-doctor {
    background-color: white;
    border-radius   : 6px;
    font-family     : 'Proxima Nova', sans-serif;
    font-size       : 18px;
    font-weight     : 100;
    margin          : 0 0 2px;
    opacity         : 0.8;
    padding         : 0 0 0 16px;
    padding-right: 16px;
  }

  .appointment-doctor {
    background-color: #FFFF4D;
    border-radius   : 6px;
    font-family     : 'Proxima Nova', sans-serif;
    font-size       : 18px;
    font-weight     : 100;
    margin          : 0 0 2px;
    opacity         : 0.8;
    padding         : 0 0 0 16px;
  }

  .node-doctor-name {
    font-size  : 20px;
    font-weight: 600;
  }

  .citamed-cita-slot-count {
    font-family: 'Prototype', sans-serif;
    font-size  : calc(18px + (23 - 13) * ((100vw - 480px) / (1600 - 480)));
    color      : Black;
  }

  .especialidad-label {
    background-color: #B3C6FF;
    border-radius   : 6px;
    color           : white;
    font-family     : 'Proxima Nova', sans-serif;
    font-size       : calc(18px + (32 - 18) * ((100vw - 480px) / (1600 - 480)));
    font-weight     : 600;
    margin          : 0 8px 2px;
    opacity         : 0.95;
    padding-bottom  : 8px;
    padding-left    : 16px;
    padding-top     : 8px;
  }

  .consulta-data {
    font-family  : 'Proxima Nova', sans-serif;
    font-size    : calc(22px + (27 - 17) * ((100vw - 480px) / (1600 - 480)));
    font-weight  : 200;
    margin-bottom: 0;
    margin-top   : 0;
  }

  .section-title {
    display      : inline-block;
    font-family  : 'Proxima Nova', sans-serif;
    font-size    : $citamed-font-size-18;
    font-weight  : 400;
    margin-bottom: 0;
    margin-top   : 0;
  }
}
