<!-- A V A I L A B L E   M E D I C O -->
<ion-card *ngIf="getVariant() == '-MEDICOS-DISPONIBLES-'" class="citamed-card citamed-card-margin"
          style="width: auto; margin-left: 8px;
    margin-right: 8px;">
  <ion-card-header class="card-header-margin">
    <ion-label text-wrap class="container-title">
      <ion-icon name="ios-contact" style="font-size: 36px; color:lightgreen"></ion-icon>
      <!-- <i class="fa fa-user-md" style="font-size: 36px; color:green;"></i> -->
      <span class="node-doctor-name">&nbsp;{{medico.tratamiento}} {{medico.apellidos}},
        {{medico.nombre}}</span>
    </ion-label>
  </ion-card-header>

  <ion-card-content [ngClass]="{'node-doctor': !medico.hasOpenAppointmentFlag,'appointment-doctor': medico.hasOpenAppointmentFlag}"
                    (click)="medicClick()">
    <ion-label class="patient-data" *ngIf="development">[{{medico.id}}]</ion-label>
    <!-- <ion-label class="citamed-label">ESPECIALIDAD</ion-label>
    <ion-label class="patient-data">{{medico.especialidad}}</ion-label> -->
    <ion-label class="citamed-label">Citas Disponibles: <span class="citamed-cita-slot-count">{{medico.getFreeAppointmentsCount()}}</span>
    </ion-label>
    <!-- <ion-label class="patient-data"></ion-label> -->
    <ion-label class="citamed-label">Primera Cita:</ion-label>
    <ion-label text-wrap *ngIf="hasFreeAppointments()" class="patient-data">{{getAppointmentDateDisplay()}}
      <span class="citamed-cita-slot-count">{{medico.getFirstAppointment().getHour() | number
        :'2.0-0'}}:{{medico.getFirstAppointment().getMinutes() | number :'2.0-0'}}</span>
    </ion-label>
    <div *ngIf="hasMedicalActs()">
      <hr />
      <ion-label class="section-title">ACTOS MEDICOS</ion-label>
      <div *ngFor="let acto of getMedicalActs()">
        <cp-acto-medico [node]="acto" [variant]="'-MEDICO-'" (click)="medicClick(acto)"></cp-acto-medico>
      </div>
    </div>
  </ion-card-content>
</ion-card>
<!-- V A R I A N T : S E A R C H -->
<ion-card *ngIf="getVariant() == '-SEARCH-'" class="citamed-card citamed-card-margin" style="width: auto; margin-left: 8px;
    margin-right: 8px;">
  <ion-card-header class="card-header-margin">
    <ion-label text-wrap class="container-title">
      <!-- <ion-icon name="ios-contact" style="font-size: 36px; color:green;"></ion-icon> -->
      <i class="fa fa-user-md" style="font-size: 36px; color:green;"></i>
      <span class="node-doctor-name">&nbsp;{{medico.tratamiento}} {{medico.apellidos}},
        {{medico.nombre}}</span>
    </ion-label>
  </ion-card-header>

  <ion-card-content [ngClass]="{'node-doctor': !medico.hasOpenAppointmentFlag,'appointment-doctor': medico.hasOpenAppointmentFlag}">
    <ion-label class="patient-data" *ngIf="development">[{{medico.id}}]</ion-label>
    <ion-label class="citamed-label">ESPECIALIDAD</ion-label>
    <ion-label class="patient-data">{{medico.especialidad}}</ion-label>
    <ion-label class="citamed-label">Citas Disponibles: <span class="citamed-cita-slot-count">{{medico.getFreeAppointmentsCount()}}</span>
    </ion-label>
    <!-- <ion-label class="patient-data"></ion-label> -->
    <ion-label class="citamed-label">Primera Cita:</ion-label>
    <ion-label text-wrap *ngIf="hasFreeAppointments()" class="patient-data">{{getAppointmentDateDisplay()}}
      <span class="citamed-cita-slot-count">{{medico.getFirstAppointment().getHour() | number
        :'2.0-0'}}:{{medico.getFirstAppointment().getMinutes() | number :'2.0-0'}}</span>
    </ion-label>
    <hr />
    <ion-label class="section-title">ACTOS MEDICOS</ion-label>
    <div *ngFor="let acto of getMedicalActs()">
      ACTO MEDICO
    </div>
    <!-- <ion-label text-wrap class="consulta-data">{{medico.localidad}} - {{medico.direccion}}</ion-label> -->
    <!-- <ion-label text-wrap class="patient-data">{{medico.horario}}</ion-label> -->
    <!-- <ion-label text-wrap class="consulta-data">{{medico.telefono}}</ion-label> -->
  </ion-card-content>
</ion-card>
