<div *ngIf="variant === '-DEFAULT-'" class="especialidad-item">
  <ion-label>
    <span class="especialidad-label"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
    <span class="especialidad-nombre">{{node.nombre}}</span>
  </ion-label>
</div>

<div *ngIf="variant === '-TARGET-HEADER-'" class="especialidad-item">
  <ion-label>
    <span class="especialidad-label"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
    <span class="especialidad-nombre">{{node.nombre}}</span>
  </ion-label>
</div>
<div *ngIf="variant === '-ESPECIALIDADES-'" class="especialidad-item" (click)="toggleExpand()">
  <ion-label>
    <span class="especialidad-label"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
    <span class="especialidad-nombre">{{node.nombre}}</span>
    <div *ngIf="isExpandable()" class="ui-arrow-box" (click)="clickArrow()">
      <img class="ui-arrow" [ngClass]="{'ui-arrow-expanded': node.expanded}" src="/assets/icons/arrowright.png ">
    </div>
  </ion-label>
</div>
<div *ngIf="variant === '-PENDING-'" class="especialidad-item">
  <ion-label>
    <span class="especialidad-label"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
    <span class="especialidad-nombre">{{node.nombre}}</span>
  </ion-label>
</div>
