$border-radius: 8px;
$especialidad-item-color: #0040ff; // 50%
$especialidad-item-background: #ccd9ff; // 90%

.especialidad-item {
  border       : 2px solid $especialidad-item-color;
  border-radius: $border-radius;
  cursor       : pointer;
  margin       : 4px;
  padding-right: 4px;
}

.especialidad-item:hover {
  background-color: $especialidad-item-background;
}

.especialidad-label {
  border        : 3px solid blue;
  border-radius : $border-radius;
  display       : inline-block;
  font-family   : 'Prototype', sans-serif;
  font-size     : 21px;
  margin        : 2px;
  padding       : 2px 0;
  text-align    : center;
  vertical-align: middle;
  width         : 39px;
}

.especialidad-nombre {
  font-family   : 'Proxima Nova', sans-serif;
  font-size     : 15px;
  font-weight   : 200;
  text-transform: uppercase;
  vertical-align: middle;
}

//--- R I G H T   A R R O W   S E C T I O N
/* Defines the cursor and aligment for the arrow container. Used mostly for the cursor. */
.ui-arrow-box {
  cursor        : pointer;
  vertical-align: middle;
  // display       : inline-block;
  float         : right;
  // filter: invert(100%);
}
/* Effect style to blur the arrow and remove artifacts. Applied ever to the arror image. */
// .ui-arrow {
//   // filter: blur(1px);
// }
/* Transformation to change the arrow when expansion is active. */
.ui-arrow-expanded {
  transform: rotate(90deg);
}
