<ion-content padding style="background: transparent;">
  <div class="splash-block">
    <ion-label class="splash-app-name">
      Citas
    </ion-label>
    <ion-label class="splash-app-name">
      Paciente
    </ion-label>
    <ion-label class="splash-app-version">
      {{appVersionName}}
    </ion-label>
    <div *ngIf="showError">
      <ion-card id="error-message" class="splash-error-message">
        {{errorMessage}}
      </ion-card>
    </div>
  </div>
</ion-content>
