// page-app-pages-splash {
.splash-block {
  padding-top: 16px;
  padding-left: 16px;
}

.splash-app-name {
  font-family: 'Proxima Nova Black', sans-serif;
  font-size: 68px;
  color: #1A1AFF;
}

.splash-app-version {
  font-family: 'Proxima Nova Black', sans-serif;
  font-size: 32px;
  color: orange;
}

.splash-error-message {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 24px;
  background-color: white;
  opacity: 0.8;
  color: black;
  font-weight: 400;
  padding: 8px 16px;
  margin-top: 32px;
}