<!-- S I D E B A R   M E N U -->
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="menu-title">Menu <span style="font-size: 14px;">{{versionName}}</span></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button class="menuitem" menuClose ion-item *ngFor="let page of getMenuPages()" (click)="openPage(page)">
        <ion-icon [name]="page.iconName" role="img" class="icon icon-md item-icon" aria-label="contact" ng-reflect-name="ios-contact" style="margin-right: 8px;"></ion-icon>{{page.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- N O T I F I C A T I O N S -->
<simple-notifications class="rounded" [options]="options" (onCreate)="created()" (onDestroy)="destroyed()"></simple-notifications>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" style="background: transparent;"></ion-nav>
