<!-- P A T I E N T   D A T A   P A N E L -->
<div *ngIf="show">
  <cit-toolbar-panel></cit-toolbar-panel>
  <div>
    <!-- P A T I E N T   A P P O I N T M E N T S -->
    <ion-card>
      <ion-card-header>
        <ion-label text-wrap class="cc-container-title">
          <span class="cc-container-title">Citas Del Paciente</span>
          <span *ngIf="canBeClosed" (click)="closePanel()">
            <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
          </span>
          <span *ngIf="downloading" style="float: right;">
            <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
          </span>
          <span *ngIf="canBeExpanded" class="ui-arrow-box" (click)="toggleShowContents()">
            <div *ngIf="showContents; else arrowright">
              <i class="fas fa-arrow-circle-down" id="ts22" aria-hidden="true"></i>
            </div>
            <ng-template #arrowright>
              <i class="fas fa-arrow-circle-right" id="ts22" aria-hidden="true"></i>
            </ng-template>
          </span>
          <span *ngIf="openAppointments.length > 0" class="cc-container-title-left-content">[{{openAppointments.length}}]</span>
        </ion-label>
      </ion-card-header>

      <!-- P A T I E N T   D A T A   F O R M -->
      <ion-card-content style="margin: 6px;">
        <!-- A C T I V E   A P P O I N T M E N T S   L I S T -->
        <ion-card-content>
          <div *ngIf="showContents">
            <div *ngFor="let target of openAppointments">
              <appointment4-citations [open]="target"></appointment4-citations>
            </div>
          </div>
        </ion-card-content>
      </ion-card-content>
    </ion-card>

    <!-- S P E C I A L I T I E S -->
    <ion-card>
      <ion-card-header>
        <ion-label text-wrap class="cc-container-title">
          <span class="cc-container-title">Especialidades Solicitadas</span>
          <span *ngIf="canBeClosed" (click)="closePanel()">
            <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
          </span>
          <span *ngIf="downloading" style="float: right;">
            <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
          </span>
          <!-- <span *ngIf="canBeExpanded" class="ui-arrow-box" (click)="toggleShowContents()">
            <div *ngIf="showContents; else arrowright">
              <i class="fas fa-arrow-circle-down" id="ts22"aria-hidden="true"></i>
            </div>
            <ng-template #arrowright>
              <i class="fas fa-arrow-circle-right" id="ts22"aria-hidden="true"></i>
            </ng-template>
          </span>
          <span *ngIf="openAppointments.length > 0" class="cc-container-title-left-content">[{{openAppointments.length}}]</span> -->
        </ion-label>
      </ion-card-header>

      <!-- D R O P   S P E C I A L I T I E S   Z O N E -->
      <ion-card-content style="margin: 4px;">
        <!-- L I S T   O F   P E N D I N G S -->
        <div *ngFor="let target of itemsPendingAppointment" class="cc-flex pending-item antialiased-red-border"
             [ngClass]="{'antialiased-green-border':target.isCovered()}">
          <pending [target]="target" [patientData]="patientData" (click)="searchAppointments(target)"></pending>
          <span (click)="removePending(target)" style="float: right;">
            <i class="fas fa-times cc-card-remove-icon" id="ts24" style="line-height: 2.0; margin-right: 4px;"
               aria-hidden="true"></i>
          </span>
        </div>
        <div droppable [dropScope]="['-ESPECIALIDAD-','-MEDICO-','-ACTO-MEDICO-']" (onDrop)="onDropNew($event)"
             class="animationBorder">
          <div class="drop-content">
            &nbsp;
          </div>
        </div>
      </ion-card-content>

      <!-- F O R M   S T A T U S   A L E R T -->
      <app-button id="centered-container" style="margin-top: 40px;" [title]="'Asignar Citas'"
                  [activationTitle]="'Procesando asignación de citas...'" [standByIcon]="'fas fa-bookmark'"
                  [styleClass]="'green-button'" (activateAction)="onSaveAppointments()"></app-button>
    </ion-card>
  </div>
</div>
