// - E X P A N D
.ui-arrow-box {
  float: right;
  cursor: pointer;
}

.ui-arrow-expanded {
  transform: rotate(90deg);
}

// - D R O P
$interface-color: #1A53FF;
.drag-hint-border {
  animation: border-dance 4s infinite linear;
}

.drag-over-border {
  background-color: orangered !important;
}

.animationBorder {
  margin-top: 4px;
  margin-bottom: 4px;
  min-height: 33px;
  background-color: #1A53FF;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, white 10px, white 20px);
  position: absolute;
  width: calc(100% - 8px);
}

.drop-content {
  background-color: white;
  opacity: 1.0;
  margin: 2px;
  min-height: 29px;
}

@keyframes border-dance {
  0% {
    background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
  }
  100% {
    background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
  }
}

$border-radius-normal: 10px;
$border-radius-small: 6px;
$border-radius: 8px;
$input-font-size: calc(17px + (27 - 17) * ((100vw - 780px) / (1600 - 780)));
$label-font-size: calc(11px + (15 - 11) * ((100vw - 780px) / (1600 - 780)));
.cc-form-group {
  // margin-left: 8px;
  // margin-right: 6px;
  margin-bottom: 6px;
}

.pending-remove {
  color: red;
  padding-left: 8px;
  font-size: 20px;
}

.pending-item {
  border-radius: 8px;
  margin: 2px; // margin-bottom: 0px;
  cursor: pointer;
}

.pending-not-covered {
  border: 1px solid red;
  box-shadow: inset 0 0 2px 1px red, 0 0 2px 1px red;
}

.pending-covered {
  border: 1px solid green;
  box-shadow: inset 0 0 2px 1px green, 0 0 2px 1px green;
}

.save-appointments-button {
  line-height: 2;
}

.clear-patient-form-button {
  line-height: 2;
}