/* You can add global styles to this file, and also import other style files */
// - NOTIFICATIONS
.toastr-title {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 600;
  font-size: 20px !important;
}

.toastr-message {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 16px !important;
}

.toastr{
  border-radius: 6px !important;
}