.label-target-selected {
  display: table-cell;
  margin-right: 4px;
  vertical-align: middle;
  padding-right: 4px;
}

.calendar-button {
  border-radius: 8px;
  // margin-right: 8px;
  font-family: 'Prototype', sans-serif;
  font-size: 20px;
}

.calendar-monthname {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin-top: 10px;
}

.refresh-button {
  font-size: 30px;
  margin-left: 12px;
}

.calendar-block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.citamed-reserved {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.citamed-hasreservations {
  background-color: #E6ECFF;
}

.calendar-daynumber {
  margin-right: 3px;
}

.calendar-menu {
  font-size: 18px;
  margin-left: 6px;
}

.header-cell {
  text-align: center;
  flex-grow: 1;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Prototype', sans-serif;
}