<!-- A D M I N   D A S H B O A R D   P A G E -->
<div class="page-container" style="margin-top: -2px;">
  <!-- F I R S T   R O W -->
  <div style="display: flex; flex-direction: row;">
    <!-- A D M I N   C R E D E N T I A L S -->
    <div class="dashboard-cell">
      <div class="dashboard-cell-title" (click)="activatePage('gestionservicio/gestioncalendario')">
        <i class="fa fa-calendar dashboard-cell-icon" aria-hidden="true"></i>
        <span style="margin-left: 4px;">GESTIÓN CALENDARIO</span>
      </div>
    </div>
    <!-- <div class="dashboard-cell">
      <div class="dashboard-cell-title" (click)="activatePage('gestionservicio/definicionlimites')">
        <i class="fa fa-ban dashboard-cell-icon"aria-hidden="true"></i>
        <span style="margin-left: 4px;">DEFINICIÓN LÍMITES</span>
      </div>
    </div> -->
  </div>
  <div style="display: flex; flex-direction: row;">
    <div class="dashboard-cell">
      <div class="dashboard-cell-title" (click)="activatePage('gestionservicio/definicioncalendario')">
        <i class="fa fa-address-book dashboard-cell-icon" aria-hidden="true"></i>
        <span style="margin-left: 4px;">DEFINICIÓN CALENDARIO</span>
      </div>
    </div>
  </div>
</div>
<!-- M E N U B A R -->
<ui-menu-bar></ui-menu-bar>
