// .dashboard-cell {
//   background-color: white;
//   min-height: 300px;
//   cursor: pointer;
//   color: blue;
//   flex-grow: 1;
//   flex-basis: 50%;
// }

// .dashboard-cell:hover {
//   background-color: blue;
//   color: white;
//   transition: background-color 0.3s ease-in, color 0.3s ease-in;
// }

// .dashboard-cell-title {
//   font-family: 'Prototype', sans-serif;
//   font-size: 30px;
//   margin-top: 32px;
//   margin-bottom: 16px;
//   text-align: center;
// }

// .dashboard-cell-icon {
//   color: black;
//   opacity: 0.1;
//   position: absolute;
//   vertical-align: center;
//   font-size: 120px;
// }