<div class="citamed-panel" id="panelborder-blue">
  <!-- <div class="panel-decorator-collapsed" [ngClass]="{'panel-decorator-expanded-yellow': node.expanded}"> -->
  <table class="citamed-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td class="citamed-icon" width="40px">
        <i class="fa fa-calendar" style="font-size: 24px;"></i>
      </td>
      <td class="citamed-panel-column" width="80%">
        <div>
          [{{node.id}}]-{{node.fecha}} {{node.huecoIdentifier}}
        </div>
        <div>
          {{node.updatedAt}}
        </div>
      </td>
      <!-- RIGHT BLOCK -->
      <!-- <td width="20%" class="citamed-panel-right-box" align="right ">
          <div class="content-counter lined-bottomline">{{node.getContentSize() | number:'1.0-0'}}</div>
          <div class="citamed-label right-data">MEDICOS</div>
        </td> -->
      <!-- MENU BLOCK -->
      <!-- RIGHT ARROW -->
      <!-- <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/icons/arrowright.png ">
        </td> -->
      <!-- SEPARATOR WHEN NO RIGHT ARROW -->
      <!-- <td width="5%" *ngIf="!isExpandable()">
        &nbsp;&nbsp;&nbsp;
      </td> -->
    </tr>
  </table>
  <!-- </div> -->
</div>
