patient-cita {
  .citamed-panel {
    background-color: #F0F0F0;
    border-radius   : 8px;
    font-family     : 'Proxima Nova';
    font-size       : 18px;
    padding         : 4px;
    margin-bottom   : 2px;
  }

  .citamed-panel-container {
    margin-left: 5px;
  }

  .citamed-icon {
    padding-right: 10px;
  }

  .citamed-selectable-name {
    color      : darkgreen;
    font-size  : 20px;
    font-weight: 600;
  }

  .content-counter {
    font-family: 'Prototype';
    font-size  : 20px;
  }

  .lined-bottomline {
    border-bottom: 1px solid black;
  }

  .citamed-label {
    font-family: 'Roboto';
    font-size  : 11px;
  }

  #panel-border-blue {
    border      : 2px blue solid;
    border-color: blue;
  }
}
