<div class="page-container page-container-row" style="margin-top: -2px;">
  <div>
    <!-- C I T A   - D E F A U L T -   D R A G G A B L E -->
    <ion-card>
      <ion-card-header>
        <span class="cc-container-title">Citas -DEFAULT-</span>
      </ion-card-header>

      <ion-card-content style="padding: 4px;" class="page-container-column">
        <div *ngFor="let cita of renderNodeList" draggable [dragData]="cita" [ngClass]="{'cita-libre': cita.isLibre(),'cita-bloqueada': cita.isBloqueada(),'cita-reservada': cita.isReservada(), 'cita-hover': isHover(true)}">
          <div *ngIf="cita.jsonClass == 'AppointmentGroup'">
            <div class="group-title">
              <span *ngIf="cita.isExpandable()" (click)="toggleExpanded(cita)">
                <i *ngIf="cita.isExpanded()" class="fa fa-arrow-down cita-arrow" id="ts20" style="color: white;"
                   aria-hidden="true"></i>
                <i *ngIf="!cita.isExpanded()" class="fa fa-arrow-right cita-arrow" id="ts20" style="color: white;"
                   aria-hidden="true"></i>
              </span>
              {{cita.title}}
            </div>
          </div>
          <cc-cita *ngIf="cita.jsonClass == 'Cita'" [container]="self" [node]="cita" [variant]="'-DEFAULT-'"></cc-cita>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- C I T A   - G E S T I O N   S E R V I C I O -   D R A G G A B L E -->
    <ion-card>
      <ion-card-header>
        <span class="cc-container-title">Citas -CITACIONES-PAGE-</span>
      </ion-card-header>

      <ion-card-content style="padding: 4px;" class="page-container-column">
        <!-- C I T A   - D E F A U L T -   D R A G G A B L E   L I B R E -->
        <div *ngFor="let cita of renderNodeList" draggable [dragData]="cita" [ngClass]="{'cita-libre': cita.isLibre(),'cita-bloqueada': cita.isBloqueada(),'cita-reservada': cita.isReservada(), 'cita-hover': isHover(true)}">
          <div *ngIf="cita.jsonClass == 'AppointmentGroup'">
            <div class="group-title">
              <span *ngIf="cita.isExpandable()" (click)="toggleExpanded(cita)">
                <i *ngIf="cita.isExpanded()" class="fa fa-arrow-down cita-arrow" id="ts20" style="color: white;"
                   aria-hidden="true"></i>
                <i *ngIf="!cita.isExpanded()" class="fa fa-arrow-right cita-arrow" id="ts20" style="color: white;"
                   aria-hidden="true"></i>
              </span>
              {{cita.title}}
            </div>
          </div>
          <cc-cita *ngIf="cita.jsonClass == 'Cita'" [container]="self" [node]="cita" [variant]="'-CITACIONES-PAGE-'"></cc-cita>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- C I T A   - N E W U I -   D R A G G A B L E -->
  <div>
    <ion-card class="newui-card">
      <ion-card-header class="newui-card-header">
        <span class="cc-container-title">Citas -CITACIONES-PAGE-</span>
      </ion-card-header>

      <ion-card-content style="padding: 4px;" class="page-container-column">
        <!-- C I T A   - D E F A U L T -   D R A G G A B L E   L I B R E -->
        <div *ngFor="let cita of renderNodeList" draggable [dragData]="cita" [ngClass]="{'cita-libre': cita.isLibre(),'cita-bloqueada': cita.isBloqueada(),'cita-reservada': cita.isReservada(), 'cita-hover': isHover(true)}">
          <div *ngIf="cita.jsonClass == 'AppointmentGroup'">
            <div class="group-title">
              <span *ngIf="cita.isExpandable()" (click)="toggleExpanded(cita)">
                <i *ngIf="cita.isExpanded()" class="fa fa-arrow-down cita-arrow" id="ts20" style="color: white;"
                   aria-hidden="true"></i>
                <i *ngIf="!cita.isExpanded()" class="fa fa-arrow-right cita-arrow" id="ts20" style="color: white;"
                   aria-hidden="true"></i>
              </span>
              {{cita.title}}
            </div>
          </div>
          <cc-cita *ngIf="cita.jsonClass == 'Cita'" [container]="self" [node]="cita" [variant]="'-NEW-UI-'"></cc-cita>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>
<!-- M E N U B A R -->
<ui-menu-bar></ui-menu-bar>
