<div class="page-container app-page page-container-row">
  <ion-card class="app-card-c2">
    <ion-card-header class="app-card-header">
      <ion-label>COLUMN LEFT</ion-label>
    </ion-card-header>
    <ion-card-content class="app-card-content">
      This is a sample for a two collumn fixed size card.
      The header is minified to a 12px font size but it is colored
      and rounded.
    </ion-card-content>
  </ion-card>
  <ion-card class="app-card-XX" style="flex-grow: 2;">
    <month-calendar-panel-v2 [container]="self" [title]="'Calendario Mensual citas disponibles'"
                             [source]="getTestSource()"></month-calendar-panel-v2>
  </ion-card>
  <ion-card class="app-card-c2">
    <ion-card-header class="app-card-header">
      <ion-label>COLUMN RIGHT</ion-label>
    </ion-card-header>
    <ion-card-content class="app-card-content">
      This is a sample for a two collumn fixed size card.
      The header is minified to a 12px font size but it is colored
      and rounded.
    </ion-card-content>
  </ion-card>
</div>
<!-- M E N U B A R -->
<ui-menu-bar></ui-menu-bar>
