<div *ngIf="show">
  <div>
    <ion-card>
      <ion-card-header>
        <ion-label text-wrap class="cc-container-title">
          <span>{{title}}</span>
          <!-- <span *ngIf="canBeClosed" (click)="closePanel()">
            <i class="fas fa-times cc-card-remove-icon" id="ts24"aria-hidden="true"></i>
          </span> -->
          <span *ngIf="downloading" style="float: right;">
            <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
          </span>
          <span class="cc-container-title-left-content">{{leftContent}}</span>
        </ion-label>
      </ion-card-header>
      <!-- S E R V I C E   L I S T -->
      <ion-list>
        <div style="display: inline-block; min-width: 410px; width: auto; vertical-align: top;">
          <div *ngFor="let node of renderNodeList">
            <div *ngIf="node.jsonClass == 'Medico'">
              <cc-medico [node]="node" [container]="self" [variant]="'-ESPECIALIDADES-'" (click)="selectService(node)"></cc-medico>
            </div>
          </div>
        </div>
      </ion-list>
    </ion-card>
  </div>
</div>
