<!--  C A L E N D A R   C E L L   C U S T O M   T E M P L A T E . C I T A C I O N E S -->
<ng-template #customCellCitaciones let-day="day" let-locale="locale">
  <div class="cal-cell-top" [class.cell-past]="day.isPast" [class.cell-today]="day.isToday"
       [class.cell-hasfree]="day.badgeTotal > 0">
    <div *ngIf="downloading" style="display: inline-block;">
      <i class="fa fa-cog fa-spin" style="font-size:14px; color: #661AFF;" aria-hidden="true"></i>
    </div>
    <div class="cal-day-number cell-daynumber">{{ day.date |
      calendarDate:'monthViewDayNumber':locale }}</div>
  </div>
</ng-template>

<!--  C A L E N D A R   C E L L   C U S T O M   T E M P L A T E . S T A T U S -->
<ng-template #customCellStatus let-day="day" let-locale="locale">
  <div class="cal-cell-top size-adapter" [class.cell-past]="day.isPast" [class.cell-today]="day.isToday"
       [class.cell-hasfree]="day.badgeTotal > 0" [style.height.px]="cellHeight">
    <div *ngIf="day.badgeTotal > 0" style=" margin-bottom: 5px;">Res./Citas</div>
    <div>
      <span *ngIf="day.badgeTotal > 0" class="citamed-reserved">{{day.events[0].title}}</span>
    </div>
    <div class="cal-day-number calendar-daynumber">{{ day.date |
      calendarDate:'monthViewDayNumber':locale }}</div>
  </div>
</ng-template>
<!-- C A L E N D A R   C E L L   C U S T O M   T E M P L A T E . M A N A G E M E N T I N F O -->
<ng-template #customManagementInfoCellTemplate let-day="day" let-locale="locale">
  <div style="min-width: 74px; min-height: 78px;" class="cal-cell-top" [class.cell-today]="day.isToday"
       [class.cell-selected]="isCellSelected(day)" [class.cell-vacancy]="hasVacancies(day)"
       draggable [dragScope]="'-CITA-'" [dragData]="day">
    <div *ngIf="downloading" style="display: inline-block;">
      <i class="fa fa-cog fa-spin" style="font-size:14px; color: #661AFF;" aria-hidden="true"></i>
    </div>
    <div *ngIf="day.badgeTotal > 0" style=" margin-bottom: 5px;">T / R / V</div>
    <div>
      <div *ngIf="day.badgeTotal > 0" class="cell-reserved">
        {{day.events[0]['payload'].getTotal()}}/{{day.events[0]['payload'].getReserved()}}/{{day.events[0]['payload'].getVacancy()}}
      </div>
    </div>
    <div class="cal-day-number cell-daynumber">{{ day.date |
      calendarDate:'monthViewDayNumber':locale }}</div>
  </div>
</ng-template>

<!--  C A L E N D A R   H E A D E R   C U S T O M   T E M P L A T E . C I T A C I O N E S -->
<ng-template #customHeaderCitaciones>
  <div class="page-container-row">
    <div class="header-cell">L</div>
    <div class="header-cell">M</div>
    <div class="header-cell">X</div>
    <div class="header-cell">J</div>
    <div class="header-cell">V</div>
    <div class="header-cell">S</div>
    <div class="header-cell">D</div>
  </div>
</ng-template>

<!-- P A G E   C O N T E N T -->
<ion-card *ngIf="show">
  <ion-card-header>
    <span class="card-title">{{title}}</span>
    <span *ngIf="canBeClosed" (click)="closePanel()">
      <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
    </span>
    <span *ngIf="downloading" style="float: right;">
      <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
    </span>
    <span class="cc-container-title-left-content">{{leftContent}}</span>
  </ion-card-header>

  <ion-card-content style="margin: 4px;">
    <!-- A P P O I N T M E N T   P R O V I D E R   S E L E C T E D -->
    <service-selected-render [container]="self" [node]="getSource()"></service-selected-render>

    <!-- M O N T H   S E L E C T O R -->
    <div id="centered-container" style="margin-top: 6px; margin-bottom: 6px;">
      <button class="btn btn-primary calendar-button" mwlCalendarPreviousView [view]="view"
              [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Anterior
      </button>
      <button class="btn btn-light calendar-button" style="margin-left: 8px; margin-right: 8px;"
              mwlCalendarToday [(viewDate)]="viewDate">
        HOY
      </button>
      <button class="btn btn-primary calendar-button" mwlCalendarNextView [view]="view"
              [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Siguiente
      </button>
      <span *ngIf="!downloading" (click)="activateRefresh()" class="refresh-button"><i class="fas fa-refresh"
           aria-hidden="true"></i></span>
      <span *ngIf="downloading" class="refresh-button"><i class="fas fa-refresh fa-spin"
           aria-hidden="true"></i></span>
    </div>
    <div class="row text-center" style="display: block;">
      <span class="calendar-monthname">{{ viewDate | calendarDate:(view +
        'ViewTitle'):'es' }}</span>
    </div>

    <!-- C A L E N D A R   C O M P O N E N T -->
    <div *ngIf="variant === '-CITACIONES-PAGE-'">
      <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh" [locale]="'es'"
                               (dayClicked)="dayClicked($event)" [cellTemplate]="customCellCitaciones"
                               [headerTemplate]="customHeaderCitaciones" [weekStartsOn]="1">
      </mwl-calendar-month-view>
    </div>
    <div *ngIf="variant === '-DEFAULT-'">
      <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh" [locale]="'es'"
                               (dayClicked)="dayClicked($event)" [cellTemplate]="customManagementInfoCellTemplate"
                               [weekStartsOn]="1">
      </mwl-calendar-month-view>
    </div>
  </ion-card-content>
</ion-card>
