<div>
  <span><i class="fa fa-user" aria-hidden="true"></i></span>
  <span class="datos-paciente-data">{{node.identificador}}</span><br>
  <span><i class="fa fa-user" aria-hidden="true"></i></span>
  <span class="datos-paciente-data">{{node.apellidos}}, {{node.nombre}}</span><br>
  <i class="fa fa-phone" aria-hidden="true"></i>
  <span class="datos-paciente-data">{{node.tefContacto}}</span><br>
  <img src="/assets/icons/medrt-brands.svg" width="12px" height="12px">
  <span class="datos-paciente-data">{{node.aseguradora}}</span><br>
  <i class="fa fa-user-md" aria-hidden="true"></i>
  <span class="datos-paciente-data">{{cita.referencia}}</span><br>
  <i class="fa fa-user-md" aria-hidden="true"></i>
  <span class="datos-paciente-data">{{cita.medicoNombre}}</span>
</div>
