<div *ngIf="variant === '-CITACIONES-PAGE-'" class="cita-item">
  <span class="cita-icon" [ngClass]="getCitaTypeColor()"><i class="fas fa-calendar-alt" aria-hidden="true"></i></span>
  <span class="cita-slot">{{node.getHour() | number :'2.0-0'}}:{{node.getMinutes() | number
    :'2.0-0'}}</span>
  <span class="cita-longdate">{{getAppointmentDateDisplay()}}</span>
</div>
<div *ngIf="variant === '-DEFAULT-'" class="cita-item">
  <span class="cita-icon" [ngClass]="{'cita-type-red': isTypeRed(),'cita-type-orange': isTypeOrange(),'cita-type-yellow': isTypeYellow()}"><i
       class="fa fa-calendar" aria-hidden="true"></i></span>
  <span class="cita-slot">{{node.getHour() | number :'2.0-0'}}:{{node.getMinutes() | number
    :'2.0-0'}}</span>
  <span class="cita-longdate">{{getAppointmentDateDisplay()}}</span>
</div>
<div *ngIf="variant === '-EXTENDED-APPOINTMENT-'" class="cita-item">
  <span class="cita-icon" [class]="{'cita-type-red': isTypeRed(),'cita-type-orange': isTypeOrange(),'cita-type-yellow': isTypeYellow()}"><i
       class="fa fa-calendar" aria-hidden="true"></i></span>
  <span class="cita-slot">{{node.getHour() | number :'2.0-0'}}:{{node.getMinutes() | number
    :'2.0-0'}}</span>
  <span class="cita-longdate">{{getAppointmentDateDisplay()}}</span><br>
  <span class="cita-service-name">{{node.medicoReference}}</span>
</div>
<div *ngIf="variant === '-NEW-UI-'" class="newui-cita-item">
  <span class="cita-icon" [ngClass]="getCitaTypeColor()"><i class="fas fa-calendar-alt" aria-hidden="true"></i></span>
  <span class="cita-slot">{{node.getHour() | number :'2.0-0'}}:{{node.getMinutes() | number
    :'2.0-0'}}</span>
  <span class="cita-longdate">{{getAppointmentDateDisplay()}}</span>
</div>
