.header-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #5c88e2;
  opacity: 0.5;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
  margin-top: -2px;
  margin-left: 38px;
}

.header-label {
  flex-grow: 2;
  text-align: right;
  margin-right: 4px;
}

.header-credential {
  font-size: 26px;
  font-weight: 400;
  margin-left: 8px;
}

.header-service {
  cursor: pointer;
}