<div class="header-panel">
  <i class="fas fa-user-circle" id="ts30" style="margin-left: 8px;" aria-hidden="true"></i>
  <div class="header-credential">{{getCredentialName()}}</div>
  <div *ngIf="isServiceActive()" class="header-label">Servicio<br>Seleccionado</div>
  <cc-medico class="header-service" *ngIf="isServiceActive()" [node]="getSelectedService()"
             [container]="self" [variant]="'-HEADER-'" (click)="activateSelector()"></cc-medico>
</div>
