.module-item {
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 4px;
}

.module-name {
  font-size: 16px;
  font-weight: 400;
}

.module-version {
  float: right;
  font-size: 16px;
  color: orangered;
  font-family: 'Prototype', sans-serif;
}