<!-- M O D U L E S   P A N E L -->
<div>
  <ion-card>
    <ion-card-header>
      <span id="modules-panel-header" class="cc-container-title">{{title}}</span>
    </ion-card-header>

    <ion-card-content style="margin: 8px;">
      <div *ngFor="let module of renderNodeList">
        <div class="module-item">
          <table>
            <tr>
              <td>
                <div *ngIf="module.icono.type == 'ASSET'">
                  <img src="{{module.icono.iconPath}}" height="32px" width="32px">
                </div>
                <div *ngIf="module.icono.type == 'AWESOME'">
                  <i class="{{getAwesomeIconClass(module)}}" style="font-size: 32px;" aria-hidden="true"></i>
                </div>
              </td>
              <td width="95%" style="padding-left: 4px;">
                <span class="module-name">{{module.nombre}}</span><br>
                <span id="ts14" style="white-space: pre;">{{module.descripcion}}</span>
              </td>
              <td style="float: right;">
                <span class="module-version">{{module.version}}</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>
