<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="menu-title">Seleccion de Fecha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: transparent;">
  <ion-card class="citamed-card">
    <!-- A P P O I N T M E N T   C A L E N D A R -->
    <ion-card-header>
      <span class="container-title">Selección de Fecha</span>
    </ion-card-header>
    <div *ngIf="especialidadSeleccionada.jsonClass == 'Especialidad'" class="node-speciality">
      <ion-label>{{especialidadSeleccionada.nombre}}</ion-label>
    </div>
    <div *ngIf="medicoSeleccionado.jsonClass == 'Medico'" class="node-medico">
      <ion-label>{{medicoSeleccionado.tratamiento}} {{medicoSeleccionado.apellidos}},
        {{medicoSeleccionado.nombre}}</ion-label>
    </div>
    <div *ngIf="actoMedicoSeleccionado">
      <cp-acto-medico [node]="actoMedicoSeleccionado" [variant]="'-MEDICO-'" style="margin: 0px 8px;"></cp-acto-medico>
    </div>  
    <cita-month-panel style="margin-bottom: 16px;" [medico]="medicoSeleccionado">
    </cita-month-panel>
  </ion-card>
</ion-content>
