//--- V A R I A B L E   D E F I N I T I O N S
$margin-base: 8px;
$margin-wide: calc(#{$margin-base}*4);
$margin-normal: calc(#{$margin-base}*3);
$margin-narrow: calc(#{$margin-base}*2);
$margin-extra-narrow: calc(#{$margin-base}*1);
$border-radius-base: 4px;
$border-radius-wide: calc(#{$border-radius-base}*2);
$border-radius-narrow: calc(#{$border-radius-base}*1);

.changedate-form-control {
  font-size: 18px;
  font-weight: 100;
  height: 35px;
}

.new-date {
  margin-left: 30px;
  border-radius: 8px;
}

.select-date-button {
  border-radius: 6px;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  margin-top: -12px;
  padding-left: 16px;
  padding-right: 16px;
  height: 35px;
}

.node-medico {
  background-color: rgb(125, 218, 97);
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-family: 'Proxima Nova', sans-serif;
  font-size: $citamed-font-size-19;
  font-weight: 600;
  margin: 0 8px 2px;
  opacity: 0.95;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-top: 8px;
}

.calendar-data-headers {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}