<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="menu-title">Especialidades Disponibles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: transparent;">
  <ion-card class="citamed-card">
    <ion-card-header>
      <ion-label text-wrap class="container-title">Especialidades Disponibles</ion-label>
    </ion-card-header>

    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl"></ion-searchbar>
    <ion-list>
      <div *ngFor="let node of renderNodeList">
        <div *ngIf="node.jsonClass == 'Especialidad'" class="node-speciality" (click)="selectSpeciality(node)">
          <ion-label>{{node.nombre}}</ion-label>
        </div>
        <div *ngIf="node.jsonClass == 'Medico'" (click)='medicClick(node);'>
          <available-medico [medico]="node"></available-medico>
        </div>
      </div>
    </ion-list>
  </ion-card>
</ion-content>
