.confirmation-message{
  font-size: 16px; 
  margin: 16px;
  margin-bottom: 0px;
}

//--- I M P O R T    VA R I A B L E S
@import "../../../../../../styles/_scss_variables.scss";

.template-block {
  border       : 1px solid black;
  border-radius: $border-radius-base+2px;
  display      : table;
  margin-bottom: $margin-mini;
  width        : 100%;
}

// .template-header {
//   background-color       : #C0C0FF;
//   border-top-left-radius : 6px;
//   border-top-right-radius: 6px;
//   display                : inline-block;
//   width                  : 100%;
// }

.template-nombre {
  font-size  : 20px;
  font-weight: 600;
  padding    : 4px 8px;
}

.template-edit {
  color       : green;
  padding-left: 8px;
}

.template-remove {
  color       : red;
  padding-left: 8px;
}

.template-button-bar {
  display  : inline-block;
  float    : right;
  font-size: 20px;
  padding  : 4px;
}

.template-slot-period {
  display     : inline-block;
  font-family : 'Prototype';
  font-size   : 18px;
  line-height : 1.0;
  margin-right: 6px;
  min-width   : 105px;
  padding     : 2px 0 2px $margin-base;
  width       : 115px;
}

.template-slot-tipo {
  position: relative;
  top     : -3px;
}

.template-slot-special {
  color: #E65C00;
}
