<!-- T E M P L A T E   L I S T -->
<div *ngIf="show">
  <div>
    <ion-card>
      <ion-card-header>
        <ion-label text-wrap class="cc-container-title">
          <span>{{title}}</span>
          <span *ngIf="canBeClosed" (click)="closePanel()">
            <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
          </span>
          <span *ngIf="downloading" style="float: right;">
            <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
          </span>
        </ion-label>
      </ion-card-header>
      <!-- T E M P L A T E   L I S T -->
      <ion-list>
        <div *ngFor="let citaTemplate of renderNodeList" draggable [dragScope]="'-ALLOWED-'"
             [dragData]="citaTemplate">
          <template4-list [node]="citaTemplate" (editRequest)="onEditTemplateRequest($event)"
                          (deleteRequest)="onDeleteTemplateRequest($event)"></template4-list>
        </div>
      </ion-list>
    </ion-card>
  </div>
</div>
<!-- M O D A L   D I A L O G S -->
<jw-modal id="delete-template">
  <ion-card style="width: 420px; margin-top: 32px;">
    <ion-card-header>
      <ion-label text-wrap class="cc-container-title">
        <span>Borrado de Plantilla de Calendario</span>
      </ion-label>
    </ion-card-header>
    <!-- C O N F I R M A T I O N   R E Q U E S T -->
    <div class="confirmation-message">
      ¿Esta seguro que quiere borrar la plantilla?<br>
      <span class="confirmation-message" style="font-weight: 900; font-size: 17px;">{{targetTemplate.nombre}}</span>
    </div>
    <ion-card-header>
      <ion-label text-wrap class="cc-container-title" id="ts20">
        <span>Datos de la Plantilla</span>
      </ion-label>
    </ion-card-header>
    <ion-label class="confirmation-message">
      Nombre: <b>{{targetTemplate.nombre}}</b><br>
      Numero de citas mañana: <b>{{targetTemplate.getMorningList().length}}</b><br>
      Numero de citas tarde: <b>{{targetTemplate.getEveningList().length}}</b>
    </ion-label>

    <ion-card-content style="margin: 16px;">
      <ion-card>
        <ion-card-header>
          <ion-label text-wrap class="cc-container-title">
            <span>Intruduzca credenciales de borrado</span>
          </ion-label>
        </ion-card-header>
        <form #validationForm="ngForm" style="padding: 16px;" autocomplete="off">
          <!-- C O N T R A S E Ñ A -->
          <div *ngIf="!validated; else validatedIsOk" class="cc-form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control cc-form-control" style="font-family: Roboto;"
                   required minlenght="4" [(ngModel)]="passwordValidacion" name="password"
                   #password="ngModel" #spy>
            <div [hidden]="password.valid" class="alert alert-danger">
              <div *ngIf="password.errors?.required">
                Contraseña es un campo requerido.
              </div>
              <div *ngIf="password.errors?.minlength">
                Contraseña debe tener al menos 4 caracteres.
              </div>
            </div>
            <!-- <div *ngIf="development">
              Field Class: {{spy.className}}<br>
            </div> -->
          </div>
          <ng-template #validatedIsOk class="cc-form-group">
            <label for="password">Contraseña</label>
            <div class="form-control untouchable-form-item" style="margin-bottom: 16px;">
              •••••••••••
            </div>
          </ng-template>

          <!-- V A L I D A T E   P A S S W O R D   B U T T O N -->
          <div *ngIf="!validated">
            <app-button id="centered-container" [title]="'Validar Password'" [activationTitle]="'Validando'"
                        [standByIcon]="'fas fa-check'" [styleClass]="'orange-button'"
                        (activateAction)="onValidateCredential()"></app-button>
          </div>
          <div *ngIf="validated">
            <app-button id="centered-container" [title]="'Borrar Plantilla'" [activationTitle]="'Borrando'"
                        [standByIcon]="'fas fa-times'" [styleClass]="'red-button'" (activateAction)="onDeleteTemplate()"></app-button>
            <app-button id="centered-container" [title]="'Cancelar Borrado'" [activationTitle]="'Cancelando'"
                        [standByIcon]="'fas fa-check'" [styleClass]="'green-button'"
                        (activateAction)="onCancelDelete()"></app-button>
          </div>
        </form>
      </ion-card>
    </ion-card-content>
  </ion-card>
</jw-modal>
