// - N E W   U I 
$card-border-color: #E0E0EB;
$medico-item-header-color: #E0E0EB;
$card-border-radius: 4px;
.row-spread {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.app-card {
  border-radius: 16px;
  background-image: linear-gradient(white, white, white,#dfe4f2);
}

.app-card:hover {
  background-color: #F8F8F8; // transition: background-color 0.3s ease-in;
  // box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.14); // transition: box-shadow 0.5s ease-in;
}

.app-card-c2 {
  width: calc(100%/12*2); // border: 1px solid $card-border-color;
  // border-radius: $card-border-radius;
  // border: unset;
  opacity: 0.90;
}

.app-card-header {
  background-color: #536fac;
  color: white;
  font-family: 'Proxima Nova';
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
  padding-left: 12px;
  text-shadow: 0px 1px 1px #4D4D4D;
  border-radius: 16px 16px 2px 2px;
}

.app-card-content {
  color: black;
  line-height: 1.0;
  padding-top: 4px;
}