<div>
  <ion-card>
    <ion-card-header>
      <ion-label text-wrap class="cc-container-title">
        <span class="cc-container-title">{{title}}</span>
        <span *ngIf="canBeClosed" (click)="closePanel()">
          <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
        </span>
        <span *ngIf="downloading" style="float: right;">
          <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
        </span>
        <span *ngIf="canBeExpanded" class="ui-arrow-box" (click)="toggleShowContents()">
          <div *ngIf="showContents; else arrowright">
            <i class="fas fa-arrow-circle-down" id="ts22" aria-hidden="true"></i>
          </div>
          <ng-template #arrowright>
            <i class="fas fa-arrow-circle-right" id="ts22" aria-hidden="true"></i>
          </ng-template>
        </span>
        <span *ngIf="renderNodeList.length > 0" class="cc-container-title-left-content">[{{renderNodeList.length}}]</span>
      </ion-label>
    </ion-card-header>

    <ion-list>
      <div draggable *ngFor="let node of renderNodeList" [dragScope]="'-ACTO-MEDICO-'" [dragData]="node">
        <div *ngIf="node.jsonClass == 'ActoMedicoCentro'">
          <cc-acto-medico-centro [node]="node" [container]="self"></cc-acto-medico-centro>
        </div>
      </div>
    </ion-list>
  </ion-card>
</div>
