.loading-md .loading-wrapper {
  border-radius: 4px;
}

.spinner {
  width: 40px;
  height: 40px;
}

.loading-message {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 18px;
  opacity: 0.8;
  color: black;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 32px;
}