<!-- T O O L B A R -->
<div class="cc-toolbar-panel">
  <div>
    <ion-card>
      <ion-card-header>
        <ion-label text-wrap class="cc-toolbar-title">
          <i _ngcontent-c4="" class="fa fa-bars" id="ts20" aria-hidden="true"></i>
          <span style="margin-left: 6px;">Herramientas</span>
        </ion-label>
      </ion-card-header>

      <ion-list class="cc-toolbar-horizontal">
        <!-- N E W   T E M P L A T E -->
        <div class="toolbar-tool template-menu-icon cc-tooltip" (click)="newTemplate()">
          <i class="fa fa-plus service-toolbar-icon" aria-hidden="true"></i>
          <span class="service-toolbar-label">Nueva Plantilla</span>
          <span class="tooltiptext tooltip-right">Boton para crear nuevas plantillas de creación de
            citas.</span>
        </div>
        <!-- D E L E T E   A P P O I N T M E N T S -->
        <div class="toolbar-dropable-tool" style="cursor: default;">
          <div droppable [dropScope]="'-CITA-'" (onDrop)="onDrop2DeleteAppointment($event)" class="cc-tooltip">
            <i class="fa fa-trash service-toolbar-icon" aria-hidden="true"></i><span class="service-toolbar-label">Borrar</span>
            <span class="tooltiptext tooltip-top">Arrastrar a este icono citas o dias para borrar
              las citas libres.</span>
          </div>
        </div>
        <!-- M A R K   A P O I N T M E N T   A S   H O L I D A Y S -->
        <div class="toolbar-dropable-tool" style="cursor: default;">
          <div droppable [dropScope]="'-CITA-'" (onDrop)="onDrop2VacacionesAppointment($event)"
               class="cc-tooltip">
            <i class="fa fa-plane service-toolbar-icon" aria-hidden="true"></i><span class="service-toolbar-label">Vacaciones</span>
            <span class="tooltiptext tooltip-top">Arrastrar a esta herramienta citas o dias que
              se quieran marcar como vacaciones o no disponibles para su selección.</span>
          </div>
        </div>
      </ion-list>
    </ion-card>
  </div>
</div>
