// $border-radius: 8px;
// $acto-medico-item-color: #aa00ff; // 50%
// $acto-medico-item-background: #eeccff; // 90%
// $tiemporequerido-color: orange;

.acto-medico-item {
  border       : 2px solid #CF9BE9;
  border-radius: 8px;
  background-color: #CF9BE9;
  cursor       : pointer;
  // margin-right: 16px;
  margin-bottom: 4px;
  // margin       : 4px;
}

.acto-medico-item:hover {
  background-color: #BF7EDF;
}

.acto-medico-label {
  border        : 3px solid blue;
  border-radius : 8px;
  display       : inline-block;
  font-family   : 'Prototype', sans-serif;
  font-size     : 21px;
  margin        : 2px;
  padding       : 2px 0;
  text-align    : center;
  vertical-align: middle;
  width         : 38px+2px-1px;
}

.acto-medico-nombre {
  font-family   : 'Proxima Nova', sans-serif;
  font-size     : calc(16px + (21 - 11) * ((100vw - 480px) / (1600 - 480)));
  font-weight   : 400;
  text-transform: uppercase;
  // vertical-align: middle;
  margin-top: 4px;
  display: inline-block;
}

.acto-medico-tiempoRequerido {
  color      : orangered;
  // display    : inline-block;
  float      : right;
  font-family: 'Prototype';
  font-size  : calc(16px + (21 - 11) * ((100vw - 480px) / (1600 - 480)));
  margin     : 4px;
}
