<div *ngIf="variant === '-DEFAULT-'" class="acto-medico-item">
  <ion-label>
    <span class="acto-medico-label">{{node.etiqueta}}</span>
    <span class="acto-medico-nombre">{{node.nombre}}</span>
    <div class="acto-medico-tiempoRequerido">{{node.tiempoRequerido}}</div>
  </ion-label>
</div>

<div *ngIf="variant === '-TARGET-HEADER-'" class="acto-medico-item">
  <ion-label>
    <span class="acto-medico-label">{{node.etiqueta}}</span>
    <span class="acto-medico-nombre">{{node.nombre}}</span>
    <div class="acto-medico-tiempoRequerido">{{node.tiempoRequerido}}</div>
  </ion-label>
</div>
<div *ngIf="variant === '-ESPECIALIDADES-'" class="acto-medico-item">
  <ion-label>
    <span class="acto-medico-label">{{node.etiqueta}}</span>
    <span class="acto-medico-nombre">{{node.nombre}}</span>
    <div class="acto-medico-tiempoRequerido">{{node.tiempoRequerido}}</div>
  </ion-label>
</div>
<div *ngIf="variant === '-PENDING-'" class="acto-medico-item">
  <ion-label>
    <span class="acto-medico-label">{{node.etiqueta}}</span>
    <span class="acto-medico-nombre">{{node.nombre}}</span>
    <div class="acto-medico-tiempoRequerido">{{node.tiempoRequerido}}</div>
  </ion-label>
</div>
<div *ngIf="variant === '-MEDICO-'" class="acto-medico-item">
  <ion-label>
    <ion-icon name="ios-contact" style="font-size: 36px; color:lightgreen"></ion-icon>
    <div class="acto-medico-nombre">{{node.nombre}}</div>
    <!-- <div class="acto-medico-tiempoRequerido">{{node.tiempoRequerido}}</div> -->
  </ion-label>
</div>
<div *ngIf="variant === '-CONFIRMACION-'">
  <ion-label text-wrap class="patient-data">Tipo de cita: {{node.nombre}}</ion-label>
  <!-- <ion-label text-wrap class="patient-data">Tiempo requerido: {{node.tiempoRequerido}} minutos</ion-label> -->
</div>
