<!-- C I T A S   T E M P L A T E -->
<div *ngIf="variant === '-DEFAULT-'" class="template-render">
  <!-- T I T L E -->
  <ion-card>
    <ion-card-header class="template-header">
      <span class="template-nombre">{{node.nombre}}</span>
      <span (click)="deleteTemplate()">
        <i class="fas fa-times template-remove" id="ts24" aria-hidden="true"></i>
      </span>
      <span (click)="editTemplate()">
        <i class="fas fa-edit template-edit" id="ts20" aria-hidden="true"></i>
      </span>
    </ion-card-header>
  </ion-card>

  <!-- T W O   C O L U M N   S L O T S -->
  <div class="page-container-row" style="padding: 4px;">
    <span>
      <div *ngFor="let slot of node.getMorningList()">
        <cita4-template [node]="slot" [variant]="'-TEMPLATE-LIST-PANEL-'"></cita4-template>
      </div>
    </span>
    <span>
      <div *ngFor="let slot of node.getEveningList()">
        <cita4-template [node]="slot" [variant]="'-TEMPLATE-LIST-PANEL-'"></cita4-template>
      </div>
    </span>
  </div>
</div>
