.template-render {
  background-color: #E6E6EE;
}

.card {
  border: unset;
  background-color: white;
}

.template-header {
  background-color: #CCCCFF;
  border-radius: 6px;
  padding: 2px;
}

.template-nombre {
  font-weight: 600;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 18px;
  position: relative;
  top: 4px;
  padding: 4px;
}

.template-remove {
  color: red;
  padding-left: 8px;
  padding-right: 4px;
  float: right;
  cursor: pointer;
}

.template-edit {
  color: #661AFF;
  font-size: 20px;
  float: right;
  position: relative;
  top: 2px;
  cursor: pointer;
}