.dashboard-cell-contents {
  font-size: 24px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.dashboard-menu-item {
  font-size: 24px;
  margin-bottom: 6px;
  font-weight: 900;
  cursor: pointer;
}

.dashboard-menu-item:hover {
  color: orangered;
}