<!-- M A I N   D A S H B O A R D -->
<div class="page-container" style="margin-top: -2px;">
  <div style="display: flex; flex-direction: row;">
    <!-- C I T A C I O N E S -->
    <div *ngIf="requestsRole('CALLCENTER')" class="dashboard-cell">
      <div class="dashboard-cell-title" routerLink="/citaciones">
        <img src="/assets/icons/call-center.png" width="120px" height="120px" class="dashboard-cell-icon">
        <span style="margin-left: 4px;">CITACIONES</span>
      </div>
    </div>
    <!-- G E S T I O N   S E R V I C I O -->
    <div *ngIf="requestsRole('RESPONSABLE'); else gestionDisabled" class="dashboard-cell">
      <div class="dashboard-cell">
        <div class="dashboard-cell-title" routerLink="/gestionservicio">
          <i class="fas fa-heartbeat dashboard-cell-icon" aria-hidden="true"></i>
          <span class="dashboard-cell-title">GESTIÓN SERVICIO</span>
        </div>
        <div class="dashboard-cell-contents">
          <div class="dashboard-menu-item" (click)="activatePage('gestionservicio/gestioncalendario')">Gestión
            Calendario</div>
          <div class="dashboard-menu-item" (click)="activatePage('gestionservicio/definicioncalendario')">Definición
            Citas en Calendario</div>
        </div>
      </div>
    </div>
    <ng-template #gestionDisabled>
      <div class="dashboard-cell-disabled">
        <div>
          <i class="fa fa-envelope dashboard-cell-icon" aria-hidden="true"></i>
          <span class="dashboard-cell-title">GESTIÓN SERVICIO</span>
        </div>
      </div>
    </ng-template>
  </div>
  <div style="display: flex; flex-direction: row;">
    <div *ngIf="false" class="dashboard-cell">
      <div class="dashboard-cell-title" routerLink="/notificaciones">
        <i class="fa fa-envelope dashboard-cell-icon" aria-hidden="true"></i>
        <span>NOTIFICACIONES</span>
      </div>
    </div>
    <ng-template #notificacionesDisabled>
      <div class="dashboard-cell-disabled">
        <div class="dashboard-cell-title">
          <i class="fa fa-envelope dashboard-cell-icon" aria-hidden="true"></i>
          <span style="margin-left: 4px;">NOTIFICACIONES</span>
        </div>
      </div>
    </ng-template>
    <div *ngIf="requestsRole('ADMIN'); else administracionDisabled" class="dashboard-cell">
      <div class="dashboard-cell-title" routerLink="/admin">
        <i class="fas fa-th-list dashboard-cell-icon" aria-hidden="true"></i>
        <span class="dashboard-cell-title">ADMINISTRACIÓN</span>
      </div>
      <div class="dashboard-cell-contents">
        <div class="dashboard-menu-item" (click)="activatePage('admin/servicios')">Administración
          de Servicios</div>
      </div>
    </div>
    <ng-template #administracionDisabled>
      <div class="dashboard-cell-disabled">
        <div class="dashboard-cell-title">
          <i class="fa fa-envelope dashboard-cell-icon" aria-hidden="true"></i>
          <span style="margin-left: 4px;">ADMINISTRACIÓN</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<!-- M E N U B A R -->
<ui-menu-bar></ui-menu-bar>
