@import "./styles/angular-calendar.citamed.css";
@import "./styles/font-styles.css";
@import "./styles/citascentro.styles.scss";
body {
  background-color: white;
  color: black;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 12px;
  line-height: 1.0;
  margin: 2px;
}