<!-- H E A D E R -->
<gs-header-panel [source]="getSelectedService()" (activation)="onOpenSelectionPage($event)"></gs-header-panel>
<!-- C O N T E N T   B O D Y -->
<div class="page-container">
  <div style="flex-grow: 100;">
    <gs-limits-active-panel [show]="true" [title]="'Límites Establecidos'" [container]="self" [variant]="'-GESTION-SERVICIO-'"></gs-limits-active-panel>
  </div>

  <!-- R I G H T   P A N E L.  A P P O I N T M E N T   L I S T -->
  <div style="margin-left: 8px;">
    <gs-limits-available-panel [show]="true" [title]="'Límites Disponibles'" [container]="self" [variant]="'-GESTION-SERVICIO-'"></gs-limits-available-panel>
  </div>
</div>
<!-- M E N U B A R -->
<ui-menu-bar></ui-menu-bar>
