<div class="page-container page-container-row" style="margin-top: -2px;">
  <!-- S E R V I C E S : - D E V E L O P M E N T - A - -->
  <div>
    <ion-card>
      <ion-card-header>
        <ion-label text-wrap class="cc-container-title">
          <span>Lista Servicios : -DEVELOPMENT-A-</span>
          <span *ngIf="canBeClosed" (click)="closePanel()">
            <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
          </span>
          <span *ngIf="downloading" style="float: right;">
            <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
          </span>
          <span class="cc-container-title-left-content">{{leftContent}}</span>
        </ion-label>
      </ion-card-header>
      <!-- S E R V I C E   L I S T -->
      <ion-list>
        <div style="display: inline-block;   width: auto; vertical-align: top;">
          <div *ngFor="let node of renderNodeList">
            <div *ngIf="node.jsonClass == 'Medico'">
              <cc-medico [node]="node" [container]="self" [variant]="'-DEVELOPMENT-A-'" (click)="selectService(node)"></cc-medico>
            </div>
          </div>
        </div>
      </ion-list>
    </ion-card>
  </div> <!-- S E R V I C E S : - D E V E L O P M E N T - B - -->
  <div>
    <ion-card>
      <ion-card-header>
        <ion-label text-wrap class="cc-container-title">
          <span>Lista Servicios : -DEVELOPMENT-B-</span>
          <span *ngIf="canBeClosed" (click)="closePanel()">
            <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
          </span>
          <span *ngIf="downloading" style="float: right;">
            <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
          </span>
          <span class="cc-container-title-left-content">{{leftContent}}</span>
        </ion-label>
      </ion-card-header>
      <!-- S E R V I C E   L I S T -->
      <ion-list>
        <div style="display: inline-block;   width: auto; vertical-align: top;">
          <div *ngFor="let node of renderNodeList">
            <div *ngIf="node.jsonClass == 'Medico'">
              <cc-medico [node]="node" [container]="self" [variant]="'-DEVELOPMENT-B-'" (click)="selectService(node)"
                         style="width: 100%;"></cc-medico>
            </div>
          </div>
        </div>
      </ion-list>
    </ion-card>
  </div> <!-- S E R V I C E S : - S E R V I C E - S E L E C T I O N - -->
  <div>
    <ion-card>
      <ion-card-header>
        <ion-label text-wrap class="cc-container-title">
          <span>Lista Servicios : -SERVICE-SELECTION-</span>
          <span *ngIf="canBeClosed" (click)="closePanel()">
            <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
          </span>
          <span *ngIf="downloading" style="float: right;">
            <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
          </span>
          <span class="cc-container-title-left-content">{{leftContent}}</span>
        </ion-label>
      </ion-card-header>
      <!-- S E R V I C E   L I S T -->
      <ion-list>
        <div style="display: inline-block;   width: auto; vertical-align: top;">
          <div *ngFor="let node of renderNodeList">
            <div *ngIf="node.jsonClass == 'Medico'">
              <cc-medico [node]="node" [container]="self" [variant]="'-SERVICE-SELECTION-'" (click)="selectService(node)"
                         style="width: 100%;"></cc-medico>
            </div>
          </div>
        </div>
      </ion-list>
    </ion-card>
  </div>
</div>
<div class="page-container page-container-row" style="margin-top: -2px;">
  <!-- S E R V I C E S : - D E F A U L T - -->
  <div>
    <ion-card>
      <ion-card-header>
        <ion-label text-wrap class="cc-container-title">
          <span>Lista Servicios : -DEFAULT-</span>
          <span *ngIf="canBeClosed" (click)="closePanel()">
            <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
          </span>
          <span *ngIf="downloading" style="float: right;">
            <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
          </span>
          <span class="cc-container-title-left-content">{{leftContent}}</span>
        </ion-label>
      </ion-card-header>
      <!-- S E R V I C E   L I S T -->
      <ion-list>
        <div style="display: inline-block;   width: auto; vertical-align: top;">
          <div *ngFor="let node of renderNodeList">
            <div *ngIf="node.jsonClass == 'Medico'">
              <cc-medico [node]="node" [container]="self" [variant]="'-DEFAULT-'" (click)="selectService(node)"></cc-medico>
            </div>
          </div>
        </div>
      </ion-list>
    </ion-card>
  </div>
  <!-- S E R V I C E S : - P A C I E N T E - -->
  <div>
    <ion-card>
      <ion-card-header>
        <ion-label text-wrap class="cc-container-title">
          <span>Lista Servicios : -PACIENTE-</span>
          <span *ngIf="canBeClosed" (click)="closePanel()">
            <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
          </span>
          <span *ngIf="downloading" style="float: right;">
            <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
          </span>
          <span class="cc-container-title-left-content">{{leftContent}}</span>
        </ion-label>
      </ion-card-header>
      <!-- S E R V I C E   L I S T -->
      <ion-list>
        <div style="display: inline-block;   width: auto; vertical-align: top;">
          <div *ngFor="let node of renderNodeList">
            <div *ngIf="node.jsonClass == 'Medico'">
              <cc-medico [node]="node" [container]="self" [variant]="'-PACIENTE-'" (click)="selectService(node)"></cc-medico>
            </div>
          </div>
        </div>
      </ion-list>
    </ion-card>
  </div>
  <!-- S E R V I C E S : - E S P E C I A L I D A D E S - -->
  <div>
    <ion-card>
      <ion-card-header>
        <ion-label text-wrap class="cc-container-title">
          <span>Lista Servicios : -ESPECIALIDADES-</span>
          <span *ngIf="canBeClosed" (click)="closePanel()">
            <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
          </span>
          <span *ngIf="downloading" style="float: right;">
            <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
          </span>
          <span class="cc-container-title-left-content">{{leftContent}}</span>
        </ion-label>
      </ion-card-header>
      <!-- S E R V I C E   L I S T -->
      <ion-list>
        <div style="display: inline-block;   width: auto; vertical-align: top;">
          <div *ngFor="let node of renderNodeList">
            <div *ngIf="node.jsonClass == 'Medico'">
              <cc-medico [node]="node" [container]="self" [variant]="'-ESPECIALIDADES-'" (click)="selectService(node)"></cc-medico>
            </div>
          </div>
        </div>
      </ion-list>
    </ion-card>
  </div>
  <!-- S E R V I C E S : - T A R G E T    H E A D E R - -->
  <div>
    <ion-card>
      <ion-card-header>
        <ion-label text-wrap class="cc-container-title">
          <span>Lista Servicios : -TARGET-HEADER-</span>
          <span *ngIf="canBeClosed" (click)="closePanel()">
            <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
          </span>
          <span *ngIf="downloading" style="float: right;">
            <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
          </span>
          <span class="cc-container-title-left-content">{{leftContent}}</span>
        </ion-label>
      </ion-card-header>
      <!-- S E R V I C E   L I S T -->
      <ion-list>
        <div style="display: inline-block;   width: auto; vertical-align: top;">
          <div *ngFor="let node of renderNodeList">
            <div *ngIf="node.jsonClass == 'Medico'">
              <cc-medico [node]="node" [container]="self" [variant]="'-TARGET-HEADER-'" (click)="selectService(node)"></cc-medico>
            </div>
          </div>
        </div>
      </ion-list>
    </ion-card>
  </div>
</div>
<!-- M E N U B A R -->
<ui-menu-bar></ui-menu-bar>
