// .card {
//   border: 1px solid rgba(0, 0, 0, 0.125);
//   border-radius: 6px;
//   max-width: 50%;
// }

// .card-header {
//   border-radius: 6px;
//   background-color: #9999ff;
//   padding: 4px;
// }

// .cc-container-title {
//   font-family: 'Proxima Nova', sans-serif;
//   font-size: 20px;
//   font-weight: 900;
//   position: relative;
//   top: 3px;
//   padding: 4px;
// }

// .cc-container-title-left-content {
//   font-family: 'Proxima Nova', sans-serif;
//   font-size: 18px;
//   font-weight: 800;
//   position: relative;
//   top: 3px;
//   padding-right: 4px;
//   float: right;
// }

// .cc-card-remove-icon {
//   color: red;
//   padding-left: 8px;
//   float: right;
//   cursor: pointer;
// }

// .cc-card-cog-icon {
//   color: #661aff;
//   font-size: 20px;
//   float: right;
//   position: relative;
//   top: 2px;
// }