//--- I M P O R T    VA R I A B L E S
@import "../../../../../../styles/_scss_variables.scss";

.build-block {
  border       : 1px solid black;
  border-radius: $border-radius-base+2px;
  display      : table;
  margin-bottom: $margin-mini;
  width        : 100%;
}

.build-block-duracion {
  display    : inline-block;
  font-family: 'Prototype', sans-serif;
  font-size  : 18px;
  line-height: 1.0;
  padding    : 2px 8px;
}

.build-block-tipo {
  font-size  : 16px;
  font-weight: 900;
}
