<!-- T E M P L A T E   B U I L D I N G   B L O C K S -->
<div *ngIf="show" class="page-container-row">
  <div>
    <ion-card>
      <!-- H E A D E R -->
      <ion-card-header>
        <ion-label text-wrap>
          <span class="cc-container-title">{{title}}</span>
          <span *ngIf="canBeClosed" (click)="closePanel()">
            <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
          </span>
          <span *ngIf="downloading" style="float: right;">
            <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
          </span>
        </ion-label>
      </ion-card-header>

      <!-- T E M P L A T E   D E F I N I T I O N -->
      <ion-card-content class="cc-card-margin">
        <!-- D R A G O U T   S E C T I O N -->
        <div draggable *ngFor="let buildBlock of templateBuildingBlocks" [dragScope]="'-ALLOWED-'"
             [dragData]="buildBlock" class="build-block">
          <template-block-render [node]="buildBlock"></template-block-render>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>
