//  PROJECT:     CitaMed.frontend(CITM.A6F)
//  AUTHORS:     Adam Antinoo - adamantinoo.git@gmail.com
//  COPYRIGHT:   (c) 2018 by Dimensinfin Industries, all rights reserved.
//  ENVIRONMENT: Angular 6.
//  DESCRIPTION: CitaMed. Sistema S2. Aplicación Angular adaptada para que los médicos puedan cargar sus
//               planillas de huecos de citas en el repositorio indicado de forma que los pacientes puedan
//               reservarlos. Tiene como backend el S1 de CitaMed.
//-- ADDITIONAL MODULES STYLES
// @import 'node_modules/angular5-toaster/toaster'; // angular5-toaster
@import "~bootstrap/dist/css/bootstrap.css"; // bootstrap styles
// @import "~@fortawesome/fontawesome-free/css/all.css"; // additional styles from fontawesome
@import './styles/toaster.css'; // angular5-toaster module additional styles
@import "./styles/angular-calendar.citamed.css"; // angular-calendar public styles
//--- APPLICATION STYLES VARIABLES
@import "./styles/_scss_variables.scss";

//--- APPLICATION STYLE PACKS
@import "./styles/font-styles.css";
@import "./styles/modal.styles.scss";
//--- APPLICATION LIBRARIES STYLES
// @import "../dist/citamed-lib/styles/citamed-lib.styles.scss";
//--- APPLICATION GLOBAL DEFINITION STYLES
// @import "./styles/citamed-styles.scss";
// @import "./styles/citamed-styles.responsive.scss";
// @import "./styles/citasmedico.ionic.scss";
@import "./styles/citascentro-global.styles.scss";

body {
  background-color: white;
  color: black;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 12px;
  line-height: 1.0;
  margin: 2px;
}
