<div class="row-spread app-page">
  <ion-card class="app-card app-card-c2">
    <ion-card-header class="app-card-header">
      <ion-label>COLUMN LEFT</ion-label>
    </ion-card-header>
    <ion-card-content class="app-card-content">
      This is a sample for a two collumn fixed size card.
      The header is minified to a 12px font size but it is colored
      and rounded.
    </ion-card-content>
  </ion-card>
  <app-calendar style="flex-grow: 2" [title]="'Calendario Mensual citas disponibles'"></app-calendar>
  <!-- <ion-card style="flex-grow: 2" class="app-card">
    <ion-card-header class="app-card-header">
      <ion-label>COLUMN CENTER</ion-label>
    </ion-card-header>
    <ion-card-content class="app-card-content"> -->
  <!-- <month-calendar-panel-v2 style="flex-grow: 2" [title]="'Calendario Mensual citas disponibles'"
                           [source]="getTestSource()"></month-calendar-panel-v2> -->
  <!-- </ion-card-content>
  </ion-card> -->
  <ion-card class="app-card app-card-c2">
    <ion-card-header class="app-card-header">
      <ion-label>COLUMN RIGHT</ion-label>
    </ion-card-header>
    <ion-card-content class="app-card-content">
      This is a sample for a two collumn fixed size card.
      The header is minified to a 12px font size but it is colored
      and rounded.
    </ion-card-content>
  </ion-card>
</div>
