.header-box {
  background-color: #C0C0FFA0;
  width: 100%;
}

.header-medic {
  font-size: 24px;
  font-weight: 100;
  margin-left: 16px;
  line-height: 2;
}

.header-service {
  float: right;
  background: white;
  opacity: 0.8;
  border-radius: 8px;
}

.header-panel {
  background-color: #5c88e2;
  opacity: 0.5;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
  margin-left: 38px;
  margin-top: -2px;
}

.header-credential {
  font-size: 26px;
  font-weight: 400;
  margin-left: 8px;
}