<!-- H E A D E R   T O P   R U L E -->
<div class="header-panel">
  <i class="fas fa-user-circle" id="ts30" style="margin-left: 8px;" aria-hidden="true"></i>
  <span class="header-credential">{{getCredentialName()}}</span>
</div>
