
$border-radius-normal: 10px;
$border-radius-small: 6px;
$border-radius: 8px;
$input-font-size: calc(17px + (27 - 17) * ((100vw - 780px) / (1600 - 780)));
$label-font-size: calc(11px + (15 - 11) * ((100vw - 780px) / (1600 - 780)));

.pending-remove {
  color: red;
  padding-left: 8px;
  font-size: 20px;
}

.pending-item {
  border-radius: 8px;
  margin: 2px;
  margin-bottom: 0px;
  cursor: pointer;
}

.pending-not-covered {
  border: 1px solid red;
  box-shadow: inset 0 0 2px 1px red, 0 0 2px 1px red;
}

.pending-covered {
  border: 1px solid green;
  box-shadow: inset 0 0 2px 1px green, 0 0 2px 1px green;
}

.save-appointments-button {
  line-height: 2;
}

.clear-patient-form-button {
  line-height: 2;
}