<!-- P A T I E N T   D A T A   P A N E L -->
<div *ngIf="show">
  <div>
    <ion-card>
      <ion-card-header>
        <span class="cc-container-title">{{title}}</span>
        <span *ngIf="canBeClosed" (click)="closePanel()">
          <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
        </span>
        <span *ngIf="downloading" style="float: right;">
          <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
        </span>
        <span class="cc-container-title-left-content">{{leftContent}}</span>
      </ion-card-header>

      <ion-card-content style="margin: 6px;">
        <!-- P H A S E : - I D E N T I F I C A T I O N - -->
        <!-- P A T I E N T   I D E N T I F I E R -->
        <form *ngIf="localphase == '-IDENTIFICATION-'" #patientIdentifierForm="ngForm" autocomplete="off">
          <!-- I D E N T I F I C A D O R -->
          <div class="cc-form-group">
            <label for="identificador">NIF/NIE</label>
            <input type="text" class="form-control cc-form-control" id="identificador" required
                   minlength="9" maxlenght="9" [(ngModel)]="identifier" name="identificador"
                   #identificador="ngModel" (focusout)="onIdentificadorBlur()">
            <div [hidden]="identificador.valid" class="alert alert-danger">
              <div *ngIf="identificador.errors?.required">
                NIF del paciente es un campo requerido.
              </div>
              <div *ngIf="identificador.errors?.minlength">
                NIF del paciente debe tener los 9 caracteres, 8 dígitos y una letra.<br>
                El NIE es una letra y 8 dígitos.
              </div>
            </div>
            <div [hidden]="nifIsValid || identificador.pristine" class="alert alert-danger">
              NIF introducido no es válido. Número o letra incorrectos.
            </div>
          </div>
        </form>
        <!-- P H A S E : D A T A   C O L L E C T I O N -->
        <!-- P A T I E N T   D A T A   F O R M -->
        <form *ngIf="localphase === '-PATIENT-DATA-AVAILABLE-'" #patientDataForm="ngForm"
              autocomplete="off">
          <!-- I D E N T I F I C A D O R -->
          <div class="cc-form-group">
            <label for="referencia">NIF/NIE</label>
            <div *ngIf="!identificadorIsEditable; else makeIdentificadorEditable" class="form-group editable-form-item"
                 (click)="onActivateIdentificador()">
              {{patientData.identificador}}
            </div>
            <ng-template #makeIdentificadorEditable>
              <input type="text" class="form-control cc-form-control" id="identificador" required
                     minlength="9" maxlenght="9" [(ngModel)]="patientData.identificador" name="identificador"
                     #identificador="ngModel" (focusout)="onIdentificadorBlur()">
              <div [hidden]="identificador.valid" class="alert alert-danger">
                <div *ngIf="identificador.errors?.required">
                  NIF del paciente es un campo requerido.
                </div>
                <div *ngIf="identificador.errors?.minlength">
                  NIF del paciente debe tener los 9 caracteres, 8 dígitos y una letra.<br>
                  El NIE es una letra y 8 dígitos.
                </div>
              </div>
              <div [hidden]="nifIsValid || identificador.pristine" class="alert alert-danger">
                NIF introducido no es válido. Número o letra incorrectos.
              </div>
            </ng-template>
          </div>

          <!-- N O M B R E -->
          <div class="cc-form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control cc-form-control" id="nombre" required minlength="3"
                   [(ngModel)]="patientData.nombre" name="nombre" #nombre="ngModel" (focusout)="onFieldBlur()">
            <div [hidden]="nombre.valid" class="alert alert-danger">
              <div *ngIf="nombre.errors?.required">
                Nombre es un campo requerido.
              </div>
              <div *ngIf="nombre.errors?.minlength">
                Nombre debe tener al menos 3 caracteres.
              </div>
            </div>
          </div>
          <!-- A P E L L I D O S -->
          <div class="cc-form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" class="form-control cc-form-control" id="apellidos" required
                   minlength="3" [(ngModel)]="patientData.apellidos" name="apellidos" #apellidos="ngModel"
                   (focusout)="onFieldBlur()">
            <div [hidden]="apellidos.valid" class="alert alert-danger">
              <div *ngIf="apellidos.errors?.required">
                Apellidos es un campo requerido.
              </div>
              <div *ngIf="apellidos.errors?.minlength">
                Apellidos debe tener al menos 3 caracteres.
              </div>
            </div>
          </div>
          <!-- T E L E F O N O   C O N T A C T O -->
          <div class="cc-form-group">
            <label for="tefContacto">Teléfono</label>
            <input type="text" class="form-control cc-form-control" id="tefContacto" required
                   minlength="9" [(ngModel)]="patientData.tefContacto" name="tefContacto"
                   #tefContacto="ngModel" (focusout)="onFieldBlur()">
            <div [hidden]="tefContacto.valid" class="alert alert-danger">
              <div *ngIf="tefContacto.errors?.required">
                Teléfono es un campo requerido.
              </div>
              <div *ngIf="tefContacto.errors?.minlength">
                Teléfono debe tener al menos 9 dígitos.
              </div>
            </div>
          </div>
          <!-- E M A I L -->
          <div class="cc-form-group" style="min-width: 250px;">
            <label for="email">eMail</label>
            <input type="text" class="form-control cc-form-control novalidation-form-item" id="email"
                   [(ngModel)]="patientData.email" name="email" #email="ngModel" (focusout)="onFieldBlur()">
          </div>

          <!-- A S E G U R A D O R A -->
          <div class="citamed-form-group">
            <label for="aseguradora">Aseguradora</label>
            <select class="form-control cc-form-control novalidation-form-item" id="aseguradora"
                    [(ngModel)]="patientData.aseguradora" name="aseguradora" #aseguradora="ngModel"
                    (focusout)="onFieldBlur()">
              <option *ngFor="let aseg of aseguradoras" [value]="aseg">{{aseg}}</option>
            </select>
          </div>
        </form>
        <!-- B U T T O N S -->
        <app-button-v2 id="centered-container" style="margin-top: 16px;" [title]="'Limpiar Formulario'"
                       [activationTitle]="'Limpiando formulario...'" [standByIcon]="'fas fa-eraser'"
                       [styleClass]="'red-button'" (activateAction)="onClearPage($event)"></app-button-v2>
      </ion-card-content>
    </ion-card>
  </div>
</div>
