<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="menu-title">Medicos Disponibles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background: transparent;">
  <ion-card class="citamed-card">
    <ion-card-header>
      <ion-label class="container-title">Especialidades Disponibles</ion-label>
    </ion-card-header>

    <!-- S E A R C H   B A R -->
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl"></ion-searchbar>
    <!-- D O C T O R   &   S P E C E A L I T Y   L I S T -->
    <ion-list>
      <div *ngIf="especialidad.jsonClass == 'Especialidad'" class="node-speciality">
        <ion-label>{{especialidad.nombre}}</ion-label>
      </div>
      <div *ngFor="let node of renderNodeList">
        <div *ngIf="node.jsonClass == 'Medico'">
          <available-medico [medico]="node" [variant]="'-MEDICOS-DISPONIBLES-'"></available-medico>
        </div>
      </div>
    </ion-list>
  </ion-card>
</ion-content>
