<div class="button-size">
  <button id="button-instance" [ngClass]="getButtonClass()" [disabled]="disabled" (click)="onClick($event)">
    <div *ngIf="!signalError">
      <span *ngIf="processing"><i class="fas fa-cog fa-spin" id="ts24" style="margin-right: 10px;"
           aria-hidden="true"></i>{{activationTitle}}...</span>
      <i [ngClass]="standByIcon" id="ts24" style="margin-right: 10px;" aria-hidden="true"></i>
      <span *ngIf="!processing">{{title}}</span>
    </div>
    <div *ngIf="signalError">
      <span><i class="fa fa-ban" id="ts24" style="background-color: red;margin-right: 10px;"
           aria-hidden="true"></i>Error
        en {{activationTitle}}</span>
    </div>
  </button>
</div>
