// V A R I A B L E S
$border-radius-base: 4px;

.limitador-item{
  border: 2px solid orange;
  border-radius: 8px;
  margin-bottom: 2px;
}
.limitador-item:hover{
  background-color: #ffd9b3;
}

// P A N E L   S T Y L E S
.citamed-component {
  margin-bottom: 2px;
}

#panelborder-blue {
  border       : 1px solid #7070DB;
  border-radius: $border-radius-base;
}
// .panel-decorator-collapsed{}
// .panel-decorator-expanded-blue{}

.limit-icon {
  font-size: 24px;
  height   : 24px;
  margin   : 4px;
  width    : 24px;
}

.limit-data {
  font-family: 'Proxima Nova', sans-serif;
  font-size  : 13px;
  font-weight: 600;
}

.limit-switch {
  // color     : red;
  // font-size : 18px;
  // left      : -8px;
  margin-top: 26px;
  // position  : relative;
  // top       : -14px;
  display: inline-block;
}
.limit-remove{
  color     : red;
  font-size : 26px;
  left      : -8px;
  margin-top: 26px;
  position  : relative;
  top       : -14px;
  display: inline-block;
  cursor: pointer;
}

.panel-right-box {}
// .limit-icon-column {
//   display       : inline-block;
//   margin-bottom : 4px;
//   margin-right  : 4px;
//   margin-top    : 4px;
//   vertical-align: top;
// }
//
// .limit-desc-column {
//   // display: inline-block;
//   margin: 4px;
// }
//
// .limiting-rule-available {
//   border       : 1px solid black;
//   border-radius: $border-radius-base; // column-count: 2;
// }

/* The switch - the box around the slider */
$slider-height: 15px;
$slider-border: 4px;
$slider-displacement: 60px - $slider-height - $slider-border*2;
.switch {
  display: inline-block;
  height: $slider-height+$slider-border*2;
  position: relative;
  width: 60px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  -webkit-transition: .4s;
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  -webkit-transition: .4s;
  background-color: white;
  bottom: $slider-border;
  content: "";
  height: $slider-height;
  left: $slider-border;
  position: absolute;
  transition: .4s;
  width: $slider-height;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -ms-transform: translateX($slider-displacement);
  -webkit-transform: translateX($slider-displacement);
  transform: translateX($slider-displacement);
}

/* Rounded sliders */
.slider.round {
  border-radius: $slider-height;
}

.slider.round:before {
  border-radius: 50%;
}
