<div class="limitador-item" style="min-height: 45px;">
  <table class="panel-container" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td width="32px">
        <img class="limit-icon" src="{{getIconPath()}}">

      </td>
      <td *ngIf="variant === '-ACTIVE-'" style="padding-left: 4px;" width="70%">
        <div class="limit-data">{{node.titulo}}</div>
        <div class="limit-data">{{node.descripcion}}</div>
      </td>
      <td *ngIf="variant === '-AVALABLE-'" style="padding-left: 4px;" width="90%">
        <div class="limit-data">{{node.titulo}}</div>
        <div class="limit-data">{{node.descripcion}}</div>
      </td>
      <!-- RIGHT BLOCK -->
      <td *ngIf="variant === '-ACTIVE-'" width="30%" class="panel-right-box" align="right">
        <span (click)="removeLimit()">
          <i class="fas fa-times limit-remove" aria-hidden="true"></i>
        </span>
        <div class="limit-switch">
          <label class="switch">
            <form #activationForm="ngForm">
              <input type="checkbox" id="activeState" [(ngModel)]="node.activeState" name="activeState"
                     autocomplete="off">
              <span class="slider round"></span>
            </form>
          </label>
        </div>
      </td>
      <!-- SEPARATOR WHEN NO RIGHT ARROW -->
      <td width="8px">
        &nbsp;&nbsp;&nbsp;
      </td>
    </tr>
  </table>
</div>
