cita-month-panel {
  .cell-selected {
    background-color: #E6B3FF;
  }
  
  .cell-disallowed {
    background-color: #FFCCB3;
  }
  
  .cell-today {
    background-color: #9999FF;
  }
  
  .cell-past{
    background-color: #E6E6E6;
  }
  .cell-hasfree{
    background-color: #AAFF80;
    font-weight: 900;
  }
    
  .cell-reserved {
    border       : 1px solid black;
    border-radius: 5px;
    cursor       : pointer;
    font-size    : 18px;
    font-weight  : 600;
    padding      : 2px;
    // pasdding-right: 5px;
    margin-top   : 2px;
    margin-left  : 2px;
    margin-right : 2px;
  }

  .cell-time-period {
    font-size: 12px;
    // min-width: 14px;
    display  : inline-block;
  }

  .cell-daynumber {
    // font-size   : 16px;
    margin-right: 3px;
  }
  //--- C A L E N D A R   S T Y L E S

  .cita-calendar-monthname {
    // font-size    : 18px;
    // font-weight  : 600;
    margin-top : 10px; // margin-left: 16px;
    // font-size: 20px;
    font-family: 'Proxima Nova';
    font-size  : 30px;
    font-weight: 300;
  }

  .cita-calendar-button {
    border-radius: 8px;
    margin-right : 8px;
    font-size: 18px;
    font-family: 'Prototype';
    padding: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: auto;
  }

  .citamed-reserved {
    border       : 1px solid black;
    border-radius: 5px;
    cursor       : pointer;
    font-size    : 18px;
    font-weight  : 600;
    padding-left : 5px;
    padding-right: 5px;
    margin-top   : 2px;
  }

  .citamed-hasreservations {
    background-color: #E6ECFF;
  }

  .refresh-button {
    font-size  : 30px;
    margin-left: 12px;
  }

  .calendar-daynumber {
    margin-right: 3px;
  }

  .calendar-menu {
    font-size  : 18px;
    margin-left: 6px;
  }
  //--- ANGULAR CALENDAR REPLACEMENT

  .cal-month-view .cal-day-cell {
    min-height: 0;
    height    : auto;
  }

  .block-center {
    margin-right: auto;
    margin-left : auto;
    display     : block;
text-align: center;
  }
}
