<!--  C A L E N D A R   C E L L   C U S T O M   T E M P L A T E -->
<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top" [ngClass]="{'cell-selected': isCellSelected(day), 'cell-today':day.isToday}">
    <div *ngIf="day.badgeTotal > 0" style=" margin-bottom: 5px;">Citas</div>
    <div>
      <div *ngIf="day.badgeTotal > 0" class="cell-reserved"><span class="cell-time-period"></span>{{getFreeAppointmentsCount(day)}}</div>
    </div>
    <div class="cal-day-number cell-daynumber">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</div>
  </div>
</ng-template>

<!--  C A L E N D A R   C E L L   C U S T O M   T E M P L A T E . C I T A C I O N E S -->
<ng-template #customCellCitaciones let-day="day" let-locale="locale">
  <div class="cal-cell-top" [class.cell-past]="day.isPast" [class.cell-today]="day.isToday" [class.cell-hasfree]="day.badgeTotal > 0">
    <div *ngIf="downloading" style="display: inline-block;">
      <i class="fa fa-cog fa-spin" style="font-size:14px; color: orange;"></i>
    </div>
    <div class="cal-day-number cell-daynumber">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</div>
  </div>
</ng-template>

<!-- E V E N T   T I T L E   T E M P L A T E -->
<ng-template #customEventTitleTemplate let-event="event" let-locale="locale">
  <div *ngFor="let node of getDateFreeAppointments(event)">
    <button ion-item *ngIf="node.jsonClass == 'Cita'" class="citamed-cita" (click)='citaClick(node);'>
      <patient-cita [node]="node"></patient-cita>
    </button>
  </div>
</ng-template>

<!-- M O N T H   S E L E C T O R -->
<div class="block-center">
  <button ion-button color="primary" class="cita-calendar-button" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
    Anterior
  </button>
  <button ion-button color="light" class="cita-calendar-button" mwlCalendarToday [(viewDate)]="viewDate">
    HOY
  </button>
  <button ion-button color="primary" class="cita-calendar-button" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
    Siguiente
  </button>
</div>
<div class="row text-center" style="display: block;">
  <span class="cita-calendar-monthname">{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</span>
</div>

<!-- C A L E N D A R   C O M P O N E N T -->
<div style=" margin-left: 16px; margin-right: 16px; margin-bottom: 16px;">
  <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh" (dayClicked)="dayClicked($event)" [cellTemplate]="customCellCitaciones" [weekStartsOn]="1">
  </mwl-calendar-month-view>
</div>
