<div *ngIf="variant === '-GESTION-SERVICIO-'" class="cita-item-gestion-servicio panel-red"
     [ngClass]="getAppointmentTypeClass()" (mouseenter)="onEnter()" (mouseleave)="onExit()">
  <span class="cita-icon" [ngClass]="getCitaTypeColor()"><i class="fas fa-calendar-alt" aria-hidden="true"></i></span>
  <span class="cita-slot">{{node.getHour() | number :'2.0-0'}}:{{node.getMinutes() | number
    :'2.0-0'}}</span>
  <span class="cita-slot" style="color: orange;">{{node.getDuracion() | number :'2.0-0'}}m</span><br>
  <!-- <span class="cita-longdate">{{getAppointmentDateDisplay()}}</span><br> -->
  <span class="cita-status">{{getStateCode()}}</span>
  <!-- <span class="cita-longdate">Est:{{node.estado}} tipo:{{node.tipo}} {{node.zonaHoraria}}</span> -->
  <div *ngIf="showPatientData">
    <cc-datos-paciente [container]="self" [variant]="'-GESTION-SERVICIO-'" [node]="node.pacienteData"
                       [cita]="node"></cc-datos-paciente>
  </div>
</div>
