<!-- H E A D E R -->
<gs-header-panel id="gs-header-panel" [source]="getSelectedService()" (activation)="onOpenSelectionPage($event)"></gs-header-panel>
<!-- T E M P L A T E   C O N S T R U C T I O N   P A G E -->
<div class="page-container page-container-row">
  <!-- T E M P L A T E   C R E A T I O N   P A N E L -->
  <template-under-construction id="template-under-construction" class="page-card" [show]="true"
                               [container]="self" [title]="titulo" [templateUnderControl]="templateUnderControl"></template-under-construction>
  <template-build-blocks id="template-build-blocks" class="page-card-last" [show]="true" [title]="'Bloques Disponibles'"></template-build-blocks>
</div>
<!-- M E N U B A R -->
<ui-menu-bar id="ui-menu-bar"></ui-menu-bar>
