<!-- T O O L B A R -->
<div class="cc-toolbar-panel">
  <div>
    <ion-card>
      <ion-card-header>
        <ion-label text-wrap class="cc-toolbar-title">
          <i _ngcontent-c4="" class="fa fa-bars" id="ts20" aria-hidden="true"></i>
          <span style="margin-left: 6px;">Herramientas</span>
        </ion-label>
      </ion-card-header>

      <ion-list class="horizontal-toolbar">
        <!-- D E L E T E   A P P O I N T M E N T S -->
        <div class="toolbar-item dropable-tool" style="cursor: default;">
          <div droppable [dropScope]="'-CITA-'" (onDrop)="onDrop2DeleteAppointment($event)" class="cc-tooltip">
            <i class="fa fa-trash service-toolbar-icon" aria-hidden="true"></i><span class="service-toolbar-label">Borrar</span>
            <span class="tooltiptext tooltip-top">Arrastrar a este icono citas o dias para borrar
              las citas libres.</span>
          </div>
        </div>
        <div class="toolbar-item dropable-tool" style="cursor: default;">
          <div droppable [dropScope]="'-CITA-'" (onDrop)="onDrop2VacacionesAppointment($event)"
               class="cc-tooltip">
            <i class="fa fa-plane service-toolbar-icon" aria-hidden="true"></i><span class="service-toolbar-label">Vacaciones</span>
            <span class="tooltiptext tooltip-top">Arrastrar a esta herramienta citas o dias que
              se quieran marcar como vacaciones o no disponibles para su seleccion.</span>
          </div>
        </div>
      </ion-list>
    </ion-card>
  </div>
</div>
