// - T O O L B A R
.card {
  border-radius: 0px;
  border: unset;
}

.card-header {
  padding: 2px;
  background-color: #CCCCCC;
}

.card-header:first-child {
  border-radius: 0px;
}

.cc-toolbar-title {
  font-family: 'Prototype', sans-serif;
  font-size: 16px;
}

.toolbar-item {
  text-align: center;
  cursor: pointer;
}

.dropable-tool {
  border: 2px dotted red;
  margin: 4px;
  padding: 4px;
}

.horizontal-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.service-toolbar-icon {
  font-size: 32px;
  margin-right: 4px;
}

.service-toolbar-label {
  font-size: 17px;
  font-family: 'Prototype', sans-serif;
}