<!-- D E V E L O P M E N T - A -->
<div *ngIf="variant === '-DEVELOPMENT-Z-'" class="medico-item">
  <div *ngIf="node.isService(); else renderDoctor">
    <span class="medico-label"><i class="fas fa-user-cog" aria-hidden="true"></i></span>
    <span class="medico-nombre">
      {{node.getNombre()}}
    </span>
  </div>
  <ng-template #renderDoctor>
    <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col no-padding>
          <span class="medico-label"><i class="fas fa-user-md" aria-hidden="true"></i></span>
        </ion-col>
        <ion-col no-padding>
          <span class="medico-nombre">
            {{node.tratamiento}} {{node.getApellidos()}}, {{node.getNombre()}}
          </span><br>
          <span class="medico-especialidad">
            {{node.especialidad}}
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</div>
<!-- D E V E L O P M E N T - B -->
<div *ngIf="variant === '-DEVELOPMENT-Z-'" class="medico-item">
  <div *ngIf="node.isService(); else renderDoctor">
    <span class="medico-label"><i class="fas fa-user-cog" aria-hidden="true"></i></span>
    <span class="medico-nombre">
      {{node.getNombre()}}
    </span>
  </div>
  <ng-template #renderDoctor>
    <ion-row no-padding>
      <ion-col no-padding>
        <span class="medico-label"><i class="fas fa-user-md" aria-hidden="true"></i></span>
      </ion-col>
      <ion-col no-padding>
        <span class="medico-nombre">
          {{node.tratamiento}} {{node.getApellidos()}}, {{node.getNombre()}}
        </span><br>
        <span class="medico-especialidad">
          {{node.especialidad}}
        </span>
      </ion-col>
    </ion-row>
  </ng-template>
</div>
<!-- D E V E L O P M E N T - B -->
<div *ngIf="variant === '-DEVELOPMENT-D-'" class="db-medico-item">
  <div *ngIf="node.isService(); else renderDoctor">
    <span class="db-medico-label"><i class="fas fa-user-cog" aria-hidden="true"></i></span>
    <span class="db-medico-nombre">
      {{node.getNombre()}}
    </span>
  </div>
  <ng-template #renderDoctor style="display: inline-table;">
    <span class="db-medico-label" style="display: inline-cell;"><i class="fas fa-user-md"
         aria-hidden="true"></i></span>
    <div class="page-container-column" style="display: inline-cell;">
      <span class="db-medico-nombre">
        {{node.tratamiento}} {{node.getApellidos()}}, {{node.getNombre()}}
      </span><br>
      <span class="db-medico-especialidad">
        {{node.especialidad}}
      </span>
    </div>
  </ng-template>
</div>
<!-- D E V E L O P M E N T - A -->
<div *ngIf="variant === '-DEVELOPMENT-A-'" class="da-medico-item">
  <div *ngIf="node.isService(); else renderDoctor">
    <span class="da-medico-label"><i class="fas fa-user-cog" aria-hidden="true"></i></span>
    <span class="da-medico-nombre">
      {{node.getNombre()}}
    </span>
  </div>
  <ng-template #renderDoctor>
    <span class="da-medico-label"><i class="fas fa-user-md" aria-hidden="true"></i></span>
    <div class="page-container-column" style="margin: 2px;">
      <span class="da-medico-nombre">
        {{node.tratamiento}} {{node.getApellidos()}}, {{node.getNombre()}}
      </span>
      <span class="da-medico-especialidad">
        {{node.especialidad}}
      </span>
    </div>
  </ng-template>
</div>
<!-- D E V E L O P M E N T - B -->
<div *ngIf="variant === '-DEVELOPMENT-B-'" class="db-medico-item">
  <div *ngIf="node.isService(); else renderDoctor">
    <span class="db-medico-label"><i class="fas fa-user-cog" aria-hidden="true"></i></span>
    <span class="db-medico-nombre">
      {{node.getNombre()}}
    </span>
  </div>
  <ng-template #renderDoctor class="page-container-row">
    <span class="db-medico-label"><i class="fas fa-user-md" aria-hidden="true"></i></span>
    <div class="page-container-column" style="margin: 2px; width: 100%;">
      <span class="db-medico-nombre">
        {{node.tratamiento}} {{node.getApellidos()}}, {{node.getNombre()}}
      </span>
      <span class="db-medico-especialidad">
        {{node.especialidad}}
      </span>
    </div>
  </ng-template>
</div>
<!-- D E V E L O P M E N T - C -->
<div *ngIf="variant === '-DEVELOPMENT-C-'" class="db-medico-item">
  <div *ngIf="node.isService(); else renderDoctor">
    <span class="db-medico-label"><i class="fas fa-user-cog" aria-hidden="true"></i></span>
    <span class="db-medico-nombre">
      {{node.getNombre()}}
    </span>
  </div>
  <ng-template #renderDoctor class="page-container-row">
    <span class="dc-medico-label"><i class="fas fa-user-md" aria-hidden="true"></i></span>
    <div class="page-container-column" style="margin: 2px; width: 100%;">
      <span class="db-medico-nombre">
        {{node.tratamiento}} {{node.getApellidos()}}, {{node.getNombre()}}
      </span>
      <span class="db-medico-especialidad">
        {{node.especialidad}}
      </span>
    </div>
    <span class="dc-medico-number">123 citas</span>
  </ng-template>
</div>

<div *ngIf="variant === '-PACIENTE-'" class="medico-item">
  <ion-label>
    <div *ngIf="node.isService(); else renderDoctor">
      <span class="medico-label"><i class="fas fa-user-cog" aria-hidden="true"></i></span>
      <span class="medico-nombre">
        {{node.getNombre()}}
      </span>
    </div>
    <ng-template #renderDoctor>
      <span class="medico-label"><i class="fas fa-user-md" aria-hidden="true"></i></span>
      <span class="medico-nombre">
        {{node.getApellidos()}}
      </span>
    </ng-template>
  </ion-label>
</div>
<div *ngIf="variant === '-PATIENT-'" class="medico-item">
  <div class="citamed-panel" id="panelborder-yellow">
    <div class="panel-decorator-collapsed" [ngClass]="{'panel-decorator-expanded-yellow': node.expanded}">
      <table class="citamed-panel-container" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td class="citamed-icon" width="40px">
            <i class="fa fa-user-md" style="font-size: 24px;" aria-hidden="true"></i>
          </td>
          <td class="citamed-panel-column" width="80%">
            <!-- <div class="citamed-selectable-name">{{node.nombre}}</div> -->
            <span *ngIf="development">[{{node.id}}]</span><br />
            <span class="citamed-selectable-name">{{node.tratamiento}}&nbsp;{{node.apellidos}},
              {{node.nombre}}</span>
            <br />
            <span>{{node.localidad}} - {{node.direccion}}</span><br />
            <span>{{node.horario}}</span><br />
            <span>{{node.telefono}}</span>
          </td>
          <!-- RIGHT BLOCK -->
          <td width="20%" class="citamed-panel-right-box" align="right ">
            <div class="content-counter lined-bottomline">{{node.getContentSize() |
              number:'1.0-0'}}</div>
            <div class="citamed-label right-data">CITAS</div>
          </td>
          <!-- MENU BLOCK -->
          <!-- RIGHT ARROW -->
          <!-- <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/icons/arrowright.png ">
        </td> -->
          <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        </tr>
      </table>
    </div>
  </div>
</div>

<div *ngIf="variant === '-DEFAULT-'" class="medico-item">
  <ion-label>
    <div *ngIf="node.isService(); else renderDoctor">
      <span class="medico-label"><i class="fas fa-user-cog" aria-hidden="true"></i></span>
      <span class="medico-nombre">
        {{node.getNombre()}}
      </span>
    </div>
    <ng-template #renderDoctor>
      <span class="medico-label"><i class="fas fa-user-md" aria-hidden="true"></i></span>
      <span class="medico-nombre">
        {{node.tratamiento}} {{node.getApellidos()}}, {{node.getNombre()}}
      </span>
    </ng-template>
  </ion-label>
</div>
<div *ngIf="variant === '-PENDING-'" class="medico-item">
  <ion-label>
    <span class="medico-label"><i class="fa fa-user-md" aria-hidden="true"></i></span>
    <span class="medico-nombre">{{node.apellidos}}</span>
  </ion-label>
</div>
<div *ngIf="variant === '-TARGET-HEADER2-'" class="medico-item-target-header">
  <!-- <ion-label> -->
  <div *ngIf="node.isService(); else renderDoctor">
    <span class="medico-label"><i class="fas fa-user-cog" aria-hidden="true"></i></span>
    <span class="medico-nombre">
      {{node.getNombre()}}
    </span>
  </div>
  <ng-template #renderDoctor>
    <span class="medico-label"><i class="fas fa-user-md" aria-hidden="true"></i></span>
    <span class="medico-nombre">
      {{node.tratamiento}} {{node.getApellidos()}}, {{node.getNombre()}}<br>
      {{node.especialidad}}
    </span>
  </ng-template>
  <!-- </ion-label> -->
</div>

<div *ngIf="variant === '-TARGET-HEADER-'" class="medico-item-target-header">
  <div *ngIf="node.isService(); else renderDoctor">
    <ion-grid no-padding>
      <ion-row>
        <ion-col>
          <span class="medico-label"><i class="fas fa-user-cog" aria-hidden="true"></i></span>
        </ion-col>
        <ion-col style="flex-grow: 10;">
          <span class="medico-nombre">
            {{node.getNombre()}}
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ng-template #renderDoctor>
    <ion-grid no-padding>
      <ion-row>
        <ion-col>
          <span class="medico-label"><i class="fas fa-user-md" aria-hidden="true"></i></span>
        </ion-col>
        <ion-col style="flex-grow: 8;">
          <span class="medico-nombre">
            {{node.tratamiento}} {{node.getApellidos()}}, {{node.getNombre()}}
          </span>
        </ion-col>
        <ion-col col-3>
          {{node.especialidad}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</div>

<!-- S E R V I C E   A D M I N -->
<div *ngIf="variant === '-SERVICE-ADMIN-'" class="medico-item" [ngClass]="{'inactive-service': !node.activo}">
  <ion-label>
    <span style="vertical-align: top;">{{node.tratamiento}}</span>
    <span class="medico-label"><i class="fa fa-user-md" aria-hidden="true"></i></span>
    <!-- S E R V I C E   F I E L D S -->
    <div *ngIf="node.tratamiento == 'Servicio'; else doctor" style="display: inline-block;">
      <div style="display: inline-block;">
        <span class="medico-nombre">{{representativeName()}}</span><br>
        <div class="cc-tooltip">
          <span class="medico-nombre">Citas (T/R/L): <span class="medico-appoinments-count">{{node.appointmentsCount}}/{{reservedAppointments()}}/{{node.freeAppointmentsCount}}</span></span>
          <span class="tooltiptext tooltip-right">
            Se indican las citas totales (T), las citas reservadas/confirmadas (R) y las citas
            libres (L).
          </span>
        </div>
      </div>
    </div>
    <!-- M E D I C O   F I E L D S -->
    <ng-template #doctor style="display: inline-block;">
      <div style="display: inline-block;">
        <span class="medico-nombre">{{representativeName()}}</span><br>
        <span class="medico-nombre">{{node.especialidad}}</span><br>
        <div class="cc-tooltip">
          <span class="medico-nombre">Citas (T/R/L): <span class="medico-appoinments-count">{{node.appointmentsCount}}/
              {{reservedAppointments()}}/
              {{node.freeAppointmentsCount}}</span></span>
          <span class="tooltiptext tooltip-right">
            Se indican las citas totales (T), las citas reservadas/confirmadas (R) y las citas
            libres (L).
          </span>
        </div>
      </div>
    </ng-template>

    <!-- A C T O S   M E D I C O S -->
    <div *ngIf="node.activo">
      <div class="medico-item-label">ACTOS MEDICOS PRIVADOS</div>
      <div *ngFor="let acto of node.getActosMedicos()" style="display: table-row;">
        <cc-acto-medico [node]="acto" style="display: table-cell; width: 100%;"></cc-acto-medico>
        <span (click)="removeActoMedico(acto, $event)" style="display: table-cell; vertical-align: middle;">
          <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
        </span>
      </div>
    </div>

    <!-- T E M P L A T E S   C I T A S -->
    <!-- L I M I T E S -->
  </ion-label>

</div>

<!-- E S P E C I A L I D A D E S -->
<div *ngIf="variant === '-ESPECIALIDADES-'" class="medico-item">
  <ion-label>
    <div *ngIf="node.isService(); else renderDoctor">
      <span class="medico-label"><i class="fas fa-user-cog" aria-hidden="true"></i></span>
      <span class="medico-nombre">
        {{node.getNombre()}}
      </span>
    </div>
    <ng-template #renderDoctor>
      <span class="medico-label"><i class="fas fa-user-md" aria-hidden="true"></i></span>
      <span class="medico-nombre">
        {{node.tratamiento}} {{node.getApellidos()}}, {{node.getNombre()}}
      </span>
    </ng-template>
  </ion-label>
</div>

<!-- H E A D E R -->
<div *ngIf="variant === '-HEADER-'">
  <ion-label>
    <div *ngIf="node.isService(); else renderDoctor">
      <span class="medico-label"><i class="fas fa-user-cog" aria-hidden="true"></i></span>
      <span class="medico-nombre">
        {{node.getNombre()}}
      </span>
    </div>
    <ng-template #renderDoctor>
      <div class="page-container-row">
        <span class="medico-label"><i class="fas fa-user-md" aria-hidden="true"></i></span>
        <span class="medico-nombre">
          {{node.tratamiento}} {{node.getApellidos()}}, {{node.getNombre()}}<br><b>{{node.getEspecialidad()}}</b>
        </span>
      </div>
    </ng-template>
  </ion-label>
</div>

<!-- N E W   U I -->
<div *ngIf="variant === '-NEW-UI-'">
  <ion-label class="new-medico-item">
    <span class="new-medico-icon"><i class="fas fa-user-md" aria-hidden="true"></i></span>
    <span class="new-medico-name">{{node.tratamiento}} {{node.getApellidos()}},
      {{node.getNombre()}}</span>
  </ion-label>
</div>
<!-- S E R V I C E - S E L E C T I O N -->
<div *ngIf="variant === '-SERVICE-SELECTION-'" class="new-medico-item">
  <div *ngIf="node.isService(); else renderDoctor">
    <span class="new-medico-label"><i class="fas fa-user-cog" aria-hidden="true"></i></span>
    <span class="new-medico-nombre">
      {{node.getNombre()}}
    </span>
  </div>
  <ng-template #renderDoctor class="page-container-row">
    <span class="new-medico-label"><i class="fas fa-user-md" aria-hidden="true"></i></span>
    <div class="page-container-column" style="margin: 2px; width: 100%;">
      <span class="new-medico-nombre">
        {{node.tratamiento}} {{node.getApellidos()}}, {{node.getNombre()}}
      </span>
      <span class="new-medico-especialidad">
        {{node.especialidad}}
      </span>
    </div>
  </ng-template>
</div>
