// .citamed-panel {
//   background-color: #F0F0F0;
//   border-radius: 8px;
//   font-family: 'Proxima Nova', sans-serif;
//   font-size: 18px;
//   padding: 4px;
//   margin-bottom: 2px;
// }
// .citamed-panel-container {
//   margin-left: 5px;
// }
// .citamed-icon {
//   padding-right: 10px;
// }
// .citamed-selectable-name {
//   color: darkgreen;
//   font-size: 20px;
//   font-weight: 600;
// }
// .content-counter {
//   font-family: 'Prototype', sans-serif;
//   font-size: 20px;
// }
// .lined-bottomline {
//   border-bottom: 1px solid black;
// }
// .citamed-label {
//   font-family: 'Roboto';
//   font-size: 11px;
// }
// #panel-border-yellow {
//   border: 2px yellow solid;
//   border-color: yellow;
// }
$border-radius: 8px;
$medico-item-color: #0099FF; // 50%
$medico-item-background: #CCEBFF; // 90%
.medico-item {
    border: 2px solid $medico-item-color;
    border-radius: 8px;
    cursor: pointer;
    margin: 4px;
}

.medico-item:hover {
    transition: background-color 0.5s easy-in;
    background-color: $medico-item-background;
}

.medico-nombre-header {
    font-family: 'Proxima Nova', sans-serif;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 18px;
    font-weight: 400;
}

.medico-nombre-uppercase {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 15px;
    font-weight: 200;
    text-transform: uppercase;
    vertical-align: middle;
    margin-right: 4px;
}

.medico-appoinments-count {
    font-weight: 600;
    font-size: 17px;
}

.medico-item-label {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-top: 2px;
    margin-left: 4px;
}

.inactive-service {
    background-color: #FF3333;
}

// - T A R G E T   H E A D E R
.medico-item-target-header {
    border: 2px solid #0099ff;
    border-radius: 8px;
    padding: 2px;
}

.medico-label-target-header {
    border: 3px solid blue;
    border-radius: $border-radius;
    font-family: 'Prototype', sans-serif;
    font-size: 21px;
    padding: 2px 0;
    text-align: center;
    width: 39px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 4px;
}

.medico-nombre-target-header {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 17px;
    font-weight: 200;
    display: table-cell;
    vertical-align: middle;
}

.label-target-selected {
    display: table-cell;
    margin-right: 4px;
    vertical-align: middle;
    padding-right: 4px;
}

// - A L L   V A R I A N T S
$interface-color: #1A53FF;
.medico-label {
    border: 3px solid #1A53FF;
    border-radius: $border-radius;
    display: inline-block;
    font-family: 'Prototype', sans-serif;
    font-size: 21px;
    margin: 2px;
    padding: 2px 0;
    text-align: center;
    width: 39px;
    padding-right: unset;
    flex-grow: 1;
}

.medico-nombre {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 15px;
    font-weight: 200;
    vertical-align: top;
    margin-right: 4px;
    flex-grow: 10;
    padding-left: unset;
}

.medico-especialidad {
    color: #1A53FF;
    font-size: 15px;
    font-weight: 600;
    float: right;
    margin-right: 2px;
}

// - B
.db-medico-label {
    border: 3px solid #1A53FF;
    border-radius: $border-radius;
    display: inline-block;
    font-family: 'Prototype', sans-serif;
    font-size: 21px;
    margin: 2px;
    padding: 2px 0;
    text-align: center;
    width: 39px; // padding-right: unset;
    // flex-grow: 1;
}

.db-medico-nombre {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 15px;
    font-weight: 200;
    vertical-align: top;
    margin-right: 4px; // flex-grow: 10;
    // padding-left: unset;
}

.db-medico-especialidad {
    color: #1A53FF;
    font-size: 15px;
    font-weight: 600; // float: right;
    margin-right: 2px;
    text-align: right;
}

.db-medico-item {
    border: 2px solid $medico-item-color;
    border-radius: 8px;
    cursor: pointer;
    margin: 4px;
    display: inline-flex;
    flex-direction: row; // width: calc(100% - 8px);
    width: 100%;
}

// - A
.da-medico-item {
    border: 2px solid $medico-item-color;
    border-radius: 8px;
    cursor: pointer;
    margin: 4px;
    display: inline-flex;
    flex-direction: row;
}

.da-medico-label {
    border: 3px solid #1A53FF;
    border-radius: $border-radius;
    display: inline-block;
    font-family: 'Prototype', sans-serif;
    font-size: 21px;
    margin: 2px;
    padding: 2px 0;
    text-align: center;
    width: 39px; // padding-right: unset;
    // flex-grow: 1;
}

.da-medico-nombre {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 15px;
    font-weight: 200;
    vertical-align: top;
    margin-right: 4px; // flex-grow: 10;
    // padding-left: unset;
}

.da-medico-especialidad {
    color: #1A53FF;
    font-size: 15px;
    font-weight: 600;
    float: right;
    margin-right: 2px;
}

.dc-medico-number {
    font-size: 18px;
    color: orangered;
}

.dc-medico-label {
    border: 3px solid #1A53FF;
    border-radius: $border-radius;
    display: inline-block;
    font-family: 'Prototype', sans-serif;
    font-size: 21px;
    margin: 2px;
    padding: 2px 0;
    text-align: center; // width: 39px;
    // min-width: 52px;
    width: 52px;
}

// - N E W   U I
$border-color: #E0E0EB;
$medico-color: #0080FF;
$medico-back-color: #E6F2FF;
$medico-back-color-hover: #CCE6FF;
$separation: 2px;
.new-medico-item {
    background-color: $medico-back-color;
    opacity: 0.9;
    margin: $separation;
    border: 1px solid $border-color;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-bottom: 4px;
    display: inline-flex;
    width: 98%;
}

.new-medico-item:hover {
    opacity: 1.0;
    background-color: $medico-back-color-hover;
}

.new-medico-icon {
    font-size: 12px;
    color: $medico-color;
}

.new-medico-name{
  font-size: 14px;
  font-weight: 100;
  color: black;
  margin-left: $separation;
}

// - N E W   U I   S T Y L E S
.new-medico-label{
    border: 3px solid #1A53FF;
    border-radius: $border-radius;
    display: inline-block;
    font-family: 'Prototype', sans-serif;
    font-size: 21px;
    margin: 2px;
    padding: 2px 0;
    text-align: center;
    width: 39px;
}

.new-medico-nombre{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 15px;
    font-weight: 200;
    vertical-align: top;
    margin-right: 4px; 
}

.new-medico-especialidad{
    color: #1A53FF;
    font-size: 15px;
    font-weight: 600;
    float: right;
    margin-right: 2px;
    text-align: right;
}