<div class="page-container page-container-row">
  <div>
    <ion-card>
      <ion-card-header>
        <span class="cc-container-title">Panel de Botones Pequeños</span>
      </ion-card-header>

      <ion-card-content style="padding: 6px;" class="page-container-column">
        <div class="panel-column">
          <!-- B O T O N   P E Q U E Ñ O   A Z U L -->
          <div class="test-panel-title">Boton Pequeño azul</div>
          <app-button id="centered-container" style="margin-bottom: 32px;" [title]="'-A-'"
                      [activationTitle]="'act boton -A-'" [standByIcon]="'fas fa-calendar'"
                      [styleClass]="'blue-button'" (activateAction)="onButtonClick('Peq A',$event)"></app-button>
          <!-- B O T O N   P E Q U E Ñ O   V E R D E -->
          <div class="test-panel-title">Boton Pequeño Verde</div>
          <app-button id="centered-container" style="margin-bottom: 32px;" [title]="'-A-'"
                      [activationTitle]="'act boton -A-'" [standByIcon]="'fa fa-sign-in'"
                      [styleClass]="'green-button'" (activateAction)="onButtonClick()"></app-button>

          <!-- B O T O N   P E Q U E Ñ O   N A R A N J A -->
          <div class="test-panel-title">Boton Pequeño Naranja</div>
          <app-button id="centered-container" style="margin-bottom: 32px;" [title]="'-A-'"
                      [activationTitle]="'act boton -A-'" [standByIcon]="'fa fa-sign-in'"
                      [styleClass]="'orange-button'" (activateAction)="onButtonClick()"></app-button>

          <!-- B O T O N   P E Q U E Ñ O   R O J O -->
          <div class="test-panel-title">Boton Pequeño Rojo</div>
          <app-button id="centered-container" style="margin-bottom: 32px;" [title]="'-A-'"
                      [activationTitle]="'act boton -A-'" [standByIcon]="'fas fa-sign-in'"
                      [styleClass]="'red-button'" (activateAction)="onButtonClick()"></app-button>


          <!-- B O T O N   P E Q U E Ñ O   D E S A C T I V A D O -->
          <div class="test-panel-title">Boton Pequeño</div>
          <app-button id="centered-container" style="margin-bottom: 32px;" [title]="'-A-'"
                      [disabled]="true" [activationTitle]="'act boton -A-'" [standByIcon]="'fa fa-sign-in'"
                      [styleClass]="'blue-button'" (activateAction)="onButtonClick()"></app-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <span class="cc-container-title">Panel de Botones Maxima Anchura</span>
      </ion-card-header>

      <ion-card-content style="padding: 8px;">
        <div class="panel-column">
          <!-- B O T O N   P E Q U E Ñ O   A Z U L -->
          <div class="test-panel-title">Boton Grande</div>
          <app-button id="centered-container" style="margin-bottom: 32px;" [title]="'Título demasiado ancho para una linea'"
                      [disabled]="false" [activationTitle]="'act boton -A-'" [standByIcon]="'fa fa-sign-in'"
                      [styleClass]="'blue-button'" (activateAction)="onButtonClick()"></app-button>
          <!-- B O T O N   P E Q U E Ñ O   V E R D E -->
          <div class="test-panel-title">Boton Grande</div>
          <app-button id="centered-container" style="margin-bottom: 32px;" [title]="'Título demasiado ancho para una linea'"
                      [disabled]="false" [activationTitle]="'act boton -A-'" [standByIcon]="'fa fa-sign-in'"
                      [styleClass]="'green-button'" (activateAction)="onButtonClick()"></app-button>

          <!-- B O T O N   P E Q U E Ñ O   V E R D E -->
          <div class="test-panel-title">Boton Grande</div>
          <app-button id="centered-container" style="margin-bottom: 32px;" [title]="'Título demasiado ancho para una linea'"
                      [disabled]="true" [activationTitle]="'act boton -A-'" [standByIcon]="'fa fa-sign-in'"
                      [styleClass]="'orange-button'" (activateAction)="onButtonClick()"></app-button>

        </div>
      </ion-card-content>
    </ion-card>
</div>
</div>
<!-- M E N U B A R -->
<ui-menu-bar></ui-menu-bar>
