<!-- H E A D E R -->
<gs-header-panel [source]="getSelectedService()" (activation)="onOpenSelectionPage($event)"></gs-header-panel>
<!-- G E S T I O N   C A L E N D A R I O   P A G E -->
<div class="page-container">
  <div class="page-container-row">
    <!-- S T A R T   C O N F I G U R A T I O N : S E R V I C E   L I S T -->
    <gs-service-select-panel class="page-card" [show]="activateSelection" [container]="self"
                             [title]="'Seleccione un Médico/Servicio'" (service)="onServiceSelected($event)"></gs-service-select-panel>
    <!-- S E R V I C E   C O N F G U R A T I O N : S E R V I C E   O P E R A T I O N -->
    <div *ngIf="!activateSelection" style="width: 100%;">
      <!-- T O O L B A R -->
      <gs-toolbar-panel (update)="onUpdateContents($event)"></gs-toolbar-panel>
      <div class="page-container-row">
        <!-- C A L E N D A R   P A N E L -->
        <month-calendar-panel-v2 style="flex-grow: 2;" [title]="'Selector de Fecha'" [source]="selectedService"
                                 (daySelectedOutput)="onSelectedDate($event)"></month-calendar-panel-v2>
        <!-- <gs-calendar-free-slots-panel class="page-card" [show]="!activateSelection" [container]="self"
                                    [title]="'Selector de Fecha'" [source]="selectedService"
                                    [variant]="'-GESTION-SERVICIO-'" (selectedDate)="onSelectedDate($event)"></gs-calendar-free-slots-panel> -->
        <!-- A P P O I N T M E N T   L I S T -->
        <gs-appointment-list-panel style="flex-grow: 1;" class="page-card" [show]="!activateSelection"
                                   [source]="getSelectedService()" [title]="'Estado de Citas'"
                                   [container]="self" [variant]="'-CITACIONES-PAGE-'"></gs-appointment-list-panel>
      </div>
    </div>
  </div>
</div>
<!-- M E N U B A R -->
<ui-menu-bar></ui-menu-bar>
