<!-- C I T A 4 T E M P L A T E -->
<div *ngIf="variant === '-DEFAULT-'" class="cita4-template">
  <div *ngIf="development">
    {{node.estado}}
  </div>
  <div *ngIf="node.estado === 'DESCANSO'; else cita4TemplateStandard">
    <div style="display: table-row;">
      <span class="cita-icon" [ngClass]="getClassType()"><span class="cita-icon"><i class="fa fa-coffee"
             style="width: 22px;" aria-hidden="true"></i></span></span>
      <div class="template-slot-period">{{node.getHour() | number :'2.0-0'}}:{{node.getMinutes() |
        number :'2.0-0'}}-{{node.getEndHour() | number :'2.0-0'}}:{{node.getEndMinutes() | number
        :'2.0-0'}}</div>
      <div class="template-slot-duration">{{node.huecoDuracion}}</div>
    </div>
  </div>
  <ng-template #cita4TemplateStandard>
    <div style="display: table-row;">
      <span class="cita-icon"><span class="cita-icon" [ngClass]="getClassType()"><i class="fa fa-calendar-alt"
             style="width: 22px;" aria-hidden="true"></i></span></span>
      <div class="template-slot-period">{{node.getHour() | number :'2.0-0'}}:{{node.getMinutes() |
        number :'2.0-0'}}-{{node.getEndHour() | number :'2.0-0'}}:{{node.getEndMinutes() | number
        :'2.0-0'}}</div>
      <div class="template-slot-duration">{{node.huecoDuracion}}</div>

      <div class="template-cita-type">
        <form #blockDefinitionForm="ngForm" class="" autocomplete="off">
          <select class="cita-type-select" [ngClass]="getClassType()" [(ngModel)]="node.tipo" id="appointmentType"
                  name="appointmentType" (change)="onOptionChange($event.target.value)">
            <option class="transparent" value="TRANSPARENTE">
              <span class="cita-icon">TRANSPARENTE</span>
            </option>
            <option class="pink" value="ROSA">
              <span class="cita-icon">ROSA</span>
            </option>
            <option class="red" value="ROJO">
              <span class="cita-icon">ROJO</span>
            </option>
            <option class="orange" value="NARANJA">
              <span class="cita-icon">NARANJA</span>
            </option>
            <option class="yellow" value="AMARILLO">
              <span class="cita-icon">AMARILLO</span>
            </option>
            <option class="lime" value="LIMA">
              <span class="cita-icon">LIMA</span>
            </option>
            <option class="green" value="VERDE">
              <span class="cita-icon">VERDE</span>
            </option>
            <option class="lightblue" value="AZUL CLARO">
              <span class="cita-icon">AZUL CLARO</span>
            </option>
            <option class="darkblue" value="AZUL OSCURO">
              <span class="cita-icon">AZUL OSCURO</span>
            </option>
            <option class="violet" value="VIOLETA">
              <span class="cita-icon">VIOLETA</span>
            </option>
          </select>
        </form>
      </div>
    </div>
  </ng-template>
</div>
<div *ngIf="variant === '-TEMPLATE-LIST-PANEL-'" class="template-list-panel">
  <div *ngIf="node.estado === 'DESCANSO'; else appointmentNormal">
    <div class="cita4-template">
      <span class="cita-icon"><i class="fas fa-coffee" style="width: 22px;" aria-hidden="true"></i></span>
      <div class="template-slot-period">{{node.getHour() | number :'2.0-0'}}:{{node.getMinutes() |
        number :'2.0-0'}}-{{node.getEndHour() | number :'2.0-0'}}:{{node.getEndMinutes() | number
        :'2.0-0'}}</div>
      <div class="template-slot-duration">{{node.huecoDuracion}}</div>
    </div>
  </div>
  <ng-template #appointmentNormal>
    <div class="cita4-template">
      <span class="cita-icon" [ngClass]="getClassType()"><i class="fas fa-calendar-alt" style="width: 22px;"
           aria-hidden="true"></i></span>
      <div class="template-slot-period">{{node.getHour() | number :'2.0-0'}}:{{node.getMinutes() |
        number :'2.0-0'}}-{{node.getEndHour() | number :'2.0-0'}}:{{node.getEndMinutes() | number
        :'2.0-0'}}</div>
      <div class="template-slot-duration">{{node.huecoDuracion}}</div>
    </div>
  </ng-template>
</div>
