$margin-mini: 4px;
$border-radius-base: 4px;
.template-list-panel .cita4-template {
  border-radius: 4px;
  border: 1px solid black;
  padding: 3px;
  box-shadow: inset 0 0 1px 0 blue, 0 0 1px 0 blue;
  margin-bottom: 2px;
}

.cita-icon {
  color: black;
  font-size: 18px;
  vertical-align: middle;
  display: table-cell;
}

.cita-type-select {
  min-width: 70px;
}

.template-slot-period {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Prototype', sans-serif;
  font-size: 18px;
  line-height: 1.0;
  min-width: 110px;
  padding-left: 4px;
}

.template-cita-type {
  display: table-cell;
  vertical-align: middle;
  min-width: 60px;
  padding-left: 4px;
}

.template-slot-duration {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Prototype', sans-serif;
  font-size: 18px;
  line-height: 1.0;
  padding-left: 4px;
  color: orangered;
  min-width: 2em;
  text-align: right;
}

.template-slot-tipo {
  position: relative;
  top: -3px;
}

.template-slot-special {
  color: #E65C00;
}

.template-slot-descanso {
  color: #E65C00;
}

// - O P T I O N   C O L O R   L I S T
select.transparent {
  background-color: white;
  color: black;
}

select.pink {
  background-color: pink;
  opacity: 0.5;
}

select.red {
  background-color: red;
  opacity: 0.5;
  color: white;
}

select.orange {
  background-color: orange;
  opacity: 0.5;
  color: white;
}

select.yellow {
  background-color: yellow;
  opacity: 0.7;
  color: black;
}

select.lime {
  background-color: #BBFF33;
  opacity: 0.7;
  color: white;
}

select.green {
  background-color: green;
  opacity: 0.5;
  color: white;
}

select.lightblue {
  background-color: lightblue;
  opacity: 0.5;
  color: white;
}

select.darkblue {
  background-color: blue;
  opacity: 0.5;
  color: white;
}

select.violet {
  background-color: #9933FF;
  opacity: 0.5;
  color: white;
}

option.transparent {
  background-color: white;
  color: black;
}

option.red {
  background-color: red;
  color: white;
}

option.pink {
  background-color: pink;
  color: white;
}

option.orange {
  background-color: orange;
  color: white;
}

option.yellow {
  background-color: yellow;
  color: white;
}

option.lime {
  background-color: #BBFF33;
  color: white;
}

option.green {
  background-color: green;
  color: white;
}

option.lightblue {
  background-color: lightblue;
  color: white;
}

option.darkblue {
  background-color: blue;
  color: white;
}

option.violet {
  background-color: #9933FF;
  color: white;
}

span.transparent {
  color: black;
}

span.pink {
  color: pink;
  opacity: 0.5;
}

span.red {
  color: red;
  opacity: 0.5;
}

span.orange {
  color: orange;
  opacity: 0.5;
}

span.yellow {
  color: yellow;
  opacity: 0.7;
}

span.lime {
  color: #BBFF33;
  opacity: 0.7;
}

span.green {
  color: green;
  opacity: 0.5;
}

span.lightblue {
  color: lightblue;
  opacity: 0.5;
}

span.darkblue {
  color: blue;
  opacity: 0.5;
}

span.violet {
  color: #9933FF;
  opacity: 0.5;
}
