<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="menu-title">Confirmación Cita</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: transparent;">
  <ion-card class="citamed-card">
    <ion-card-header>
      <span class="container-title">Cita Seleccionada</span>
    </ion-card-header>

    <ion-card-content *ngIf="dataReady()">
      <ion-label class="section-title">CITA</ion-label>
      <!-- <ion-label class="citamed-label">FECHA</ion-label> -->
      <open-cita [cita]="currentCita"></open-cita>
      <div *ngIf="actoMedicoSeleccionado">
        <cp-acto-medico [node]="currentActoMedico" [variant]="'-CONFIRMACION-'"></cp-acto-medico>
        <hr />
      </div>
      <div class="section-title">ESPECIALIDAD</div>
      <ion-label text-wrap class="patient-data">{{currentMedico.especialidad}}</ion-label>
      <hr />
      <div class="section-title">MÉDICO SELECCIONADO</div>
      <ion-label class="citamed-label">NOMBRE</ion-label>
      <ion-label text-wrap class="patient-data">{{currentMedico.tratamiento}}
        {{currentMedico.nombre}} {{currentMedico.apellidos}}</ion-label>
      <hr />
      <ion-label class="section-title">CONSULTA</ion-label>
      <ion-label class="citamed-label">DIRECCION DE CONSULTA</ion-label>
      <ion-label text-wrap class="patient-data">{{currentMedico.localidad}} -
        {{currentMedico.direccion}}</ion-label>
      <ion-label class="citamed-label">TELEFONO DE CONSULTA</ion-label>
      <ion-label text-wrap class="patient-data">{{currentMedico.telefono}}</ion-label>
    </ion-card-content>
  </ion-card>
  <div class="citamed-block">
    <button ion-button class="citamed-button" id="bt-height4" color="secondary" (click)='confirmAppointment();'>Confirmar
      Cita</button>
    <button ion-button class="citamed-button" id="bt-height4" color="danger" (click)="cancelAppointment();">cancelar
      Solicitud</button>
  </div>
</ion-content>
