$speciality-item-color : #0040ff; // 50%
$speciality-item-background : #ccd9ff; // 90%

.especialidad-item {
  border       : 2px solid $speciality-item-color;
  border-radius: 8px;
  cursor       : pointer;
  margin       : 4px;
  padding-right: 4px;
}
