<div *ngIf="variant === '-4CITATIONS-'" class="especialidad-item antialiased-speciality-border">
  <ion-label (click)="toggleExpand()">
    <span class="acto-medico-label"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
    <span class="acto-medico-nombre">{{node.nombre}}</span>
  </ion-label>
</div>
<div *ngIf="variant === '-DEFAULT-'">
  ESTE RENDER NO ESTA DEFINIDO
</div>
