// --- M E N U   S T Y L E S
$interface-color: #1A53FF;
$menu-color-collapsed: #004DE6;
.menu-panel {
  position: absolute;
  top: 0px;
  left: 0px;
}

.slide-menu-column-collapsed {
  width: 40px;
  height: 100vh;
  background-color: $menu-color-collapsed;
  opacity: 0.5;
  color: white;
}

.slide-menu-column-expanded {
  // width: 150px;
  height: 100vh;
  background-color: $interface-color;
  opacity: 0.8;
  color: white;
}

.menu-collapsed .menu-icon {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  color: black;
  text-align: center;
}

.menu-collapsed .menu-icon:hover {
  background-color: $interface-color;
  color: white;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.menu-expanded {
  font-size: 16px;
  color: white;
}

.menu-expanded .menu-box {
  margin-top: 8px;
  margin-bottom: 8px;
  cursor: default;
}

.menu-expanded .menu-box:hover {
  background-color: $menu-color-collapsed;
}

.menu-expanded .menu-icon {
  margin-left: 4px;
  padding-top: 4px;
  padding-bottom: 6px;
}

.menu-expanded .menu-item-label {
  font-size: 22px;
  font-weight: 600;
  min-width: 200px;
  margin-left: 16px;
}

.menu-expanded .submenu-item {
  font-size: 21px;
  margin-left: 46px;
  color: #AAAAAA;
  min-width: 200px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.menu-expanded .submenu-item:hover {
  color: orangered;
}
