<div [@expandCollapse]="menuExpanded ? 'expanded' : 'collapsed'" (click)="toggleMenu()" class="menu-panel"
     (focusout)="onLostFocus()">
  <!-- N A V I G A T I O N   M E N U   B A R -->
  <nav class="cc-nav-menu">
    <!-- M E N U   C O L L A P S E D -->
    <section *ngIf="!menuExpanded" class="menu-collapsed">
      <!-- D A S H B O A R D -->
      <div style="margin-bottom: 16px;" (click)="toggleMenuTest('dashboard', $event); $event.stopPropagation()">
        <div class="menu-icon cc-tooltip">
          <i class="fa fa-bars" id="ts30" aria-hidden="true"></i>
          <span class="tooltiptext tooltip-right">Dashboard principal</span>
        </div>
      </div>
      <hr>
      <!-- C I T A C I O N E S -->
      <div *ngIf="requestsRole('CALLCENTER')" (click)="toggleMenu('citaciones'); $event.stopPropagation()">
        <div class="menu-icon cc-tooltip">
          <img src="/assets/icons/call-center.png" width="30px" height="30px">
          <span class="tooltiptext tooltip-right">Citaciones</span>
        </div>
      </div>
      <!-- G E S T I O N   S E R V I C I O -->
      <div *ngIf="requestsRole('RESPONSABLE')" (click)="toggleMenu('gestionservicio'); $event.stopPropagation()">
        <div class="menu-icon cc-tooltip">
          <i class="fa fa-calendar" id="ts30" aria-hidden="true"></i>
          <span class="tooltiptext tooltip-right">Gestión Servicios</span>
        </div>
      </div>
      <!-- N O T I F I C A C I O N E S -->
      <div *ngIf="false" (click)="toggleMenu('notificaciones'); $event.stopPropagation()">
        <div class="menu-icon cc-tooltip">
          <i class="fa fa-envelope" id="ts30" aria-hidden="true"></i>
          <span class="tooltiptext tooltip-right">Notificaciones</span>
        </div>
      </div>
      <!-- A D M I N I S T R A C I O N -->
      <div *ngIf="requestsRole('ADMIN')" (click)="toggleMenu('admin'); $event.stopPropagation()">
        <div class="menu-icon cc-tooltip">
          <i class="fa fa-th-list" id="ts30" aria-hidden="true"></i>
          <span class="tooltiptext tooltip-right">Administración</span>
        </div>
      </div>
      <hr>
      <!-- L O G O U T -->
      <div (click)="clearSession(); toggleMenu('login'); $event.stopPropagation()">
        <div class="menu-icon cc-tooltip">
          <i class="fa fa-sign-out-alt" id="ts30" style="color: orange;" aria-hidden="true"></i>
          <span class="tooltiptext tooltip-right">Cerrar sesión</span>
        </div>
      </div>
    </section>

    <!-- M E N U   E X P A N D E D -->
    <section *ngIf="menuExpanded" class="menu-expanded">
      <!-- D A S H B O A R D -->
      <div class="menu-box" style="margin-bottom: 16px;" (click)="toggleMenu('dashboard'); $event.stopPropagation()">
        <div class="cc-tooltip">
          <i class="fa fa-bars menu-icon" id="ts30" aria-hidden="true"></i>
          <span class="menu-item-label">Dashboard</span>
          <span class="tooltiptext tooltip-right">Dashboard principal</span>
        </div>
      </div>
      <!-- C I T A C I O N E S -->
      <div *ngIf="requestsRole('CALLCENTER')" class="menu-box" (click)="toggleMenu('citaciones'); $event.stopPropagation()">
        <div class="cc-tooltip" style="padding-top: 4px; padding-bottom: 6px;">
          <img src="/assets/icons/call-center.png" width="30px" height="30px">
          <span class="menu-item-label">Citaciones</span>
          <span class="tooltiptext tooltip-right">Citaciones</span>
        </div>
      </div>
      <!-- G E S T I O N   S E R V I C I O -->
      <div *ngIf="requestsRole('RESPONSABLE')" class="menu-box" (click)="toggleMenu('gestionservicio'); $event.stopPropagation()">
        <div class="cc-tooltip">
          <span class="tooltiptext tooltip-right">Gestión Servicios</span>
          <i class="fa fa-calendar menu-icon" id="ts30" aria-hidden="true"></i>
          <span class="menu-item-label">Gestión Servicios</span>
          <!-- S U B M E N U   G E S T I O N   S E R V I C I O -->
          <div *ngIf="requestsRole('RESPONSABLE')" class="submenu-item" (click)="toggleMenu('gestionservicio/gestioncalendario'); $event.stopPropagation()">
            <i class="fa fa-calendar" id="ts20" aria-hidden="true"></i>
            &nbsp;&nbsp;Gestión de Citas
          </div>
          <div *ngIf="requestsRole('RESPONSABLE')" class="submenu-item" (click)="toggleMenu('gestionservicio/definicioncalendario'); $event.stopPropagation()">
            <i class="fa fa-calendar" id="ts20" aria-hidden="true"></i>
            &nbsp;&nbsp;Definicion Citas en Calendario
          </div>
          <div *ngIf="false" class="submenu-item" (click)="toggleMenu('gestionservicio/definicionlimites'); $event.stopPropagation()">
            <i class="fa fa-calendar" id="ts20" aria-hidden="true"></i>
            &nbsp;&nbsp;Definicion Límites Citaciones
          </div>
        </div>
      </div>
      <!-- N O T I F I C A C I O N E S -->
      <div *ngIf="false" class="menu-box" (click)="toggleMenu('notificaciones'); $event.stopPropagation()">
        <div class="cc-tooltip">
          <i class="fa fa-envelope menu-icon" id="ts30" aria-hidden="true"></i>
          <span class="menu-item-label">Notificaciones</span>
          <span class="tooltiptext tooltip-right">Notificaciones</span>
        </div>
      </div>
      <hr>
      <!-- A D M I N I S T R A C I O N -->
      <div *ngIf="requestsRole('ADMIN')" class="menu-box" (click)="toggleMenu('admin'); $event.stopPropagation()">
        <div class="cc-tooltip">
          <i class="fa fa-th-list menu-icon" id="ts30" aria-hidden="true"></i>
          <span class="menu-item-label">Administración del Centro</span>
          <span class="tooltiptext tooltip-right">Administración</span>
          <!-- S U B M E N U   A D M I N I S T R A C I O N -->
          <div *ngIf="false" class="submenu-item" (click)="toggleMenu('admin/credenciales')">
            <i class="fa fa-th-list" id="ts20" aria-hidden="true"></i>
            &nbsp;&nbsp;Administración de Credenciales
          </div>
          <div *ngIf="requestsRole('ADMIN')" class="submenu-item" (click)="toggleMenu('admin/servicios')">
            <i class="fa fa-th-list" id="ts20" aria-hidden="true"></i>
            &nbsp;&nbsp;Administración de Servicios
          </div>
          <div *ngIf="false" class="submenu-item" (click)="toggleMenu('admin/actosmedicos')">
            <i class="fa fa-th-list" id="ts20" aria-hidden="true"></i>
            &nbsp;&nbsp;Administración de Actos Médicos Centro
          </div>
        </div>
      </div>
      <!-- L O G O U T -->
      <div class="menu-box" (click)="clearSession(); toggleMenu('login'); $event.stopPropagation()">
        <div class="cc-tooltip" style="color: orange;">
          <i class="fas fa-sign-out-alt menu-icon" id="ts30" aria-hidden="true"></i>
          <span class="menu-item-label">Cerrar sesión</span>
          <span class="tooltiptext tooltip-right">Cerrar sesión</span>
        </div>
      </div>
    </section>
  </nav>
</div>
