<!-- A P P   I C O N -->
<div style="display: inline-block; vertical-align: top;">
  <img src="/assets/icons/call-center.png" width="70px" height="70px" class="app-icon">
  <i class="fas fa-calendar" style="vertical-align: middle; font-size: 60px;" aria-hidden="true"></i><br>
  <i class="fas fa-th-list app-icon" style="font-size: 60px;" aria-hidden="true"></i>
</div>
<!-- L O G I N   H E A D E R -->
<div style="display: inline-block; margin-left: 32px; margin-bottom: 32px;">
  <span id="login-header-1" class="login-header">Citas Centro</span><br />
  <span id="login-header-2" class="login-header">Interface Centro</span><br />
  <span id="app-version" class="app-version">{{getAppVersion()}}</span>
</div>
<!-- C A R O U S E L -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active carousel-size">
      <i class="fas fa-newspaper carousel-icon" aria-hidden="true"></i><br>
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-header">NOVEDADES</div>
        <p class="carousel-text">Nuevo panel de novedades en la página de logado. Mostrará los
          últimos cambios realizados en un carrusel de fichas que irán cambiando.</p>
      </div>
    </div>
    <div class="carousel-item">
      <i class="fas fa-newspaper carousel-icon" style="color: black; font-size: 120px; opacity: 0.1;"
         aria-hidden="true"></i><br>
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-header">PRUEBAS</div>
        <p class="carousel-text">Nuevas pruebas incorporadas para validar los últimos defectos
          encontrados y corregidos para evitar que vuelvan a aparecer a causa de otros cambios.</p>
      </div>
    </div>
  </div>
</div>

<!-- C O N T E N T   B O D Y -->
<div>
  <!-- L E F T   P A N E L.  C A L E N D A R -->
  <div style="width: 35%; float: left;">
    <cc-modules-panel id="cc-modules-panel" [title]="'Lista de Módulos'"></cc-modules-panel>
  </div>
  <!-- R I G H T   P A N E L.  A P P O I N T M E N T   L I S T -->
  <div style="width: 50%; float: right;">
    <cc-login-panel id="cc-login-panel" [title]="'Panel de Identificación'"></cc-login-panel>
  </div>
</div>
