$interface-color: #1A53FF;
.app-icon {
  margin: 16px;
}

.login-header {
  color: $interface-color;
  font-family: 'Proxima Nova Black';
  opacity: 0.8;
  font-size: 6em;
}

.app-version {
  font-size: 26px;
  color: orange;
  font-family: 'Proxima Nova Black';
}

.carousel-item {
  opacity: 0.3;
  background-color: $interface-color;
  margin-bottom: 16px;
  height: 150px;
  border-radius: 6px;
}

.carousel-size {
  height: 160px;
}

.carousel-header {
  font-size: 22px;
  color: black;
  margin-top: 16px;
  margin-left: 16px;
}

.carousel-text {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 18px;
  color: white;
  // opacity: 0.8;
  margin: 8px;
}

.carousel-icon {
  color: orange;
  font-size: 120px;
  // opacity: 0.1;
  margin-left: 64px;
  margin-top: 16px;
  margin-bottom: 32px;
}