<div class="page-container page-container-row" style="margin-top: -2px;">
  <div>
    <!-- C A R D   C E R R A B L E -->
    <ion-card>
      <ion-card-header>
        <span class="cc-container-title">Card por Defecto</span>
        <span *ngIf="canBeClosed" (click)="closePanel()">
          <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
        </span>
        <span *ngIf="downloading" style="float: right;">
          <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
        </span>
        <span class="cc-container-title-left-content">{{leftContent}}</span>
      </ion-card-header>

      <ion-card-content style="padding: 4px;">
        <div style="border: 1px solid black;">CONTENIDO - Padding 4</div>
        Maecenas eu felis a libero sollicitudin vestibulum. Mauris pellentesque non lorem sed
        cursus. Aenean ex nisl, euismod at velit eget, elementum accumsan tortor. Sed sed enim
        pulvinar, mollis lectus non, commodo magna. Curabitur at consectetur massa. Sed eget ante
        eu velit pellentesque accumsan in quis urna. Vivamus at lacus leo. Aenean ornare quis neque
        eget finibus. Nunc eros neque, cursus rhoncus eleifend ac, suscipit et ligula. Nam
        porttitor semper magna sed bibendum. Aliquam nec auctor sem. Morbi lectus orci, hendrerit
        ac pretium quis, cursus in nunc. Praesent consectetur mauris in erat pharetra tempor. In
        cursus nibh nec imperdiet dapibus.
      </ion-card-content>
    </ion-card>
    <!-- C A R D   C E R R R A B L E   D O W N L O A D I N G -->
    <ion-card>
      <ion-card-header>
        <span class="cc-container-title">Card Descargando</span>
        <span *ngIf="canBeClosed" (click)="closePanel()">
          <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
        </span>
        <span *ngIf="downloading" style="float: right;">
          <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
        </span>
      </ion-card-header>

      <ion-card-content style="padding: 6px;" class="page-container-column">
        <div style="border: 1px solid black;">CONTENIDO - Padding 6</div>
        Maecenas eu felis a libero sollicitudin vestibulum. Mauris pellentesque non lorem sed
        cursus. Aenean ex nisl, euismod at velit eget, elementum accumsan tortor. Sed sed enim
        pulvinar, mollis lectus non, commodo magna. Curabitur at consectetur massa. Sed eget ante
        eu velit pellentesque accumsan in quis urna. Vivamus at lacus leo. Aenean ornare quis neque
        eget finibus. Nunc eros neque, cursus rhoncus eleifend ac, suscipit et ligula. Nam
        porttitor semper magna sed bibendum. Aliquam nec auctor sem. Morbi lectus orci, hendrerit
        ac pretium quis, cursus in nunc. Praesent consectetur mauris in erat pharetra tempor. In
        cursus nibh nec imperdiet dapibus.
      </ion-card-content>
    </ion-card>

    <!-- C A R D   D O W N L O A D I N G   W I T H   L E F T   C O N T E N T -->
    <ion-card>
      <ion-card-header>
        <span class="cc-container-title">Card por Defecto</span>
        <span *ngIf="canBeClosed" (click)="closePanel()">
          <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
        </span>
        <span *ngIf="downloading" style="float: right;">
          <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
        </span>
        <span class="cc-container-title-left-content">{{leftContent}}</span>
      </ion-card-header>

      <ion-card-content style="padding: 6px;" class="page-container-column">
        <div style="border: 1px solid black;">CONTENIDO - Padding 6</div>
        Maecenas eu felis a libero sollicitudin vestibulum. Mauris pellentesque non lorem sed
        cursus. Aenean ex nisl, euismod at velit eget, elementum accumsan tortor. Sed sed enim
        pulvinar, mollis lectus non, commodo magna. Curabitur at consectetur massa. Sed eget ante
        eu velit pellentesque accumsan in quis urna. Vivamus at lacus leo. Aenean ornare quis neque
        eget finibus. Nunc eros neque, cursus rhoncus eleifend ac, suscipit et ligula. Nam
        porttitor semper magna sed bibendum. Aliquam nec auctor sem. Morbi lectus orci, hendrerit
        ac pretium quis, cursus in nunc. Praesent consectetur mauris in erat pharetra tempor. In
        cursus nibh nec imperdiet dapibus.
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card class="app-card-c2">
    <ion-card-header class="app-card-header">
      <ion-label>CARD HEADER</ion-label>
    </ion-card-header>
    <ion-card-content class="app-card-content">
      This is a sample for a two collumn fixed size card.
      The header is minified to a 12px font size but it is colored
      and rounded.
    </ion-card-content>
  </ion-card>
  <ion-card class="app-card-c2">
    <ion-card-header class="app-card-header">
      <ion-label>SAMPLES FOR ITEM ELEMENTS</ion-label>
    </ion-card-header>
    <ion-card-content class="app-card-content">
      This card contains samples for appointment that are the most common item to be found.
      <ion-list>
        <ion-card class="app-item">
          <ion-card-header class="app-item-header">
            <ion-label>MEDICO</ion-label>
          </ion-card-header>
          <ion-card-content class="app-card-content">
            This is a sample for a two collumn fixed size card.
            The header is minified to a 12px font size but it is colored
            and rounded.
          </ion-card-content>
        </ion-card>
        <ion-card class="app-item">
          <ion-card-header class="app-item-header">
            <ion-label>CITA</ion-label>
          </ion-card-header>
          <!-- <cc-cita [node]="sampleCita" [variant]="'-CITACIONES-PAGE-'"></cc-cita> -->
        </ion-card>
        <ion-card class="app-item">
          <ion-card-content class="app-card-content">
            <!-- <cc-medico [node]="sampleMedico" [variant]="'-NEW-UI-'"></cc-medico> -->
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <div>
    <!-- <cc-medico [node]="sampleMedico" [variant]="'-NEW-UI-'"></cc-medico>
    <cc-medico [node]="sampleMedico" [variant]="'-NEW-UI-'"></cc-medico>
    <cc-medico [node]="sampleMedico" [variant]="'-NEW-UI-'"></cc-medico>
    <cc-medico [node]="sampleMedico" [variant]="'-NEW-UI-'"></cc-medico>
    <cc-medico [node]="sampleMedico" [variant]="'-NEW-UI-'"></cc-medico> -->
  </div>
</div>
<!-- M E N U B A R -->
<ui-menu-bar></ui-menu-bar>
