.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
  // max-width: 50%;
}

.card-header {
  border-radius: 6px;
  background-color: #9999ff;
  padding: 4px;
}

.cc-container-title {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 20px;
  font-weight: 900;
  position: relative;
  top: 3px;
  padding: 4px;
}

.cc-container-title-left-content {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 18px;
  font-weight: 800;
  position: relative;
  top: 3px;
  padding-right: 4px;
  float: right;
}

.cc-card-remove-icon {
  color: red;
  padding-left: 8px;
  float: right;
  cursor: pointer;
}

.cc-card-cog-icon {
  color: #661aff;
  font-size: 20px;
  float: right;
  position: relative;
  top: 2px;
}

// - N E W   U I 
$card-border-color: #E0E0EB;
$medico-item-header-color: #E0E0EB;
$card-border-radius: 4px;
.app-card-c2 {
    width: calc(100%/12*2);
    border: 1px solid $card-border-color;
    border-radius: $card-border-radius;
    border: unset;
    opacity: 0.95;
}

.app-card-header {
    border-radius: $card-border-radius;
    padding: 4px;
}

.app-card-content {
    padding: 4px;
    border-left: 1px solid $card-border-color;
    border-right: 1px solid $card-border-color;
    border-bottom: 1px solid $card-border-color;
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
}

.app-item {
    border-radius: calc($card-border-radius/2);
}

.app-item-header {
    border-top-left-radius: calc($card-border-radius/2);
    border-top-right-radius: calc($card-border-radius/2);
    background-color: $medico-item-header-color;
}