$border-radius: 8px;
$acto-medico-item-color: #aa00ff; // 50%
$acto-medico-item-background: #eeccff; // 90%
$tiemporequerido-color: orange;
.acto-medico-item {
  border: 2px solid $acto-medico-item-color;
  border-radius: 8px;
  cursor: pointer;
  margin: 4px;
}

.acto-medico-item:hover {
  background-color: $acto-medico-item-background;
}

.acto-medico-label {
  border: 3px solid blue;
  border-radius: $border-radius;
  display: inline-block;
  font-family: 'Prototype', sans-serif;
  font-size: 21px;
  margin: 2px;
  padding: 2px 0;
  text-align: center;
  vertical-align: middle;
  width: 39px;
}

.acto-medico-nombre {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
  vertical-align: middle;
}

.acto-medico-tiempoRequerido {
  color: $tiemporequerido-color;
  display: inline-block;
  font-family: 'Prototype', sans-serif;
  font-size: 15px;
  margin: 4px;
}