<div *ngIf="variant === '-DEFAULT-'" class="acto-medico-item">
  <ion-label>
    <span class="acto-medico-label">{{node.etiqueta}}</span>
    <span class="acto-medico-nombre">{{node.nombre}}</span>
    <div class="acto-medico-tiempoRequerido">{{node.tiempoRequerido}}</div>
  </ion-label>
</div>

<div *ngIf="variant === '-TARGET-HEADER-'" class="acto-medico-item">
  <ion-label>
    <span class="acto-medico-label">{{node.etiqueta}}</span>
    <span class="acto-medico-nombre">{{node.nombre}}</span>
    <div class="acto-medico-tiempoRequerido">{{node.tiempoRequerido}}</div>
  </ion-label>
</div>
<div *ngIf="variant === '-ESPECIALIDADES-'" class="acto-medico-item">
  <ion-label>
    <span class="acto-medico-label">{{node.etiqueta}}</span>
    <span class="acto-medico-nombre">{{node.nombre}}</span>
    <div class="acto-medico-tiempoRequerido">{{node.tiempoRequerido}}</div>
  </ion-label>
</div>
<div *ngIf="variant === '-PENDING-'" class="acto-medico-item">
  <ion-label>
    <span class="acto-medico-label">{{node.etiqueta}}</span>
    <span class="acto-medico-nombre">{{node.nombre}}</span>
    <div class="acto-medico-tiempoRequerido">{{node.tiempoRequerido}}</div>
  </ion-label>
</div>
