// $duration-color: orangered;
$margin-mini: 4px;
$border-radius-base: 4px;

.build-block {
  border: 1px solid black;
  border-radius: $border-radius-base;
  margin-bottom: $margin-mini;
  width: 100%;
  display: table-row;
}

.cita-icon {
  color: black;
  font-size: 18px;
  vertical-align: middle;
  display: table-cell;
  padding-left: 4px;
}

.build-block-duracion {
  display: inline-block;
  font-family: 'Prototype', sans-serif;
  font-size: 18px;
  line-height: 1.0;
  padding: 2px 8px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 4px;
  color: orangered;
  min-width: 2em;
  text-align: right;
}

.build-block-nombre {
  font-size: 13px;
  display: table-cell; 
  vertical-align: middle;
}
