<!-- T E M P L A T E   B L O C K   R E N D E R -->
<div *ngIf="variant === '-DEFAULT-'" class="build-block">
  <div *ngIf="node.estado === 'DESCANSO'; else blockStandard">
    <ion-label>
      <span class="cita-icon"><i class="fas fa-coffee" aria-hidden="true"></i></span>
      <div class="build-block-duracion">{{node.duracion}}</div>
      <div class="build-block-nombre">{{node.nombre}}</div>
    </ion-label>
  </div>
  <ng-template #blockStandard>
    <ion-label>
      <span class="cita-icon"><i class="fas fa-calendar-alt" aria-hidden="true"></i></span>
      <div class="build-block-duracion">{{node.duracion}}</div>
      <div class="build-block-nombre">{{node.nombre}}</div>
    </ion-label>
  </ng-template>
</div>
