<!-- M A I N   D A S H B O A R D -->
<div class="page-container" style="margin-top: -2px;">
  <div class="page-container-row">
    <!-- B O T O N E S -->
    <div class="dashboard-cell">
      <div class="dashboard-cell-title" routerLink="/visualtests/buttons">
        <i class="fas fa-envelope dashboard-cell-icon" aria-hidden="true"></i>
        <span style="margin-left: 4px;">BOTONES</span>
      </div>
    </div>
    <!-- C I T A S -->
    <div class="dashboard-cell">
      <div class="dashboard-cell-title" routerLink="/visualtests/citas">
        <i class="fas fa-envelope dashboard-cell-icon" aria-hidden="true"></i>
        <span style="margin-left: 4px;">CITAS</span>
      </div>
    </div>
    <!-- C A R D S -->
    <div class="dashboard-cell">
      <div class="dashboard-cell-title" routerLink="/visualtests/cards">
        <i class="fas fa-id-card dashboard-cell-icon" aria-hidden="true"></i>
        <span style="margin-left: 4px;">CARDS</span>
      </div>
    </div>
    <!-- S E R V I C E S -->
    <div class="dashboard-cell">
      <div class="dashboard-cell-title" routerLink="/visualtests/services">
        <i class="fas fa-user-md dashboard-cell-icon" aria-hidden="true"></i>
        <span style="margin-left: 4px;">SERVICES</span>
      </div>
    </div>
  </div>
  <div class="page-container-row">
    <!-- S E R V I C E   S E L E C T I O N -->
    <div class="dashboard-cell">
      <div class="dashboard-cell-title" routerLink="/visualtests/serviceselection">
        <i class="fas fa-user-md dashboard-cell-icon" aria-hidden="true"></i>
        <span style="margin-left: 4px;">SERVICE SELECTION</span>
      </div>
    </div>
    <!-- H T T P   R E Q U E S T S -->
    <div class="dashboard-cell">
      <div class="dashboard-cell-title" routerLink="/visualtests/http">
        <i class="fas fa-id-card dashboard-cell-icon" aria-hidden="true"></i>
        <span style="margin-left: 4px;">HTTP REQUESTS</span>
      </div>
    </div>
    <!-- N E W   U I  -->
    <div class="dashboard-cell">
      <div class="dashboard-cell-title" routerLink="/visualtests/newui">
        <i class="fas fa-id-card dashboard-cell-icon" aria-hidden="true"></i>
        <span style="margin-left: 4px;">NEW UI</span>
      </div>
    </div>
  </div>
</div>
<!-- M E N U B A R -->
<ui-menu-bar></ui-menu-bar>
