<!-- T A R G E T   S E L E C T E D -->
<div *ngIf="node" id="centered-container">
  <div *ngIf="getTargetClass() == 'ActoMedicoCentro'" style="display: inline-block; cursor: context-menu;">
    <cc-acto-medico [container]="self" [node]="getTarget()" [variant]="'-TARGET-HEADER-'"></cc-acto-medico>
  </div>
  <div *ngIf="getTargetClass() == 'Especialidad'" style="display: inline-block; cursor: context-menu;">
    <cc-especialidad [container]="self" [node]="getTarget()" [variant]="'-TARGET-HEADER-'"></cc-especialidad>
  </div>
  <div *ngIf="getTargetClass() == 'Medico'" style="display: inline-block; cursor: context-menu;">
    <cc-medico [container]="self" [node]="getTarget()" [variant]="'-TARGET-HEADER-'"></cc-medico>
  </div>
</div>
