.panel-header {
  font-weight: 900;
  font-size: 20px;
}

.panel-content {
  font-size: 14px;
}

.app-button {
  min-width: 50%;
  background: transparent;
  border: 4px solid #4D79FF;
  border-radius: 8px;
  color: #4D79FF;
  font-family: 'Prototype';
  font-size: 24px;
  line-height: 3;
  margin-bottom: 16px;
  text-transform: UPPERCASE;
  text-align: center;
}

.button-blue {
  border: 4px solid #4D79FF;
  border-radius: 8px;
  color: #4D79FF;
}

.app-button:disabled {
  border: 4px solid #D0D0D0;
  color: #D0D0D0;
}

.app-button:hover {
  background: #4D79FF;
  color: white;
}

.app-button:hover:disabled {
  background: #D0D0D0;
  color: white;
}

// - NOTIFICATIONS
.toastr-title {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.toastr-message {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 13px;
}