<div class="limitador-item" style="min-height: 45px;">
  <table class="panel-container" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td width="32px">
        <img class="limit-icon" src="{{getIconPath()}}">
      </td>
      <td *ngIf="variant === '-ACTIVE-'" style="padding-left: 4px;" width="52%">
        <div class="limit-data">{{node.titulo}}</div>
        <div class="limit-data">{{node.descripcion}}</div>
      </td>
      <td *ngIf="variant === '-AVALABLE-'" style="padding-left: 4px;" width="90%">
        <div class="limit-data">{{node.titulo}}</div>
        <div class="limit-data">{{node.descripcion}}</div>
      </td>
      <!-- RIGHT BLOCK -->
      <td *ngIf="variant === '-ACTIVE-'" width="48%" class="panel-right-box" align="right">
        <form #activationForm="ngForm" autocomplete="off">
          <div class="limit-inputvalues">
            <select class="form-control citamed-form-control limit-aseguradora" id="aseguradora"
                    required [(ngModel)]="node.valorReferencia" name="aseguradora" #aseguradora="ngModel"
                    (focusout)="onFormBlur()">
              <option *ngFor="let ase of aseguradoras" [value]="ase">{{ase}}</option>
            </select>
            <select class="form-control citamed-form-control limit-porcentaje" id="valorLimite"
                    required [(ngModel)]="node.valorLimite" name="valorLimite" #valorLimite="ngModel"
                    (focusout)="onFormBlur()">
              <option *ngFor="let val of [90,80,70,60,50,40,30,20,10]" [value]="val">{{val}}</option>
            </select>
          </div>
          <span (click)="removeLimit()">
            <i class="fas fa-times limit-remove" aria-hidden="true"></i>
          </span>
          <div class="limit-switch">
            <label class="switch">
              <input type="checkbox" id="activeState" [(ngModel)]="node.activeState" name="activeState"
                     (click)="onFormBlur()">
              <span class="slider round"></span>
            </label>
          </div>
        </form>
      </td>
      <!-- SEPARATOR WHEN NO RIGHT ARROW -->
      <td width="8px">
        &nbsp;&nbsp;&nbsp;
      </td>
    </tr>
  </table>
</div>
