// - B U T T O N   D E F I N I T I O N  V A R I A B L E S
$blue-button-color: #4D79FF;
$green-button-color: #66FF66;
$orange-button-color: #FF7733;
$red-button-color: red;
$disabled-button-color: #D0D0D0;
// - B U T T O N   C O M M O N   S T Y L E S
// .btn {
//   min-width: 50%;
// }

.button-size {
  // min-width: 40%;
  max-width: 95%;
}

%color-button {
  background: transparent;
  border-radius: 8px;
  font-family: 'Prototype', sans-serif;
  font-size: 24px;
  margin-bottom: 16px;
  text-transform: UPPERCASE;
  white-space: normal;
  line-height: 1.0;
  padding: 12px;
}

// - B L U E   B U T T O N
.blue-button {
  @extend %color-button;
  border: 4px solid $blue-button-color;
  color: $blue-button-color;
}

.blue-button:disabled {
  border: 4px solid $disabled-button-color;
  color: $disabled-button-color;
}

.blue-button:hover {
  background: $blue-button-color;
  color: white;
}

.blue-button:hover:disabled {
  background: transparent;
  color: $disabled-button-color;
}

.processing-blue-button {
  @extend %color-button;
  border: 4px solid $blue-button-color;
  background: $blue-button-color;
  color: white;
}

// - G R E E N   B U T T O N
.green-button {
  @extend %color-button;
  border: 4px solid $green-button-color;
  color: $green-button-color;
}

.green-button:disabled {
  border: 4px solid $disabled-button-color;
  color: $disabled-button-color;
}

.green-button:hover {
  background: $green-button-color;
  color: white;
}

.green-button:hover:disabled {
  background: transparent;
  color: $disabled-button-color;
}

.processing-green-button {
  @extend %color-button;
  border: 4px solid $green-button-color;
  background: $green-button-color;
  color: white;
}

// - O R A N G E   B U T T O N
.orange-button {
  @extend %color-button;
  border: 4px solid $orange-button-color;
  color: $orange-button-color;
}

.orange-button:disabled {
  border: 4px solid $disabled-button-color;
  color: $disabled-button-color;
}

.orange-button:hover {
  background: $orange-button-color;
  color: white;
}

.orange-button:hover:disabled {
  background: transparent;
  color: $disabled-button-color;
}

.processing-orange-button {
  @extend %color-button;
  border: 4px solid $orange-button-color;
  background: $orange-button-color;
  color: white;
}

// - R E D   B U T T O N
.red-button {
  @extend %color-button;
  border: 4px solid $red-button-color;
  color: $red-button-color;
}

.red-button:disabled {
  border: 4px solid $disabled-button-color;
  color: $disabled-button-color;
}

.red-button:hover {
  background: $red-button-color;
  color: white;
}

.red-button:hover:disabled {
  background: transparent;
  color: $disabled-button-color;
}

.processing-red-button {
  @extend %color-button;
  border: 4px solid $red-button-color;
  background: $red-button-color;
  color: white;
}
