<div>
  <ion-card class="citamed-card">
    <ion-card-header>
      <ion-label text-wrap class="cc-container-title">
        <span>{{title}}</span>
        <i *ngIf="downloading" class="fa fa-clog fa-spin ui-leftmargin" aria-hidden="true"></i>
      </ion-label>
    </ion-card-header>
    <!-- N E W   A C T O   M E D I C O   F O R M -->
    <form (ngSubmit)="onSubmit()" #newMedicalActForm="ngForm" class="cc-form" autocomplete="off">
      <!-- E T I Q U E T A -->
      <!-- <div class="form-group">
          <div class="cc-tooltip">
            <label for="etiqueta">Etiqueta</label>
            <span class="tooltiptext tooltip-right">Esta etiqueta aparece </span>
          </div>
  
          <input type="text" class="form-control cc-form-control service-referencia" required
                 minlength="4" maxlength="15" [ngClass]="{'citamed-form-input-green': referencia.valid}"
                 [(ngModel)]="service.referencia" name="referencia" #referencia="ngModel" #spy>
          <div *ngIf="development">
            Field Class: {{spy.className}}<br>
          </div>
          <div [hidden]="referencia.valid || !referencia.dirty" class="alert alert-danger citamed-form-referencia"
               style="font-weight: 100;">
            <div *ngIf="referencia.errors?.required">
              Identificador es un campo requerido.
            </div>
            <div *ngIf="referencia.errors?.minlength">
              Identificador debe tener al menos 4 caracteres.
            </div>
          </div>
        </div> -->

      <!-- N O M B R E -->
      <div class="form-group">
        <div class="cc-tooltip">
          <label for="nombre">Nombre</label>
          <span class="tooltiptext tooltip-left">Nombre del acto médico para ser presentado al
            cliente.</span>
        </div>

        <input type="text" class="form-control cc-form-control service-referencia" required
               minlength="3" maxlength="50" [ngClass]="{'citamed-form-input-green': nombre.valid}"
               [(ngModel)]="actoMedico.nombre" name="nombre" #nombre="ngModel" #spy>
        <div *ngIf="!development">
          Field Class: {{spy.className}}<br>
        </div>
        <div [hidden]="nombre.valid || !nombre.dirty" class="alert alert-danger citamed-form-referencia"
             style="font-weight: 100;">
          <div *ngIf="nombre.errors?.required">
            Nombre es un campo requerido.
          </div>
          <div *ngIf="nombre.errors?.minlength">
            Nombre debe tener al menos 3 caracteres.
          </div>
        </div>
      </div>

      <!-- T I E M P O   R E Q U E R I D O -->
      <div class="form-group">
        <div class="cc-tooltip">
          <label for="tiempoRequerido">Tiempo Requerido</label>
          <span class="tooltiptext tooltip-left">Tiempo estimado que va a ocupar el acto.</span>
        </div>

        <input type="number" class="form-control cc-form-control service-apellidos" required
               [ngClass]="{'citamed-form-input-green': tiempoRequerido.valid}" [(ngModel)]="actoMedico.tiempoRequerido"
               name="tiempoRequerido" #tiempoRequerido="ngModel" #spy>
        <div *ngIf="!development">
          Field Class: {{spy.className}}<br>
        </div>
        <div [hidden]="tiempoRequerido.valid || !tiempoRequerido.dirty" class="alert alert-danger citamed-form-referencia"
             style="font-weight: 100;">
          <div *ngIf="tiempoRequerido.errors?.required">
            Tiempo requerido es un campo requerido.
          </div>
        </div>
      </div>

      <hr />

      <div id="centered-container">
        <button type="submit" class="btn submit-button" [disabled]="!newMedicalActForm.form.valid">
          <i class="fa fa-check" aria-hidden="true" ></i>
          &nbsp;&nbsp;Guardar Acto Médico
        </button>
      </div>
      <div id="centered-container">
        <button type="button" class="btn clearform-button" (click)="newMedicalActForm.reset()">
          <i class="fas fa-times" aria-hidden="true"></i>
          &nbsp;&nbsp;Borrar Formulario
        </button>
      </div>
    </form>
  </ion-card>
</div>
