<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="menu-title">Medicos Disponibles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: transparent;">
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl"></ion-searchbar>
  <ion-list>
    <div *ngFor="let node of renderNodeList">
      <ion-label *ngIf="node.jsonClass == 'Centro'" class="node-center">{{node.getNombre()}}</ion-label>
      <!-- <div *ngIf="node.jsonClass == 'Especialidad'" class="node-speciality" (click)="selectSpeciality(node)">
        <ion-label>{{node.nombre}}</ion-label>
      </div>
      <div *ngIf="node.jsonClass == 'Medico'" (click)='medicClick(node);'>
        <available-medico [medico]="node"></available-medico>
      </div> -->
    </div>
  </ion-list>
</ion-content>
