.node-center {
  background-color: #B3C6FF;
  background-color: #CCFF99;
  border-radius   : 6px;
  color           : green;
  cursor          : pointer;
  font-family     : 'Proxima Nova';
  font-size       : calc(18px + (32 - 18) * ((100vw - 480px) / (1600 - 480)));
  font-weight     : 600;
  margin-bottom   : 2px;
  opacity         : 0.95;
  padding         : 16px;
}

// .node-speciality {
//   background-color: #B3C6FF;
//   border-radius   : 6px;
//   color           : white;
//   font-family     : 'Proxima Nova', sans-serif;
//   font-size       : calc(18px + (32 - 18) * ((100vw - 480px) / (1600 - 480)));
//   font-weight     : 600;
//   margin          : 0 0 2px;
//   opacity         : 0.95;
//   padding-bottom  : 8px;
//   padding-left    : 16px;
//   padding-top     : 8px;
// }

// .node-speciality2 {
//   background-color: #E6ECFF;
//   border-radius   : 6px;
//   color           : black;
//   font-family     : 'Proxima Nova', sans-serif;
//   font-size       : 20px;
//   font-weight     : 600;
//   margin          : 0 0 2px;
//   opacity         : 0.95;
//   opacity         : 0.7;
//   padding-bottom  : 7px;
//   padding-left    : 16px;
//   padding-top     : 7px;
// }

// .node-doctor {
//   background-color: white;
//   border-radius   : 6px;
//   font-family     : 'Proxima Nova', sans-serif;
//   font-size       : 18px;
//   font-weight     : 100;
//   margin          : 0 0 2px;
//   opacity         : 0.95;
//   padding         : 0 0 0 16px;
// }
.appointment-doctor{
  background-color: #FFFF4D;
  border-radius   : 6px;
  font-family     : 'Proxima Nova', sans-serif;
  font-size       : 18px;
  font-weight     : 100;
  margin          : 0 0 2px;
  opacity         : 0.95;
  padding         : 0 0 0 16px;
}
.node-doctor-name {
  font-size  : 20px;
  font-weight: 600;
}

.expandable-icon {
  color    : #8080FF;
  font-size: 20px;
}

// .node-expanded {
//   background-color: red;
// }
//
// .node-collapsed {
//   background-color: green;
// }
