.save-button {
  background: transparent;
  border: 4px solid #4D79FF;
  border-radius: 8px;
  color: #4D79FF;
  font-family: 'Prototype', sans-serif;
  font-size: 24px;
  line-height: 1.5;
  text-transform: UPPERCASE;
  margin-bottom: 8px;
}

.save-button:disabled {
  border: 4px solid #D0D0D0;
  color: #D0D0D0;
}

.save-button:hover {
  background: #4D79FF;
  color: white;
}

.save-button:hover:disabled {
  background: #D0D0D0;
  color: white;
}

.save-label {
  font-family: 'Prototype', sans-serif;
}

.saving-label {
  color: orange;
}

.drop-limit-area {
  min-height: 50px;
  border: 2px dashed orange;
}