<!-- P A G E   C O N T E N T -->
<div *ngIf="show">
  <div>
    <ion-card class="citamed-card">
      <ion-card-header class="card-header-margin">
        <span class="container-title">{{title}}</span>
      </ion-card-header>

      <ion-card-content style="margin: 8px;">
        <!-- S A V E   B U T T O N -->
        <!-- <form #saveLimitsForm="ngForm"> -->
        <div id="centered-container">
          <button type="submit" class="btn save-button" [disabled]="!dirty" (click)="saveLimits()">
            <span *ngIf="!saving" class="save-label"><i class="fa fa-save" id="ts24" style="margin-left: 8px;"
                 aria-hidden="true"></i>
              Guardar Cambios</span>
            <span *ngIf="saving" class="saving-label"><i class="fa fa-cog fa-anim" id="ts24" style="margin-left: 8px;"
                 aria-hidden="true"></i>
              Guardardando Cambios...</span>
          </button>
        </div>
        <!-- </form> -->

        <!-- D E S T I N A T I O N   D R O P   A R E A -->
        <div droppable [dropScope]="'-ALLOWED-'" (onDrop)="onTemplateDrop($event)" class="drop-limit-area">
          <div style="min-height: 50px;" *ngFor="let node of renderNodeList">
            <limitador-blocking *ngIf="node.tipo === '-BLOCKING-'" style="min-height: 50px;"
                                [container]="self" [node]="node" [variant]="'-ACTIVE-'"></limitador-blocking>
            <limitador-percentage *ngIf="node.tipo === '-PERCENT-'" style="min-height: 50px;"
                                  [container]="self" [node]="node" [variant]="'-ACTIVE-'"></limitador-percentage>
          </div>
          <div style="min-height: 30px;"></div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>
