<!-- H E A D E R -->
<app-header></app-header>
<!-- S E R V I C E   M A N A G E M E M T   P A G E -->
<div class="page-container">
  <!-- T O O L B A R -->
  <as-toolbar-panel [container]="self" [editingService]="editing"></as-toolbar-panel>
  <div class=page-container-row>

    <!-- S E R V I C E   L I S T   P A N E L -->
    <div class="page-card">
      <service-list-panel [container]="self" [title]="'Médicos/Servicios disponibles'"
                          (serviceSelected)="onServiceSelected($event)"></service-list-panel>
    </div>

    <!-- N E W   S E R V I C E -->
    <div *ngIf="newService">
      <div class="page-card">
        <new-service-panel [container]="self" [title]="'Ficha creación Médico/Servicio'" (finished)="onFinishedAction($event)"></new-service-panel>
      </div>
    </div>

    <!-- E D I T   S E R V I C E -->
    <div *ngIf="editing">
      <div class="page-card">
        <edit-service-panel [service]="serviceActive" [container]="self" [title]="'Editar Médico/Servicio'"
                            (finished)="onFinishedAction($event)"></edit-service-panel>
      </div>
    </div>

    <!-- N E W   A C T O   M E D I C O -->
    <div *ngIf="showNewActoMedico">
      <div class="page-card">
        <cc-new-acto-medico-doctor-panel [title]="'Nuevo Acto Médico'" [activeService]="serviceActive"></cc-new-acto-medico-doctor-panel>
      </div>
    </div>
  </div>
</div>
<!-- M E N U B A R -->
<ui-menu-bar></ui-menu-bar>
