// - T O O L B A R
.card {
  border-radius: 0px;
  border: unset;
}

.card-header {
  padding: 2px;
  background-color: #CCCCCC;
}

.card-header:first-child {
  border-radius: 0px;
}


// .admin-page-container {
//   left: 40px;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: nowrap;
//   vertical-align: top;
//   position: absolute;
//   top: 0;
// }



// - P A S S W O R D   V A L I D A T I O N   B U T T O N
.validate-button {
  background: transparent;
  border: 4px solid #009900;
  border-radius: 8px;
  color: #009900;
  font-family: 'Prototype', sans-serif;
  font-size: 24px;
  line-height: 3;
  margin-bottom: 16px;
  text-transform: UPPERCASE;
}

.validate-button:disabled {
  border: 4px solid #D0D0D0;
  color: #D0D0D0;
  transition: border-color 0.30s ease-in-out, color 0.30s ease-in-out;
}

.validate-button:hover {
  background: #009900;
  color: white;
  transition: background-color 0.30s ease-in-out, color 0.30s ease-in-out;
}

.validate-button:hover:disabled {
  background: #D0D0D0;
  color: white;
  transition: background-color 0.30s ease-in-out, color 0.30s ease-in-out;
}

// - D E A C T I V A T E   S E R V I C E
.deactivate-button {
  background: transparent;
  border: 4px solid #4D79FF;
  border-radius: 8px;
  color: #4D79FF;
  font-family: 'Prototype', sans-serif;
  font-size: 24px;
  line-height: 3;
  margin-bottom: 16px;
  text-transform: UPPERCASE;
}

.deactivate-button:disabled {
  border: 4px solid #D0D0D0;
  color: #D0D0D0;
}

.deactivate-button:hover {
  background: #4D79FF;
  color: white;
}

.deactivate-button:hover:disabled {
  background: #D0D0D0;
  color: white;
}

// - C A N C E L   D E A C T I V A T I O N
.cancel-button {
  background: transparent;
  border: 4px solid red;
  border-radius: 8px;
  color: red;
  font-family: 'Prototype', sans-serif;
  font-size: 24px;
  line-height: 3;
  margin-bottom: 16px;
  text-transform: UPPERCASE;
}

.cancel-button:disabled {
  border: 4px solid #D0D0D0;
  color: #D0D0D0;
}

.cancel-button:hover {
  background: red;
  color: white;
}

.cancel-buttonbutton:hover:disabled {
  background: #D0D0D0;
  color: white;
}

// - M O D A L   P A N E L
.service-data {
  font-size: 30px;
  color: black;
  margin: 16px;
}