<!-- P A G E   C O N T E N T -->
<div *ngIf="show">
  <div>
    <ion-card>
      <ion-card-header>
        <span class="cc-container-title">{{title}}</span>
        <span *ngIf="canBeClosed" (click)="closePanel()">
          <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
        </span>
        <span *ngIf="downloading" style="float: right;">
          <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
        </span>
        <span class="cc-container-title-left-content">{{leftContent}}</span>
      </ion-card-header>

      <ion-card-content style="margin: 6px;">
        <!-- T A R G E T   S E L E C T E D -->
        <div *ngIf="null != getTarget()" id="centered-container">
          <div *ngIf="getTargetClass() == 'ActoMedicoCentro'" style="display: inline-block; cursor: context-menu;">
            <cc-acto-medico [container]="self" [node]="getTarget()" [variant]="'-TARGET-HEADER-'"></cc-acto-medico>
          </div>
          <div *ngIf="getTargetClass() == 'Especialidad'" style="display: inline-block; cursor: context-menu;">
            <cc-especialidad [container]="self" [node]="getTarget()" [variant]="'-TARGET-HEADER-'"></cc-especialidad>
          </div>
          <div *ngIf="getTargetClass() == 'Medico'" style="display: inline-block; cursor: context-menu;">
            <cc-medico [container]="self" [node]="getTarget()" [variant]="'-TARGET-HEADER-'"></cc-medico>
          </div>
        </div>

        <!-- A P P O I N T M E N T   L I S T -->
        <div draggable *ngFor="let cita of renderNodeList" [dragScope]="getScope(cita)"
             [dragEnabled]="dragEnabledValidation(cita)" [dragData]="cita" [ngClass]="{'cita-libre': isLibre(cita),'cita-bloqueada': isBloqueada(cita),'cita-reservada': isReservada(cita), 'cita-hover': dragEnabledValidation(cita), 'cita-move-forbiden': !dragEnabledValidation(cita)}">
          <div *ngIf="cita.jsonClass == 'AppointmentGroup'">
            <div class="group-title">
              <span *ngIf="cita.isExpandable()" (click)="toggleExpanded(cita)">
                <i *ngIf="cita.isExpanded()" class="fa fa-arrow-down cita-arrow" id="ts20" style="color: white;"
                   aria-hidden="true"></i>
                <i *ngIf="!cita.isExpanded()" class="fa fa-arrow-right cita-arrow" id="ts20" style="color: white;"
                   aria-hidden="true"></i>
              </span>
              {{cita.title}}
            </div>
          </div>
          <cc-cita *ngIf="cita.jsonClass == 'Cita'" [container]="self" [node]="cita" [variant]="getVariant()"></cc-cita>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>
