.cita-libre {
  background-color: white;
}

.cita-bloqueada {
  background-color: #FFFF4D;
}

.cita-reservada {
  background-color: #A6FF4D;
}

.cita-hover {
  background-color: white;
}

.cita-hover:hover {
  background-color: #CCDDFF;
  cursor: pointer;
}

.cita-move-forbiden{
  cursor: not-allowed;
}

.group-title {
  font-size: 16px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 600;
  background-color: darkblue;
  color: white;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 2px;
}

//--- R I G H T   A R R O W   S E C T I O N
.cita-arrow {
  display: inline-block;
}