available-appointments-page {
  .citamed-cita {
    background-color: #E6ECFF;
    border          : 2px solid #B3C6FF;
    border-radius   : 6px;
    margin-bottom   : 2px;
    opacity         : 0.95;
    margin-left     : 8px;
    margin-right    : 8px;
    width           : -webkit-fill-available;
  }
}
