<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="menu-title">Citas Disponibles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: transparent;">
  <ion-card class="citamed-card">
    <!-- A P P O I N T M E N T S   L I S T -->
    <ion-card-header>
      <span class="container-title">Citas Disponibles</span>
    </ion-card-header>
    <div *ngIf="especialidadSeleccionada.jsonClass == 'Especialidad'" class="node-speciality">
      <ion-label>{{especialidadSeleccionada.nombre}}</ion-label>
    </div>
    <div *ngIf="medicoSeleccionado.jsonClass == 'Medico'" class="node-medico">
      <ion-label>{{medicoSeleccionado.tratamiento}} {{medicoSeleccionado.apellidos}},
        {{medicoSeleccionado.nombre}}</ion-label>
    </div>
    <div *ngIf="actoMedicoSeleccionado">
      <cp-acto-medico [node]="actoMedicoSeleccionado" [variant]="'-MEDICO-'" style="margin: 0px 8px;"></cp-acto-medico>
    </div>

    <ion-list>
      <div *ngFor="let node of getAppointmentsList()">
        <button *ngIf="node.jsonClass == 'Cita'" class="citamed-cita" (click)='citaClick(node);'>
          <ion-label text-wrap><span class="citamed-cita-slot">{{node.getHour() | number
              :'2.0-0'}}:{{node.getMinutes() | number :'2.0-0'}}</span> <span class="patient-data">{{getWeekDay(node)}},
              {{getDateNumber(node)}} {{getMonthName(node)}} {{getYearNumber(node)}}</span>
            <!-- <div style="float: right; color: orangered;">{{node.getDuracion()}}</div> -->
          </ion-label>
        </button>
      </div>
    </ion-list>
  </ion-card>
</ion-content>
