<div style="display: flex; flex-direction: column;">
  <ion-card style="height: 30vh;">
    <ion-card-header>
      HEADER 1
    </ion-card-header>
    <ion-content style="height: 55vh;">
      <gs-service-selection-panel [dup]="false"></gs-service-selection-panel>
    </ion-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      HEADER 2
    </ion-card-header>
    <!-- <ion-card-content> -->
    <ion-content style="height: 55vh;">
      <gs-service-selection-panel [dup]="true"></gs-service-selection-panel>
    </ion-content>
    <!-- </ion-card-content> -->
  </ion-card>
</div>

<router-outlet></router-outlet>
