.ng-valid.required, .ng-valid[required] {
  border-left: 5px solid #42A948; // green
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; // red
}

label {
  font-size: 14px;
  font-weight: 500;
}

.no-style .ng-valid {
  border-left: 1px solid #CCC;
}

.no-style .ng-invalid {
  border-left: 1px solid #CCC;
}