$border-radius-normal: 10px;
$border-radius-small: 6px;
$border-radius: 8px;
$input-font-size: calc(22px + (27 - 17) * ((100vw - 480px) / (1600 - 480)));

patient-record-page {
  .citamed-inputgroup {
    margin-bottom: 16px;
  }

  .citamed-inputlabel {
    background-color: #B3C6FF;
    border-radius   : 8px;
    color           : white;
    font-family     : 'Roboto', sans-serif;
    font-size       : 12px;
    font-weight     : 600;
    margin          : 0;
    padding         : 4px 8px;
  }

  .citamed-input {
    font-family: 'Proxima Nova', sans-serif;
    font-size  : $input-font-size;
    font-weight: 100;
    line-height: 1.0;
    margin-top : 8px;
  }

  .underline-red {
    border-bottom: 2px solid red;
  }

  .underline-green {
    border-bottom: 2px solid green;
  }

  .tipo-identificador-field {
    border       : 1px solid black;
    border-radius: $border-radius;
  }

  .citamed-input-block {
    margin-bottom: 10px;
  }

  .citamed-formerror {
    background                : #FFD6CC;
    border-bottom-left-radius : 10px;
    border-bottom-right-radius: 10px;
    margin-top                : 5px;
    padding                   : 5px;
  }

  .citamed-form-message {
    color        : black;
    font-size    : 13px;
    margin-bottom: 15px;
    margin-left  : auto;
    margin-right : auto;
    width        : 80%;
  }

  .text-input-md {
    margin : 8px 4px 2px;
    padding: 0;
    width  : calc(100% - 8px - 8px);
  }
}
