<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="menu-title">Datos Paciente</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: transparent;">
  <ion-card class="citamed-card">
    <ion-card-header class="card-header-margin">
      <span class="container-title">Datos del Paciente</span>
    </ion-card-header>

    <ion-card-content>
      <form novalidate (ngSubmit)="signup()" [formGroup]="credentialForm">
        <!-- T I P O   I D E N T I F I C A D O R -->
        <!-- <div class="citamed-inputgroup" style="width: 80vw;">
          <ion-label class="citamed-inputlabel">*Tipo Identificador</ion-label>
          <ion-select class="citamed-input tipo-identificador-field" [(ngModel)]="patientRecord.tipoIdentificador" formControlName="tipoIdentificador" (ionBlur)='blurField()'>
            <ion-option selected value="NIF">NIF</ion-option>
            <ion-option value="Pasaporte">Pasaporte</ion-option>
          </ion-select>
        </div> -->

        <!-- N I F / C I F / N I E -->
        <div class="citamed-inputgroup" style="width: 75vw;">
          <ion-label class="citamed-inputlabel">IDENTIFICADOR (NIF, NIE)</ion-label>
          <ion-input class="citamed-input underline-red" type='text' required minlength="9"
                     maxlength="9" [(ngModel)]="patientRecord.identificador" formControlName="identificador"
                     [ngClass]="{'underline-green':credentialForm.controls.identificador.valid}"
                     (ionBlur)='blurIdentificador()'></ion-input>
        </div>
        <div [hidden]="credentialForm.controls.identificador.valid && credentialForm.controls.identificador.dirty" class="citamed-formerror">
          <div *ngIf="credentialForm.controls.identificador.errors?.required">
            Identificador es un campo requerido y de al menos 8 dígitos y una letra.
          </div>
          <div *ngIf="credentialForm.controls.identificador.errors?.minlength">
            El campo de identificación debe tener 9 caracteres.
          </div>
          <div [hidden]="nifvalido || credentialForm.controls.identificador.pristine" class="alert alert-danger">
            NIF introducido no es válido. Número o letra incorrectos.
          </div>
        </div>

        <!-- T E L E F O N O -->
        <div class="citamed-inputgroup">
          <ion-label class="citamed-inputlabel">*Teléfono de Contacto</ion-label>
          <ion-input class="citamed-input underline-red" type='text' [(ngModel)]="patientRecord.tefContacto"
                     formControlName="tefContacto" required [ngClass]="{'underline-green':credentialForm.controls.identificador.valid}"
                     (ionBlur)='blurField()'></ion-input>
        </div>
        <div [hidden]="credentialForm.controls.tefContacto.valid" class="citamed-formerror">
          Teléfono de Contacto es un campo requerido y de al menos 9 caracteres.
        </div>

        <!-- N O M B R E -->
        <div class="citamed-inputgroup">
          <ion-label class="citamed-inputlabel">NOMBRE</ion-label>
          <div class="citamed-input-block">
            <ion-input class="citamed-input underline-green" type='text' [(ngModel)]="patientRecord.nombre"
                       required formControlName="nombre" (ionBlur)='blurNombre();'></ion-input>
          </div>
          <div [hidden]="credentialForm.controls.nombre.valid" class="citamed-formerror">
            Nombre es un campo requerido y de al menos 3 caracteres.
          </div>
        </div>

        <!-- A P E L L I D O S -->
        <div class="citamed-inputgroup">
          <ion-label class="citamed-inputlabel">APELLIDOS</ion-label>
          <!-- <div class="citamed-input-block"> -->
          <ion-input class="citamed-input underline-green" type='text' [(ngModel)]="patientRecord.apellidos"
                     formControlName="apellidos" (ionBlur)='blurField();'></ion-input>
          <!-- </div> -->
          <!-- <div [hidden]="credentialForm.controls.apellidos.valid" class="citamed-formerror">
            Apellidos es un campo requerido y de al menos 6 caracteres.
          </div> -->
        </div>

        <!-- C O R R E O   E L E C T R O N I C O -->
        <div class="citamed-inputgroup">
          <ion-label class="citamed-inputlabel">Correo Electrónico</ion-label>
          <div class="citamed-input-block">
            <ion-input class="citamed-input underline-green" type='text' [(ngModel)]="patientRecord.email"
                       formControlName="email" (ionBlur)='blurEmail();'></ion-input>
          </div>
          <div [hidden]="credentialForm.controls.email.valid" class="citamed-formerror">
            Nombre es un campo requerido y de al menos 3 caracteres.
          </div>
        </div>

        <!-- T I P O   I D E N T I F I C A D O R -->
        <!-- <div class="citamed-inputgroup" style="width: 80vw;">
          <ion-label class="citamed-inputlabel">Aseguradora</ion-label>
          <ion-select class="citamed-input tipo-identificador-field" [(ngModel)]="patientRecord.aseguradora" formControlName="aseguradora" (ionBlur)='blurField()'>
            <ion-option *ngFor="let aseg of aseguradoras">{{aseg}}</ion-option>
          </ion-select>
        </div> -->

        <!-- <ion-label class="citamed-form-message">Los campos marcados con * son obligatorios</ion-label> -->
      </form>
    </ion-card-content>
  </ion-card>
  <div class="citamed-block">
    <button ion-button class="citamed-button" color="secondary" id="bt-height4" (click)="savePatientData();">Guardar</button>
  </div>
</ion-content>
