<!-- T O O L B A R -->
<div class="cc-toolbar-panel">
  <div>
    <ion-card>
      <ion-card-header>
        <ion-label text-wrap class="cc-toolbal-title">
          <i class="fas fa-bars toolbar-bars" aria-hidden="true"></i>
          <span style="margin-left: 6px;">Herramientas</span>
        </ion-label>
      </ion-card-header>

      <ion-list class="cc-toolbar-horizontal" style="padding: 4px;">
        <div class="toolbar-dropable-tool">
          <div droppable [dropScope]="'-MEDICO-'" (onDrop)="onDrop2FreeAppointment($event)" class="cc-tooltip">
            <i class="fas fa-trash-alt toolbar-icon" aria-hidden="true"></i><span class="toolbar-label">Cancelar
              Cita</span>
            <span class="tooltiptext tooltip-right">Herramienta para desactivar un
              Medico/Servicio. ¡Atención!. Una vez desactivado no es posible volver a
              activarlo.</span>
          </div>
        </div>
      </ion-list>
    </ion-card>
  </div>
</div>
