<!-- N O T I F I C A T I O N S -->
<!-- <simple-notifications class="rounded" [options]="options" (onCreate)="created()" (onDestroy)="destroyed()"></simple-notifications> -->
<!-- <toaster-container [toasterconfig]="toasterconfig"></toaster-container> -->
<router-outlet></router-outlet>
