//  PROJECT:     NeoCom.WS (NEOC.WS)
//  AUTHORS:     Adam Antinoo - adamantinoo.git@gmail.com
//  COPYRIGHT:   (c) 2017-2018 by Dimensinfin Industries, all rights reserved.
//  ENVIRONMENT: Angular 4
//  DESCRIPTION: Angular source code to run on a web server almost the same code as on the Android platform.
//               The project has 3 clear parts. One is the Java libraries that are common for all platforms,
//               the second is the java microservices that compose the web application backend made with
//               SpringBoot technology and finally the web ui code made in typescript within the Angular
//               framework.

// --- APPLICATION MARGIN VARIABLES
$margin-base        : 8px;
$min-separator-width: 2px;
$padder             : 4px;

// --- APPLICATION FONT VARIABLES
$line-height        : 1.0;

//--- FONT SIZES
$citamed-font-size-16: calc(16px + (21 - 11) * ((100vw - 480px) / (1600 - 480)));
$citamed-font-size-18: calc(18px + (23 - 13) * ((100vw - 480px) / (1600 - 480)));
$citamed-font-size-19: calc(19px + (24 - 14) * ((100vw - 480px) / (1600 - 480)));
$citamed-font-size-20: calc(20px + (25 - 15) * ((100vw - 480px) / (1600 - 480)));
$citamed-font-size-21: calc(21px + (26 - 16) * ((100vw - 480px) / (1600 - 480)));
$citamed-font-size-22: calc(22px + (27 - 17) * ((100vw - 480px) / (1600 - 480)));
$citamed-font-size-23: calc(23px + (28 - 18) * ((100vw - 480px) / (1600 - 480)));
$citamed-font-size-24: calc(24px + (29 - 19) * ((100vw - 480px) / (1600 - 480)));
$citamed-font-size-30: calc(30px + (35 - 35) * ((100vw - 480px) / (1600 - 480)));
$label-font-size: calc(13px + (15 - 11) * ((100vw - 480px) / (1600 - 480)));
$menu-font-size: calc(17px + (22 - 12) * ((100vw - 480px) / (1600 - 480)));

//--- BORDERS
$border-radius-normal: 10px;
$border-radius-small: 6px;

$padding-base: 16px;
$padding-narrow: 8px;
$padding-extra: 24px;
