//  PROJECT:     CitaMed.paciente(CITM.ION)
//  AUTHORS:     Adam Antinoo - adamantinoo.git@gmail.com
//  COPYRIGHT:   (c) 2018 by Dimensinfin Industries, all rights reserved.
//  ENVIRONMENT: Ionic 3.20.
//  DESCRIPTION: CitaMed. Sistema S3. Aplicacion Ionic con estructura muy similar a las aplicaciones Angular
//               que genera paquetes para Android e Ios. Este aplicativo es el que se debe ran instalar los
//               pacientes para poder acceder a la lista de servicios disponibles y poder reservar una cita
//               medica con los proceedores disponibles.
// Collects all the styles for the pages.
// On Ionic the styles are not local to the page but are shared on all of them.
// To avoid style duplication and conflicts collect all them into this place.
//--- APPLICATION STYLE VARIABLES
// @import "./_scss_variables.scss";
//--- N O T I F I C A T I O N S
.rounded {
  border-radius: 8px;
}

//--- M E N U   S T Y L E S
ion-navbar[hidebackbutton] button[menutoggle] {
  display: block !important;
}

.menu-title {
  font-family: 'Proxima Nova Black', sans-serif;
  font-size: $menu-font-size;
  font-weight: 100;
}

.menuitem {
  font-family: 'Proxima Nova', sans-serif;
  font-size: $menu-font-size;
  font-weight: 400;
}

// .ios {
//   .menu-title {
//     font-family: 'Roboto', sans-serif;
//     font-size  : $menu-font-size;
//     font-weight: 800;
//   }
//
//   .menuitem {
//     font-family: 'Roboto', sans-serif;
//     font-size  : $menu-font-size;
//     font-weight: 400;
//   }
// }
//--- C O N T A I N E R S
.cp-card {
  border-radius: $border-radius-normal;
  margin: 0;
  opacity: 0.95;
  width: 100%;
}

.citamed-card-margin {
  margin-bottom: 4px;
}

.container-title {
  font-family: 'Proxima Nova Black';
  font-size: $citamed-font-size-22;
  margin: 2px;
}

// .card-header-margin {
//   margin-bottom: 16px;
// }
.citamed-label {
  color: darkgray;
  font-family: 'Roboto';
  font-size: $label-font-size;
  margin: 0;
}

// .ios {
//   .container-title {
//     font-family: 'Roboto';
//     font-size  : $title-font-size;
//     font-weight: 900;
//   }
//
//   .citamed-label {
//     color      : darkgray;
//     font-family: 'Roboto';
//     font-size  : $label-font-size;
//     margin     : 0;
//   }
// }
//--- B U T T O N S
.citamed-block {
  margin: calc($margin-base*2) $margin-base;
  opacity: 0.95;
}

.cp-button {
  border-radius: $border-radius-normal;
  display: block;
  font-family: 'Roboto';
  font-size: calc(20px + (25 - 15) * ((100vw - 480px) / (1600 - 480)));
  height: 4em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  min-width: 280px;
  width: 50%;
}

.button-color-red {
  background-color: #FF9999;
}

.button-color-green {
  background-color: #32DB64;
}

.button-color-blue {
  background-color: #488AFF;
}

.button-color-orange {
  background-color: orangered;
}

//--- F O R M S   &   C O N T E N T S
.patient-data {
  font-family: 'Proxima Nova', sans-serif;
  font-size: $citamed-font-size-22;
  font-weight: 200;
  margin-bottom: $margin-base;
  margin-top: 0;
}

// .ios .patient-data {
//   font-family  : 'Proxima Nova', sans-serif;
//   font-size    : calc(22px + (27 - 17) * ((100vw - 480px) / (1600 - 480)));
//   font-weight  : 200;
//   margin-bottom: $margin-base;
//   margin-top   : 0;
// }
// //--- P A G E   B U T T O N S
//
// // .citamed-cita-slot {
// //   font-size  : 20px;
// //   font-weight: 600;
// // }
//
// //--- F O R M   I N P U T S
// .underline-red {
//   border-bottom: 2px solid red;
// }
//
// .underline-green {
//   border-bottom: 2px solid green;
// }
//--- S P E C I A L   S T Y L E S
.citamed-cita-slot {
  font-family: 'Prototype', sans-serif;
  font-size: $citamed-font-size-22;
  font-weight: 200;
  margin-right: 8px; // font-size: 24px;
}

//--- C O M M O N   S T Y L E S
.node-speciality {
  background-color: #B3C6FF;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-family: 'Proxima Nova', sans-serif;
  font-size: $citamed-font-size-19;
  font-weight: 600;
  margin: 0 8px 2px;
  opacity: 0.95;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-top: 8px;
}

.section-title {
  display: inline-block;
  font-family: 'Proxima Nova', sans-serif;
  font-size: $citamed-font-size-18;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}