//  PROJECT:     CitaMed.paciente(CITM.ION)
//  AUTHORS:     Adam Antinoo - adamantinoo.git@gmail.com
//  COPYRIGHT:   (c) 2018 by Dimensinfin Industries, all rights reserved.
//  ENVIRONMENT: Ionic 3.20.
//  DESCRIPTION: CitaMed. Sistema S3. Aplicacion Ionic con estructura muy similar a las aplicaciones Angular
//               que genera paquetes para Android e Ios. Este aplicativo es el que se debe ran instalar los
//               pacientes para poder acceder a la lista de servicios disponibles y poder reservar una cita
//               medica con los proceedores disponibles.
/* F O N T S */

// @font-face {
//   font-family: 'Proxima Nova Black';
//   src: url('/assets/fonts/Proxima Nova Alt Black.ttf') format('truetype');
//   font-weight: 900;
//   font-style: normal;
// }

.android {
  .label-text { font-size: 0.8em }
}

.windows {
  .label-text { font-size: 1.2em }
}

@font-face {
    font-family: 'Proxima Nova Black';
    src: url('/assets/fonts/Proxima Nova Alt Black.eot');
    src: url('/assets/fonts/Proxima Nova Alt Black.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Proxima Nova Alt Black.woff2') format('woff2'),
         url('/assets/fonts/Proxima Nova Alt Black.woff') format('woff'),
         url('/assets/fonts/Proxima Nova Alt Black.ttf') format('truetype'),
         url('/assets/fonts/Proxima Nova Alt Black.svg#Proxima Nova Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/Proxima Nova Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/Proxima Nova Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/Proxima Nova Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/Proxima Nova Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}

.proxima-ff {
  font-family: 'Proxima Nova';
}

.proxima-black-ff {
  font-family: 'Proxima Nova Black';
}

@font-face {
  font-family: 'Prototype';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/Prototype.ttf");
}

.prototype-ff {
  font-family: "Prototype";
}
