<!-- A D M I N   D A S H B O A R D   P A G E -->
<div class="page-container" style="margin-top: -2px;">
  <!-- F I R S T   R O W -->
  <div class="page-container-row">
    <!-- A D M I N   C R E D E N T I A L S -->
    <div class="dashboard-cell">
      <div class="dashboard-cell-title" routerLink="/admin/servicios">
        <i class="fas fa-heartbeat dashboard-cell-icon" aria-hidden="true"></i>
        <span class="dashboard-cell-title">MEDICOS/SERVICIOS</span>
      </div>
    </div>
  </div>
</div>
<!-- M E N U B A R -->
<ui-menu-bar></ui-menu-bar>
