<div class="page-container page-container-row">
  <div>
    <ion-card>
      <ion-card-header>
        <span class="cc-container-title">Comprobaciones de Respuestas HTTP</span>
      </ion-card-header>

      <ion-card-content style="padding: 6px;" class="page-container-column">
        <div class="panel-column">
          <!-- REQUEST WITH NO HEADERS -->
          <div class="test-panel-title">Request with no Headers</div>
          <app-button id="centered-container" style="margin-bottom: 32px;" [title]="'Do Request'"
                      [activationTitle]="'Checking Request...'" [standByIcon]="'fas fa-sign-in'"
                      [styleClass]="'red-button'" (activateAction)="onReqNoHeaders($event)"></app-button>
          <!-- REQUEST WITH NO HEADERS -->
          <div class="test-panel-title">Invalid Method</div>
          <app-button id="centered-container" style="margin-bottom: 32px;" [title]="'Do Request'"
                      [activationTitle]="'Checking Request...'" [standByIcon]="'fas fa-sign-in'"
                      [styleClass]="'red-button'" (activateAction)="onInvalidMethod($event)"></app-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <span class="cc-container-title">RESULTADOS</span>
      </ion-card-header>

      <ion-card-content style="padding: 8px;">
        <div class="panel-column">
          <div>REQUEST</div>
          <div>{{request}}</div>
          <div>RESULTS RAW</div>
          <div>{{responseOkraw}}</div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>
<!-- M E N U B A R -->
<ui-menu-bar></ui-menu-bar>
