<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="menu-title">Citas Abiertas [{{getOpenAppointmentsCount()}}]</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: transparent;">
  <div *ngFor="let open of renderNodeList">
    <open-appointment [open]="open" [dataSource]="getDataSource()"></open-appointment>
  </div>
</ion-content>
