.especialidad-item {
  border       : 2px solid black;
  border-radius: 8px;
  cursor       : pointer;
  margin       : 4px;
}

$medico-item-color : #0099ff; // 50%
$medico-item-background : #ccebff; // 90%

.medico-item {
  border       : 2px solid $medico-item-color;
  border-radius: 8px;
  cursor       : pointer;
  margin       : 4px;
}
