<div>
  <ion-card>
    <ion-card-header>
      <ion-label text-wrap class="cc-container-title">
        <span class="cc-container-title">{{title}}</span>
        <span *ngIf="canBeClosed" (click)="closePanel()">
          <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
        </span>
        <span *ngIf="downloading" style="float: right;">
          <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
        </span>
        <span *ngIf="canBeExpanded" class="ui-arrow-box" (click)="toggleShowContents()">
          <div *ngIf="showContents; else arrowright">
            <i class="fas fa-arrow-circle-down" id="ts22" aria-hidden="true"></i>
          </div>
          <ng-template #arrowright>
            <i class="fas fa-arrow-circle-right" id="ts22" aria-hidden="true"></i>
          </ng-template>
        </span>
        <span *ngIf="renderNodeList.length > 0" class="cc-container-title-left-content">[{{renderNodeList.length}}]</span>
      </ion-label>
    </ion-card-header>

    <ion-list>
      <div draggable *ngFor="let node of renderNodeList" [dragScope]="'-ESPECIALIDAD-'" [dragData]="node">
        <div *ngIf="node.jsonClass == 'Especialidad'">
          <cc-especialidad [node]="node" [container]="self" [variant]="'-ESPECIALIDADES-'"></cc-especialidad>
        </div>
        <div *ngIf="node.jsonClass == 'Medico'" draggable [dragScope]="'-MEDICO-'" [dragData]="node">
          <cc-medico [node]="node" [container]="self" [variant]="'-ESPECIALIDADES-'"></cc-medico>
        </div>
      </div>
    </ion-list>
  </ion-card>
</div>
