<div>
  <ion-card>
    <ion-card-header>
      <ion-label text-wrap class="cc-container-title">
        <span>{{title}}</span>
        <i *ngIf="downloading" class="fa fa-clog fa-spin ui-leftmargin" aria-hidden="true"></i>
      </ion-label>
    </ion-card-header>
    <!-- S E R V I C E   L I S T -->
    <ion-list>
      <div style="display: inline-block; width: 100%; vertical-align: top;">
        <div *ngFor="let node of renderNodeList">
          <div *ngIf="node.jsonClass == 'Medico'" draggable [dragScope]="'-MEDICO-'" [dragData]="node"
               [dragEnabled]="node.activo">
            <cc-medico [node]="node" [container]="self" [variant]="'-SERVICE-ADMIN-'" (click)="selectService(node)"></cc-medico>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-card>
</div>
