<!-- P A G E   C O N T E N T -->
<div *ngIf="show">
  <div>
    <ion-card>
      <ion-card-header>
        <span class="cc-container-title">{{title}}</span>
        <span *ngIf="canBeClosed" (click)="closePanel()">
          <i class="fas fa-times cc-card-remove-icon" id="ts24" aria-hidden="true"></i>
        </span>
        <span *ngIf="downloading" style="float: right;">
          <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22" aria-hidden="true"></i>
        </span>
        <span class="cc-container-title-left-content">{{leftContent}}</span>
      </ion-card-header>

      <ion-card-content style="margin: 4px;">
        <!-- T A R G E T   S E L E C T E D -->
        <div *ngIf="null != source" id="centered-container">
          <div *ngIf="getTargetClass() == 'ActoMedico'">
            <cc-acto-medico [container]="self" [node]="getTarget()" [variant]="'-TARGET-HEADER-'"></cc-acto-medico>
          </div>
          <div *ngIf="getTargetClass() == 'Especialidad'">
            <cc-especialidad [container]="self" [node]="getTarget()" [variant]="'-TARGET-HEADER-'"></cc-especialidad>
          </div>
          <div *ngIf="getTargetClass() == 'Medico'">
            <cc-medico [container]="self" [node]="getTarget()" [variant]="'-TARGET-HEADER-'"></cc-medico>
          </div>
        </div>
        <!-- D A T E   S E L E C T E D -->
        <div class="target-date" id="centered-container">{{getAppointmentDateDisplay(getSelectedDate())}}</div>

        <!-- A P P O I N T M E N T   L I S T -->
        <div class="page-container-row">
          <div class="page-container-column" style="margin-right: 4px;">
            <div class="target-date">MAÑANAS</div>
            <div *ngFor="let cita of morningList" draggable [dragScope]="'-CITA-'" [dragData]="cita">
              <gs-cita [container]="self" [node]="cita" [variant]="'-GESTION-SERVICIO-'"></gs-cita>
            </div>
          </div>
          <div class="page-container-column">
            <div class="target-date">TARDES</div>
            <div *ngFor="let cita of eveningList" draggable [dragScope]="'-CITA-'" [dragData]="cita">
              <gs-cita [container]="self" [node]="cita" [variant]="'-GESTION-SERVICIO-'"></gs-cita>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>
