<!-- <ion-scroll scrollX="true"> -->
  <div *ngFor="let node of serviceList">
    <div class="new-medico-item">
      <div *ngIf="node.isService(); else renderDoctor">
        <span class="new-medico-label"><i class="fas fa-user-cog" aria-hidden="true"></i></span>
        <span class="new-medico-nombre">
          {{node.getNombre()}}
        </span>
      </div>
      <ng-template #renderDoctor class="page-container-row">
        <span class="new-medico-label"><i class="fas fa-user-md" aria-hidden="true"></i></span>
        <div class="page-container-column" style="margin: 2px; width: 100%;">
          <span class="new-medico-nombre">
            {{node.tratamiento}} {{node.getApellidos()}}, {{node.getNombre()}}
          </span>
          <span class="new-medico-especialidad">
            {{node.especialidad}}
          </span>
        </div>
      </ng-template>
    </div>
  </div>
<!-- </ion-scroll> -->
