// - D R O P
$interface-color: #1A53FF;
.drag-hint-border {
  animation: border-dance 4s infinite linear;
}

.drag-over-border {
  background-color: orangered !important;
}

.droppable-template-block {
  margin-top: 4px;
  margin-bottom: 4px;
  min-height: 33px;
  background-color: orangered;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, white 10px, white 20px);
  width: 100%;
}

.drop-content {
  background-color: white;
  opacity: 1.0;
  min-height: 29px;
  position: relative;
  top: 2px;
  left: 2px;
  bottom: -2px;
  right: -2px;
  width: calc(100% - 4px);
}

@keyframes border-dance {
  0% {
    background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
  }
  100% {
    background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
  }
}

// - B U T T O N 
// .save-template-button-positioning {
//   // margin-top: 8px;
//   // margin-bottom: 16px;
// }
// - F O R M   F I E L D S
.template-form-hora {
  width: 75%;
  margin-bottom: 4px;
}

.template-time-zone {
  background: beige;
  background-color: #C0C0FF;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: 900;
  margin: 0;
  padding: 4px 0;
  text-align: center;
}

// .droppable-template-block {
//   border: 2px dotted #505050;
//   min-height: 30px;
// }

// - C I T A   L I S T
.cita4-template-block {
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 2px;
  padding: 3px;
  .drag-over-border {
    color: blue;
    margin-bottom: 20px;
  }
}

.cita4-template-button-bar {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  cursor: pointer;
}

.cita4-template-remove {
  color: red;
  padding-left: 8px;
}

// -----------------------------------------------------
$margin-base: 4px;
// .cita4-template-block {}
// .cita4-template-droparea {
//   .drag-over-border {
//     color: blue;
//     margin-top: 15px;
//   }
// }
//--- I M P O R T    VA R I A B L E S
// @import "../../../../../../styles/_scss_variables.scss";
// // - F O R M   F I E L D S
// .template-form-hora {
//   width: 75%;
//   margin-bottom: 4px;
// }
// .template-panel-right {
//   display: inline-block;
//   width: 49%;
//   padding: 0px;
// }
// .template-panel-left {
//   display: inline-block;
//   width: 49%;
//   padding: 0px;
// }
.build-template-label {
  color: #505050;
  font-size: 13px;
  margin: 0 0 2px;
}

.template-form-group {
  margin-top: $margin-base;
}

// .template-form-nombre {
//   padding: 2px 8px;
//   width: 30vw;
// }
.template-build-section {
  border: 1px solid black;
  border-radius: 8px;
  display: inline-block;
  padding: 4px;
}

// .template-time-zone-tt {
//   background: beige;
//   background-color: #C0C0FF;
//   font-weight: 900;
//   margin: 0;
//   padding: 4px 0;
//   text-align: center;
// }
.template-slot-period {
  display: inline-block;
  font-family: 'Prototype', sans-serif;
  font-size: 18px;
  line-height: 1.0;
  margin-right: 6px;
  min-width: 105px;
  padding: 2px 0 2px $margin-base;
  width: 115px;
}

.template-slot-duration {
  color: blue; // display: inline-block;
  font-family: 'Prototype', sans-serif;
  font-size: 18px;
  line-height: 1.0;
  margin-right: 6px;
  min-width: 45px;
  padding: 2px 0 2px 8px;
}

.template-slot-tipo {
  position: relative;
  top: -3px;
}

.template-slot-special {
  color: #E65C00;
}

.save-button {
  border-radius: 8px;
  color: white;
  font-size: 20px;
  line-height: 1.0;
  padding: 8px 32px 8px 8px;
  text-align: left;
  width: auto;
}

.save-label {
  font-family: 'Proxima Nova', sans-serif;
  margin-left: 15px;
}

.saving-label {
  color: blue;
  margin-left: 16px;
}