<!-- T E M P L A T E   D E F I N I T I O N -->
<div *ngIf="show">
  <div>
    <ion-card>
      <!-- H E A D E R -->
      <ion-card-header>
        <ion-label text-wrap class="cc-container-title">
          <span>{{title}}</span>
        </ion-label>
      </ion-card-header>

      <!-- T E M P L A T E   D E F I N I T I O N -->
      <ion-card-content class="cc-card-margin">
        <form #templateCreationForm="ngForm" class="" autocomplete="off">
          <!-- S A V E   B U T T O N -->
          <app-button-v2 id="centered-container" class="save-template-button-positioning" [title]="'Guardar Cambios'"
                         [activationTitle]="'Guardardando Cambios'" [disabled]="!savePending"
                         [standByIcon]="'fas fa-save'" [styleClass]="'green-button'"
                         (activateAction)="onSaveTemplate($event)"></app-button-v2>
          <!-- N A M E   F I E L D -->
          <div class="cc-form-group">
            <label for="nombre">NOMBRE</label>
            <input type="text" class="form-control cc-form-control" id="nombre" required minlength="3"
                   maxlength="50" [(ngModel)]="templateUnderControl.nombre" name="nombre" #nombre="ngModel"
                   (focusout)="onNameBlur()">
            <div [hidden]="nombre.valid" class="alert alert-danger">
              <div *ngIf="nombre.errors?.required">
                Es necesario definir un nombre para el template.
              </div>
              <div *ngIf="nombre.errors?.minlength">
                El nombre debe tener al menos 3 caracteres y un máximo de 50.
              </div>
            </div>
          </div>
          <div class="page-container-row">
            <!-- M O R N I N G   S E C T I O N -->
            <div style="min-width: 170px; margin-left: 4px;">
              <div class="cc-form-group">
                <label for="tmhoraInicio">Mañana - Hora de Inicio</label>
                <input type="time" class="form-control cc-form-control template-form-hora" id="tmhoraInicio"
                       [(ngModel)]="templateUnderControl.tmhoraInicio" name="tmhoraInicio"
                       #tmhoraInicio="ngModel" (focusout)="onMorningTimeBlur()">
              </div>
              <div class="template-time-zone">
                MANAÑA
              </div>
              <div style="border: 1px solid darkgray;">
                <div *ngFor="let slot of getMorningData()">
                  <div class="cita4-template-block">
                    <div class="cita4-template-droparea page-container-row" droppable [dropScope]="'-ALLOWED-'"
                         (onDrop)="onBlockDropOver($event, slot, '-MORNING-')">
                      <cita4-template [node]="slot" style="flex-grow: 2;" (optionChange)="onDetectChanges($event)"></cita4-template>
                      <div class="cita4-template-button-bar">
                        <span (click)="removeMorningSlot(slot)">
                          <i class="fas fa-times cita4-template-remove" aria-hidden="true"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div droppable [dropScope]="'-ALLOWED-'" class="droppable-template-block" (onDrop)="onBlockDrop($event, '-MORNING-')">
                  <div class="drop-content">
                    &nbsp;
                  </div>
                </div>
              </div>
            </div>
            <!-- E V E N I N G   S E C T I O N -->
            <div style="min-width: 170px; margin-left: 4px;">
              <div class="cc-form-group">
                <label for="tthoraInicio">Tarde - Hora de Inicio</label>
                <input type="time" class="form-control cc-form-control template-form-hora" id="tthoraInicio"
                       [(ngModel)]="templateUnderControl.tthoraInicio" name="tthoraInicio"
                       #tthoraInicio="ngModel" (focusout)="onEveningTimeBlur()">
              </div>
              <div class="template-time-zone">
                TARDE
              </div>
              <div style="border: 1px solid darkgray;">
                <div *ngFor="let slot of getEveningData()">
                  <div class="cita4-template-block">
                    <div class="cita4-template-droparea page-container-row" droppable [dropScope]="'-ALLOWED-'"
                         (onDrop)="onBlockDropOver($event, slot, '-EVENING-')">
                      <cita4-template [node]="slot" style="flex-grow: 2;" (optionChange)="onDetectChanges($event)"></cita4-template>
                      <div class="cita4-template-button-bar">
                        <span (click)="removeEveningSlot(slot)">
                          <i class="fas fa-times cita4-template-remove" aria-hidden="true"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div droppable [dropScope]="'-ALLOWED-'" class="droppable-template-block" (onDrop)="onBlockDrop($event, '-EVENING-')">
                  <div class="drop-content">
                    &nbsp;
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</div>
