<div [@expandCollapse]="openSelection ? 'expanded' : 'collapsed'" *ngIf="openSelection; else showSelectedService"
     class="dropdown-service">
  <!-- S E R V I C E   L I S T -->
  <div *ngFor="let node of serviceList">
    <cc-medico class="" [node]="node" [container]="self" [variant]="'-SERVICE-SELECTION-'" (click)="doSelection(node)"></cc-medico>
  </div>
</div>
<ng-template #showSelectedService>
  <cc-medico class="header-service dropdown-service collapsed-service" [node]="getSelectedService()"
             [container]="self" [variant]="'-SERVICE-SELECTION-'" (click)="activateSelection()"></cc-medico>
</ng-template>
