<div class="cita-item">
  <span class="cita-slot">{{node.getHour() | number :'2.0-0'}}:{{node.getMinutes() | number
    :'2.0-0'}}</span>
  <span class="cita-shortdate">{{node.fecha}}</span>
  <span class="cita-tiempoRequerido">{{node.huecoDuracion}}</span>
  <span (click)="removeAppointment()" style="float: right;">
    <i class="fas fa-times cc-card-remove-icon" id="ts18" aria-hidden="true"></i>
  </span>
</div>
