.cita-item {
  border       : 1px solid black;
  border-radius: 5px;
  display      : table;
  margin-bottom: 2px;
  padding      : 4px;
  width        : 100%;
}

.cita-slot {
  display     : inline-table;
  font-family : 'Prototype';
  font-size   : 18px;
  line-height : 18px;
  margin-right: 4px;
  width       : 3em;
}

.cita-shortdate {
  font-family : 'Prototype';
  font-size   : 14px;
  line-height : 18px;
  margin-right: 4px;
}

.cita-tiempoRequerido {
  color      : orange;
  display    : inline-block;
  // float      : right;
  font-family: 'Prototype', sans-serif;
  font-size  : 15px;
  margin     : 4px;
}
