.label-target-selected {
  display: table-cell;
  margin-right: 4px;
  vertical-align: middle;
  padding-right: 4px;
}

.calendar-button {
  border-radius: 8px;
  // margin-right : 8px;
  font-family  : 'Prototype';
  font-size    : 20px;
}

.calendar-monthname {
  font-family: 'Proxima Nova', sans-serif;
  font-size  : 30px;
  font-weight: 300;
  margin-top : 10px;
}

.refresh-button {
  font-size  : 30px;
  margin-left: 12px;
}
