// - B U T T O N   D E F I N I T I O N  V A R I A B L E S
$blue-button-color: #4D79FF;
$disabled-button-color: #D0D0D0;

// - B U T T O N   C O M M O N   S T Y L E S
// .btn {
//   min-width: 50%;
// }

.button-size {
  // min-width: 40%;
  max-width: 95%;
}

%color-button {
  background: transparent;
  border-radius: 8px;
  font-family: 'Prototype', sans-serif;
  font-size: 24px;
  margin-bottom: 16px;
  text-transform: UPPERCASE;
  white-space: normal;
  line-height: 1.0;
  padding: 12px;
}

// - B L U E   B U T T O N
// .login-button {
//   @extend %color-button;
//   border: 4px solid $blue-button-color;
//   color: $blue-button-color;
// }

// .login-button:disabled {
//   border: 4px solid $disabled-button-color;
//   color: $disabled-button-color;
// }

// .login-button:hover {
//   background: $blue-button-color;
//   color: white;
// }

// .login-button:hover:disabled {
//   background: transparent;
//   color: $disabled-button-color;
// }
