<div>
  <ion-card>
    <ion-card-header>
      <span id="login-panel-header" class="cc-container-title">{{title}}</span>
      <!-- <span (click)="closeCalendar()">
        <i class="fas fa-times cc-card-remove-icon" id="ts24"aria-hidden="true"></i>
      </span> -->
    </ion-card-header>

    <ion-card-content style="margin: 8px;">
      <form [formGroup]="credentialForm" autocomplete="off">
        <!-- <div class="login-title">Identificación de Credenciales de Médico/Servicio</div> -->
        <!-- N I F / C I F / N I E -->
        <div class="cc-form-group">
          <label for="identificador">NIF/NIE</label>
          <input id="identificador" type="text" required class="form-control cc-form-control"
                 formControlName="identificador" (keyup)="onKeyUpIdentificador()" #spy>
          <div *ngIf="identificador.invalid && (identificador.dirty || identificador.touched)"
               class="alert alert-danger">
            <div *ngIf="identificador.errors?.required">
              NIF de autentificación es un campo obligatorio.
            </div>
            <div *ngIf="identificador.errors?.minlength">
              NIF de autentificación debe tener 9 caracteres. Ocho dígitos y una letra.
            </div>
            <div *ngIf="identificador.errors?.validNIF">
              NIF introducido no es válido. Número o letra incorrectos.
            </div>
          </div>
          <!-- <div *ngIf="development">
            Identificador errors: {{serializeErrors(identificador.errors)}}
            Identificador errors processing: required {{identificador.errors.required}}
            Identificador errors processing: minlength {{identificador.errors.minlength}}
            Identificador errors processing: validNIF {{identificador.errors.validNIF}}
          </div> -->
        </div>
        <!-- C O N T R A S E Ñ A -->
        <div class="citamed-form-group">
          <label for="password">Contraseña</label>
          <input id="password" type="password" required class="form-control cc-form-control" style="font-family: Roboto;"
                 formControlName="password" #spy>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors?.required">
              Contraseña es un campo requerido.
            </div>
            <div *ngIf="password.errors?.minlength">
              Contraseña debe tener al menos 4 caracteres.
            </div>
          </div>
          <!-- <div *ngIf="development">
            Password class: {{spy.className}}
          </div> -->
        </div>

        <!-- L O G I N   B U T T O N -->
        <div *ngIf="development">
          Form Validation state: form {{credentialForm.valid}} nif {{nifvalido}} result
          {{!credentialForm.valid || !nifvalido}}
        </div>
        <app-button id="login-button" class="centered-container" style="margin-top: 32px; min-width: 200px;"
                    [title]="'Entrar'" [activationTitle]="'Procesando validación de credenciales...'"
                    [standByIcon]="'fas fa-sign-in-alt'" [styleClass]="'green-button'" [disabled]="!credentialForm.valid"
                    (activateAction)="onSubmitLogin()"></app-button>

        <!-- <div id="centered-container" style="margin-top: 32px;">
          <button type="submit" class="btn login-button" [disabled]="!credentialForm.form.valid || !nifvalido"
                  style="min-width: 200px;">
            <div *ngIf="!signalError">
              <span *ngIf="downloading"><i class="fa fa-cog fa-spin" id="ts24" style="margin-right: 10px;"aria-hidden="true"></i>Procesando
                validación de credenciales...</span>
              <i class="fa fa-sign-in" id="ts24" style="margin-right: 10px;"aria-hidden="true"></i>
              <span *ngIf="!downloading">Entrar</span>
            </div>
            <div *ngIf="signalError">
              <span><i class="fa fa-ban" id="ts24" style="background-color: red;margin-right: 10px;"aria-hidden="true"></i>Error
                en validación credenciales</span>
              <span *ngIf="!downloading">Entrar</span>
            </div>
          </button>
        </div> -->
      </form>
    </ion-card-content>
  </ion-card>
</div>
