<ion-header>
  <ion-navbar>
    <ion-title class="menu-title">GDPR</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-label class="splash-app-name" id="centered-container" style="font-size: 50px;">
    Citas
  </ion-label>
  <ion-label class="splash-app-name" id="centered-container" style="font-size: 50px;">
    Paciente
  </ion-label>
  <ion-label text-center class="gdpr-title">
    Nuevo reglamento de<br>
    Protección de Datos
  </ion-label>
  <ion-label text-center text-wrap class="gdpr-content" >
    En cumplimiento del nuevo Reglamento de Protección de Datos, <b>necesitamos su consentimiento</b> para almacenar temporalmente algunos de los datos y así poder seguir ofreciendole nuestro servicio de reserva de citas gestionadas con nuestros proveedores de servicios médicos.<br><br>
    A continuación, le explicamos claramente <b>para qué y cómo utilizamos sus datos</b>.<br>
    <b>Podrá retirar el consentimiento</b> siempre que quiera y eso supondrá la eliminación de sus datos de nuestros sistemas y la cancelación de la prestación del servicio de localización de médicos.
  </ion-label>
  <div class="citamed-block"id="centered-container">
    <button ion-button class="cp-button button-color-blue" id="bt-height3" (click)="onAccept()">Dar consentimiento</button>
  </div>
  <div class="citamed-block"id="centered-container">
    <button ion-button class="cp-button button-color-orange" id="bt-height3" (click)="onShowRights();">Derechos</button>
  </div>
</ion-content>
