<!-- P A G E   C O N T E N T -->
<div *ngIf="show">
  <ion-card class="app-card">
    <ion-card-header class="app-card-header">
      <span class="cc-container-title">{{title}}</span>
      <span *ngIf="canBeClosed" (click)="closePanel()">
        <i class="fas fa-times cc-card-remove-icon" id="ts24"></i>
      </span>
      <span *ngIf="downloading" style="float: right;">
        <i class="fas fa-cog fa-spin cc-card-cog-icon" id="ts22"></i>
      </span>
      <span class="cc-container-title-left-content">{{leftContent}}</span>
    </ion-card-header>

    <ion-card-content style="margin: 4px;">
      <!-- T A R G E T   S E L E C T E D -->
      <!-- <service-selected-render [container]="self" [node]="getSource()"></service-selected-render> -->
      <!-- <div *ngIf="source" id="centered-container">
          <div *ngIf="getTargetClass() == 'ActoMedicoCentro'" style="display: inline-block; cursor: context-menu;">
            <cc-acto-medico [container]="self" [node]="getTarget()" [variant]="'-TARGET-HEADER-'"></cc-acto-medico>
          </div>
          <div *ngIf="getTargetClass() == 'Especialidad'" style="display: inline-block; cursor: context-menu;">
            <cc-especialidad [container]="self" [node]="getTarget()" [variant]="'-TARGET-HEADER-'"></cc-especialidad>
          </div>
          <div *ngIf="getTargetClass() == 'Medico'" style="display: inline-block; cursor: context-menu;">
            <cc-medico [container]="self" [node]="getTarget()" [variant]="'-TARGET-HEADER-'"></cc-medico>
          </div>
        </div> -->

      <!-- M O N T H   S E L E C T O R -->
      <!-- <div id="centered-container" style="margin-top: 6px; margin-bottom: 6px;">
          <button class="btn btn-primary calendar-button" mwlCalendarPreviousView [view]="view"
                  [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
            Anterior
          </button>
          <button class="btn btn-light calendar-button" style="margin-left: 8px; margin-right: 8px;"
                  mwlCalendarToday [(viewDate)]="viewDate">
            HOY
          </button>
          <button class="btn btn-primary calendar-button" mwlCalendarNextView [view]="view"
                  [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
            Siguiente
          </button>
          <span *ngIf="!downloading" (click)="activateRefresh()" class="refresh-button"><i class="fas fa-refresh"></i></span>
          <span *ngIf="downloading" class="refresh-button"><i class="fas fa-refresh fa-spin"></i></span>
        </div> -->
      <div class="row text-center" style="display: block;">
        <span class="calendar-monthname">{{ viewDate | calendarDate:(view +
          'ViewTitle'):'es' }}</span>
      </div>

      <!-- C A L E N D A R   C O M P O N E N T -->
      <!-- <div *ngIf="variant === '-DEFAULT-'"> -->
      <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh" [locale]="'es'"
                               (dayClicked)="dayClicked($event)" [cellTemplate]="customCellStatus"
                               [weekStartsOn]="1">
      </mwl-calendar-month-view>
      <!-- </div> -->
    </ion-card-content>
  </ion-card>
</div>
