<div class="header-panel">
  <div class="header-credential">{{getCredentialName()}}</div>
  <!-- <div class="header-label">Servicio<br>Seleccionado</div>
  <cc-medico class="header-service" *ngIf="isServiceActive()" [node]="getSelectedService()"
             [container]="self" [variant]="'-HEADER-'" (click)="activateSelector()"></cc-medico> -->
</div>
