<!-- H E A D E R -->
<gs-header-panel id="gs-header-panel" [source]="getSelectedService()" (activation)="onOpenSelectionPage($event)"></gs-header-panel>
<!-- D E F I N I C I O N   C A L E N D A R I O   P A G E -->
<div class="page-container page-container-row">
  <!-- S T A R T   C O N F I G U R A T I O N : S E R V I C E   L I S T -->
  <gs-service-select-panel id="gs-service-select-panel" class="page-card" [show]="activateSelection"
                           [container]="self" [title]="'Seleccione un Médico/Servicio'" (service)="onServiceSelected($event)"></gs-service-select-panel>
  <!-- S E R V I C E   C O N F G U R A T I O N : S E R V I C E   O P E R A T I O N -->
  <div *ngIf="!activateSelection">
    <!-- T O O L B A R -->
    <dc-toolbar-panel id="dc-toolbar-panel" (update)="onUpdateContents($event)"></dc-toolbar-panel>
    <!-- C A L E N D A R   P A N E L -->
    <dc-month-calendar-panel id="dc-month-calendar-panel" class="page-card" [show]="true"
                             [container]="self" [source]="selectedService" [title]="'Creación de Citas'"
                             [variant]="'-DEFINICION-CALENDARIO-'" (selectedDate)="onSelectedDate($event)"></dc-month-calendar-panel>
    <!-- T E M P L A T E   L I S T -->
    <dc-template-list id="dc-template-list" class="page-card" [show]="true" [container]="self"
                      [title]="'Plantillas Disponibles'"></dc-template-list>
  </div>
</div>
<!-- M E N U B A R -->
<ui-menu-bar id="ui-menu-bar"></ui-menu-bar>
