//--- I M P O R T    VA R I A B L E S
// @import "../../../../../styles/_scss_variables.scss";

.template-menu-icon {
  color        : #007BFF;
  font-size    : 24px;
  margin-bottom: 8px;
  cursor: pointer;
}

.template-menu-icon:hover {
  color: #0056B3;
}
