//--- R E P L A C I N G   S T Y L E S

//--- I O N I C   C A R D  &   C O N T E N T
.card {
  border-radius: 8px;
  opacity      : 0.95;
}

.cm-card-title {
  font-family   : 'Proxima Nova Black';
  font-size     : calc(21px + (31 - 21) * ((100vw - 720px) / (1600 - 720)));
  padding-bottom: $margin-1;
}

.card-header {
  padding: 8px;
}

.cm-card-header {
  padding: 8px;
}

.cm-card-header-margin {
  margin-bottom: 16px;
}

//--- A P P O I N T M E N T   S T Y L E S
.cm-appointment {
  border       : 1px solid black;
  border-radius: 5px;
  display      : table;
  margin-bottom: 2px;
  padding      : 4px;
  width        : 100%;
  // cursor: context-menu;
}

.cm-appointment-slot {
  display     : inline-table;
  font-family : 'Prototype';
  font-size   : 18px;
  line-height : 18px;
  margin-right: 4px;
  width       : 3em;
}

.cm-appointment-shortdate{
  font-family : 'Prototype';
  font-size   : 14px;
  line-height : 18px;
  margin-right: 4px;
}

.cm-appointment-duration {
  color         : orange;
  font-family   : 'Prototype';
  font-size     : 14px;
  margin-left   : 4px;
  margin-right  : 4px;
  vertical-align: middle;
}

.container-title {
  font-family   : 'Proxima Nova Black';
  font-size     : calc(21px + (31 - 21) * ((100vw - 720px) / (1600 - 720)));
  padding-bottom: $margin-1;
}


// .cita-calendar-button {
//   border-radius: 8px;
//   margin-right : 8px;
//   font-family  : 'Prototype';
//   font-size    : 20px;
// }

// .cita-calendar-monthname {
//   font-family: 'Proxima Nova', sans-serif;
//   font-size  : 30px;
//   font-weight: 300;
//   margin-top : 10px;
// }

//--- C O M P O N E N T S   R E N D E R   C O M M O N   S T Y L E S

.cm-especialidad {
  background-color: #8080ff;
  border          : 1px solid #8080ff;
  border-radius   : 8px;
  color           : white;
  display         : inline-block;
  font-family     : 'Proxima Nova', sans-serif;
  font-size       : 18px;
  font-weight     : 600;
  margin-left     : 4px;
  margin-top      : 4px;
  padding         : 4px;
}



// $speciality-item-color: #0040ff; // 50%
// $speciality-item-background: #ccd9ff; // 90%

// .antialiased-speciality-border {
//   border    : 2px solid $speciality-item-color;
//   // box-shadow: inset 0 0 1px 0 $speciality-item-color, 0 0 1px 0 $speciality-item-color;
// }
//
// .antialiased-speciality-border:hover {
//   background-color: $speciality-item-background;
// }
// $medico-item-color: #0099ff; // 50%
// $medico-item-background: #ccebff; // 90%
//
// .antialiased-medico-border {
//   border    : 2px solid $medico-item-color;
//   // box-shadow: inset 0 0 1px 0 $medico-item-color, 0 0 1px 0 $medico-item-color;
// }
//
// .antialiased-medico-border:hover {
//   background-color: $medico-item-background;
// }
