//--- V A R I A B L E   D E F I N I T I O N S
$margin-base: 4px;
$margin-1: calc(#{$margin-base}*1);
$margin-2: calc(#{$margin-base}*2);
$margin-3: calc(#{$margin-base}*3);
$margin-4: calc(#{$margin-base}*4);
$margin-wide: calc(#{$margin-base}*4);
$margin-normal: calc(#{$margin-base}*3);
$margin-narrow: calc(#{$margin-base}*2);
$margin-extra-narrow: calc(#{$margin-base}*1);
$border-radius-base: 4px;
$border-radius-circular: calc(#{$border-radius-base}*3);
$border-radius-wide: calc(#{$border-radius-base}*2);
$border-radius-narrow: calc(#{$border-radius-base}*1);

//--- T W O   P A N E L   P A G E
@media(min-width: 801px) {
  .responsive-twocol {
    margin-left : $margin-normal;
    margin-right: $margin-normal;
  }

  .responsive-gutter {
    display: inline-block;
  }

  .citamed-panelleft {
    background-color: white;
    border-radius   : $border-radius-wide;
    display         : inline-block;
    opacity         : 0.8;
    padding         : $margin-narrow;
    // width           : 49%;
  }

  .citamed-panelright {
    background-color: white;
    border-radius   : $border-radius-wide;
    float           : right;
    opacity         : 0.8;
    padding         : $margin-narrow;
    // width           : 48%;
  }
}
@media(max-width: 800px) {
  .responsive-twocol {
    margin-left : $margin-narrow;
    margin-right: $margin-narrow;
  }

  .responsive-gutter {
    display: inline-block;
  }

  .citamed-panelleft {
    background-color: white;
    border-radius   : $border-radius-wide;
    display         : inline-block;
    opacity         : 0.8;
    padding         : $margin-narrow;
    width           : 49%;
  }

  .citamed-panelright {
    background-color: white;
    border-radius   : $border-radius-wide;
    float           : right;
    opacity         : 0.8;
    padding         : $margin-narrow;
    width           : 48%;
  }
}

//--- P A N E L   E L E M E N T S
// @media(min-width: 801px) {
//   .container-title {
//     font-family   : 'Proxima Nova Black';
//     font-size     : calc(26px + (50 - 26) * ((100vw - 480px) / (1600 - 480)));
//     padding-bottom: $margin-narrow;
//   }
// }
// @media(max-width: 800px) {
//   .container-title {
//     font-family   : 'Proxima Nova Black';
//     font-size     : calc(26px + (50 - 26) * ((100vw - 480px) / (1600 - 480)));
//     padding-bottom: $margin-extra-narrow;
//   }
// }



@media (max-width: 1200px) {
  // .container-title {
  //   padding-bottom: 10px;
  //   line-height   : 1.5;
  //   font-family   : 'Proxima Nova Black';
  //   font-size     : 2.5rem;
  // }
  .citamed-form-tratamiento {
    min_width: 80px;
    width    : 15%;
  }

  .citamed-form-referencia {
    width: 40%;
    width: 200px;
  }

  .citamed-form-nombre {
    width: 80%;
  }

  .citamed-form-apellidos {
    width: 80%;
  }

  .citamed-form-especialidad {
    width: 50%;
  }

  .citamed-form-localidad {
    width: 50%;
  }

  .citamed-form-direccion {
    width: auto;
  }

  .citamed-form-fecha {
    max-width: 30%;
    min-width: 120px;
    width    : 20%;
  }
}
@media (max-width: 768px) {
  // .container-title {
  //   padding-bottom: 10px;
  //   line-height   : 1.2;
  //   font-family   : 'Proxima Nova Black';
  //   font-size     : 2.0rem;
  // }
  .citamed-form-tratamiento {
    min_width: 80px;
    width    : 25%;
  }

  .citamed-form-referencia {
    width: 40%;
    width: 200px;
  }

  .citamed-form-nombre {
    width: 90%;
  }

  .citamed-form-apellidos {
    width: 90%;
  }

  .citamed-form-especialidad {
    width: 50%;
  }

  .citamed-form-localidad {
    width: 50%;
  }

  .citamed-form-direccion {
    width: auto;
  }

  .citamed-form-fecha {
    max-width: 40%;
    min-width: 120px;
    width    : 40%;
  }
}
@media (max-width: 480px) {
  // .container-title {
  //   padding-bottom: 10px;
  //   line-height   : 1.0;
  //   font-family   : 'Proxima Nova Black';
  //   font-size     : 1.5rem;
  // }
  .citamed-form-tratamiento {
    min_width: 80px;
    width    : 35%;
  }

  .citamed-form-referencia {
    width: 40%;
    width: 200px;
  }

  .citamed-form-nombre {
    width: 95%;
  }

  .citamed-form-apellidos {
    width: 95%;
  }

  .citamed-form-especialidad {
    width: 50%;
  }

  .citamed-form-localidad {
    width: 50%;
  }

  .citamed-form-direccion {
    width: auto;
  }

  .citamed-form-fecha {
    max-width: 50%;
    min-width: 120px;
    width    : 50%;
  }
}
