//  PROJECT:     CitaMed.frontend(CITM.A6F)
//  AUTHORS:     Adam Antinoo - adamantinoo.git@gmail.com
//  COPYRIGHT:   (c) 2018 by Dimensinfin Industries, all rights reserved.
//  ENVIRONMENT: Angular 6.
//  DESCRIPTION: CitaMed. Sistema S2. Aplicación Angular adaptada para que los médicos puedan cargar sus
//               planillas de huecos de citas en el repositorio indicado de forma que los pacientes puedan
//               reservarlos. Tiene como backend el S1 de CitaMed.
//--- I M P O R T S
/*--- APPLICATION STYLES VARIABLES */
@import "./styles/_scss_variables.scss";

/*--- C O N T A I N E R S */
.citamed-container {
  margin-left : 10px;
  margin-right: 10px;
}

%citamed-panel {
  padding-left    : 10px;
  padding-right   : 10px;
  background-color: white;
  opacity         : 0.8;
  border-radius   : 10px;
  padding-bottom  : 20px;
}

.citamed-panelleft {
  @extend %citamed-panel;
  width  : 45%;
  display: inline-block;
}

.citamed-panelright {
  @extend %citamed-panel;
  width: 52%;
  float: right;
}

// #centered-container {
//   display        : flex;
//   justify-content: center;
// }

/*--- F O R M S */
.citamed-form {
  border          : 1px gray solid;
  border-radius   : 8px;
  margin          : 15px;
  height          : auto;
  padding         : 15px;
  background-color: #ffffffa0;
}

.citamed-form-control {
  font-size  : 18px;
  font-weight: 100;
  height     : auto;
}

.citamed-form-group {
  margin-left  : 25px;
  margin-right : 25px;
  margin-bottom: 12px;
}

.citamed-form-blocked {
  background-color: #E0E0E0;
}

.citamed-form-example{
  font-size: 14px;
}

.submit-button {
  // width           : 50%;
  font-size       : 24px;
  line-height     : 3;
  background-color: #4D79FF;
  color           : white;
  margin-bottom   : 15px;
}

.submit-button:hover {
  background-color: #0040FF;
}

.submit-button:disabled {
  // width           : 50%;
  font-size       : 24px;
  line-height     : 3;
  color           : white;
  margin-bottom   : 15px;
  background-color: #D0D0D0;
}

.clearform-button {
  // width           : 50%;
  font-size       : 24px;
  line-height     : 3;
  background-color: #FF6666;
  color           : white;
  margin-bottom   : 15px;
}

.clearform-button:hover {
  background-color: #FF0000;
}

.clearform-button:disabled {
  background-color: #D0D0D0;
}

label {
  font-size: 20px;
}

/*--- V A L I D A T I O N S */
.ng-valid.required,
.ng-valid[required] {
  border-left: 5px solid #42A948; // green
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; // red
}

.no-style .ng-valid {
  border-left: 1px solid #CCC;
}

.no-style .ng-invalid {
  border-left: 1px solid #CCC;
}
