// - M A R G I N   &   P O S I T I O N I N G
$margin-base: 4px;
.ui-leftmargin {
  margin-left: $margin-base;
}

// - P A G E
.page-container {
  background: transparent;
  margin-left: 38px;
}

.page-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap
}

.page-container-column {
  display: flex;
  flex-direction: column;
}

.page-card {
  display: inline-block;
  width: auto;
  vertical-align: top;
}

.page-card-last {
  display: inline-block;
  width: auto;
  vertical-align: top;
}

// - O V E R R I D E N   S T Y L E S
$card-header-color: #9999FF;
.card-header:first-child {
  border-radius: 6px;
}

.card-header {
  border-radius: 6px;
  background-color: $card-header-color;
  padding: 4px;
  color: white;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
  border: unset;
  opacity: 0.95;
}

.alert-danger {
  font-size: 14px;
  padding: 8px;
}

// - C A R D S
.cc-container-title {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 20px;
  font-weight: 900; // position: relative;
  // top: 3px;
  // padding: 4px;
  padding: 0px 4px;
}

.cc-container-title-left-content {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 18px;
  font-weight: 800;
  position: relative;
  top: 3px;
  padding-right: 4px;
  float: right;
}

.cc-card-remove-icon {
  color: red;
  padding-left: 8px;
  float: right;
  cursor: pointer;
}

.cc-card-cog-icon {
  color: #661AFF;
  font-size: 20px;
  float: right;
  position: relative;
  top: 2px;
}

.cc-card-margin {
  margin: 6px;
}

// - D A S H B O A R D
$interface-color: #1A53FF;
.dashboard-cell {
  background-color: white;
  min-height: 300px; // cursor: pointer;
  text-align: center;
  color: $interface-color;
  flex-grow: 1;
  flex-basis: 50%;
}

.dashboard-cell:hover {
  background-color: $interface-color;
  color: white;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.dashboard-cell-disabled {
  background-color: white;
  min-height: 300px;
  cursor: default;
  flex-grow: 1;
  flex-basis: 50%;
  background-color: #EEEEEE;
  color: #505050;
}

.dashboard-cell-title {
  font-family: 'Prototype', sans-serif;
  font-size: 30px;
  margin-top: 32px;
  margin-bottom: 16px; // text-align: center;
  cursor: pointer;
}

.dashboard-cell-icon {
  color: black;
  opacity: 0.1;
  position: absolute; // vertical-align: center;
  font-size: 120px;
}

// - F O R M   I T E M S   &   C O N T R O L S
$grey-border-color: #495057;
$yellow-border-color: #E6E600;
.cc-form-group {
  margin-bottom: 8px;
}

.cc-form-control {
  font-size: 16px;
  font-weight: 600;
  height: auto;
  line-height: 1.0;
  padding: 4px;
}

label {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}

.editable-form-item {
  border: 1px solid #CED4DA;
  border-left: 5px solid $yellow-border-color;
  display: block;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: $grey-border-color;
  background-color: white;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 16px;
  font-weight: 600;
  height: auto;
  line-height: 1.0;
}

.untouchable-form-item {
  border: 1px solid #CED4DA;
  padding-left: 6px;
  border-left: 5px solid #909090;
  display: block;
  padding: 6px;
  color: $grey-border-color;
  background-color: white;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 16px;
  font-weight: 600;
  height: auto;
  line-height: 1.0;
}

.novalidation-form-item {
  padding-left: 9px;
}

#centered-container {
  display: flex;
  justify-content: center;
}

.centered-container {
  display: flex;
  justify-content: center;
}

// - F O R M   V A L I D A T I O N S
.ng-valid.required,
.ng-valid[required] {
  border-left: 5px solid #42A948; // green
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; // red
}

.no-style .ng-valid {
  border-left: 1px solid #CCC;
}

.no-style .ng-invalid {
  border-left: 1px solid #CCC;
}

//--- C A L E N D A R   C E L L   S T Y L E S
.cell-selected {
  background-color: #E6B3FF;
}

.cell-disallowed {
  background-color: #FFCCB3;
}

.cell-today {
  background-color: #9999FF;
}

.cell-past {
  background-color: #E6E6E6;
}

.cell-hasfree {
  background-color: #AAFF80;
}

.cell-reserved {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  padding: 2px;
}

.cell-daynumber {
  margin-right: 3px;
}

// - T O O L T I P
.cc-tooltip {
  position: relative;
  display: inline-block;
}

.cc-tooltip .tooltiptext {
  visibility: hidden;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: #404040;
  color: white;
  width: 400px;
  padding: 4px;
  border-radius: 4px;
  opacity: 0.7;
  transition: background-color 0.3s ease-in, visibility 0.3s ease-in, height 0.3s ease-in;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 100;
}

.cc-tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip-right {
  top: -5px;
  left: 125%;
}

.tooltip-left {
  top: -5px;
  right: 105%;
}

.tooltip-top {
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip-bottom {
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
}

// - C O M P O S I N G   R O W S
.cc-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

//--- A N T I A L I A S E D   B O R D E R S
.antialiased-red-border {
  border: 2px solid red;
  box-shadow: inset 0 0 1px 0 red, 0 0 1px 0 red;
}

.antialiased-green-border {
  border: 2px solid green;
  box-shadow: inset 0 0 1px 0 green, 0 0 1px 0 green;
}

.antialiased-blue-border {
  border: 2px solid blue;
  box-shadow: inset 0 0 1px 0 blue, 0 0 1px 0 blue;
}

// - T O O L B A R
.cc-toolbar-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap
}

.cc-toolbar-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-right: 8px;
}

.cc-toolbal-title {
  font-family: 'Prototype', sans-serif;
  font-size: 16px;
}

.toolbar-bars {
  font-size: 13px;
}

.toolbar-tool {
  padding: 4px;
  margin-right: 4px;
  text-align: center;
  cursor: pointer;
}

.toolbar-dropable-tool {
  text-align: center;
  border: 1px dotted red;
  padding: 4px;
  cursor: default;
  margin-right: 4px;
}

.toolbar-icon {
  font-size: 32px;
  color: #202020;
  margin-right: 8px;
}

.toolbar-label {
  font-family: 'Prototype', sans-serif;
  font-size: 19px;
  font-weight: 300;
  color: black;
}

// - N O T I F I E R
.notifier-message {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: white;
}

.notifier-title {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 19px;
  font-weight: 800;
}

.to-title {
  font-size: 20px;
}