/*//  PROJECT:     CitaMed.frontend(CITM.A6F)
//  AUTHORS:     Adam Antinoo - adamantinoo.git@gmail.com
//  COPYRIGHT:   (c) 2018 by Dimensinfin Industries, all rights reserved.
//  ENVIRONMENT: Angular 6.
//  DESCRIPTION: CitaMed. Sistema S2. Aplicación Angular adaptada para que los médicos puedan cargar sus
//               planillas de huecos de citas en el repositorio indicado de forma que los pacientes puedan
//               reservarlos. Tiene como backend el S1 de CitaMed.
/* F O N T S */

@font-face {
  font-family: 'Proxima Nova Black';
  src: url('/assets/fonts/Proxima Nova Alt Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: url('/assets/fonts/Proxima Nova Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: url('/assets/fonts/Proxima Nova Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: url('/assets/fonts/Proxima Nova Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: url('/assets/fonts/Proxima Nova Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}

.proxima-ff {
  font-family: 'Proxima Nova', sans-serif;
}

.proxima-black-ff {
  font-family: 'Proxima Nova Black';
}

@font-face {
  font-family: 'Prototype', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/Prototype.ttf");
}

.prototype-ff {
  font-family: "Prototype";
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Roboto Black';
  src: url('/assets/fonts/Roboto-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}

.roboto-ff {
  font-family: "Roboto";
}

.roboto-black-ff {
  font-family: "Roboto Black";
}

/* S I Z E S */

#ts40 {
  font-size: 40px;
}

#ts36 {
  font-size: 36px;
}

#ts32 {
  font-size: 32px;
}

#ts30 {
  font-size: 30px;
}

#ts28 {
  font-size: 28px;
}

#ts26 {
  font-size: 26px;
}

#ts24 {
  font-size: 24px;
}

#ts22 {
  font-size: 22px;
}

#ts20 {
  font-size: 20px;
}

#ts18 {
  font-size: 18px;
}

#ts16 {
  font-size: 16px;
}

#ts14 {
  font-size: 14px;
}

#ts12 {
  font-size: 12px;
}

#ts11 {
  font-size: 11px;
}

#ts10 {
  font-size: 10px;
}

#ts9 {
  font-size: 10px;
}

#ts8 {
  font-size: 10px;
}

#label-small {
  font-size: 8px;
}

#label-medium {
  font-size: 12px;
}

#label-large {
  font-size: 16px;
}