/* MODAL STYLES
-------------------------------*/
jw-modal {
  /* modals are hidden by default */
  display: none;

  .jw-modal {
      /* modal container fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* z-index must be higher than .jw-modal-background */
      z-index: 1000;
       
      /* enables scrolling for tall modals */
      overflow: auto;

      .jw-modal-body {
          /* This s my personal configuration for the Citas panels. */
          display: block;
          padding: 0;
          border-radius: 8px;
          opacity: 0.95;
          width: 50%;
          margin-left: auto;
          margin-right: auto;
      }
  }

  .jw-modal-background {
      /* modal background fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* semi-transparent black  */
      background-color: #000;
      opacity: 0.75;
       
      /* z-index must be below .jw-modal and above everything else  */
      z-index: 900;
  }
}

body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}